/* Add here all your css styles (customizations) */
/*@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/
/*@media screen and (min-width: 0px) and (max-width: 425px) { 
	.element {
		border-top-width: 7px !important;
		border-left-width: 0px !important;
		border-right-width: 0px !important;
		border-bottom-width: 0px !important;
		border-color: #c6c6c6;
		border-style: solid !important;
		margin:0px !important;
		padding:0px !important;
	}
}*/
@media screen and (min-width: 426px) and (max-width: 768px) { 
	.element {
		border-top-width: 1px !important;
		border-left-width: 0px !important;
		border-right-width: 0px !important;
		border-bottom-width: 0px !important;
		border-color: #c6c6c6;
		border-style: solid !important;
		margin:0px !important;
		padding:0px !important;
	}
}
body {
	font-family: "myriad-pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "myriad-pro", sans-serif;
	letter-spacing: 1px;
}

a, p {
	font-family: "myriad-pro", sans-serif;
}

.footer3-bg-color {
	background-color : #df2626 !important ;
	font-family: "myriad-pro", sans-serif;
}

.footer2-bg-color {
	background-color : #697277 !important ;
	font-family: "myriad-pro", sans-serif;
}


.footer1-bg-color {
	background-color : #E1DFDF !important ;
	font-family: "myriad-pro", sans-serif;
}

.footer-bg-color {
	background-color : #ffffff !important ;
}
.dark-grey-title {
	color: #697277 !important;
}
.white-title {
	color: #ffffff !important;
}

.red-title {
	color: #df2626 !important;
}
.devider-bg-color-dark {
	border-top: 1px solid #697277;
}

.dropdown-menu-padding-20{
	border-top: 1px solid #697277;
}

.dropdown-menu-padding-20{
	padding: 20px !important;
}

.navbar-background-color{
	background-color: #FFF !important;
}

.menu-background-color{
	background-color: #fff !important;
}

.cart-account-margin-top {
	margin-top: 5px;
}

@media (max-width: 767px) { 
	.hide-slogan {
		visibility: hidden;
		margin-top: -40px;
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	.cart-account-margin-top {
		margin-top: 33px;
	}
	.hide-slogan {
		visibility: hidden;
	}
}
@media (min-width: 992px) { 
	.cart-account-margin-top {
		margin-top: 57px;
	}
	.hide-slogan {
		visibility: visible;
	}
	.padding-menu-buttons {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
}

.header-v4 .dropdown > a:after {
	content: ""; 
}

.header-v1 .dropdown > a:after {
	content: ""; 
}

.header-v1-logo-padding {
	padding: 8px;
}

/*Pour l'icone menu*/
.border-0 {
	border: 0px !important;
}

.padding-margin-0 {
	padding: 0px !important;
	margin: 0px !important;
}



/***************************************/
/*******         OFFRES          *******/
/***************************************/

/* SECTION ENVIRONNEMENT SECURITE */

.padding-10 {
	padding: 10px;
}

.devis-panel {}

@media (min-width: 768px) and (max-width: 991px) {
	.devis-panel {
		padding-top: 53px;	
	}
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.es-titre {
	font-size: 40px;
}

.es-sous-titre {
	font-size: 17px;
}

.es-p {
	font-size: 11px;
}

.es-sous-titre-footer {
	font-size: 16px;
}
.es-p--footer {
	font-size: 12px;
}

.chevron-size {
	font-size: 0.5em;
}
.question-size {
	font-size: 2em !important;
	background-color: #df2626 !important;
	color: #ffffff !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	padding-top: 8px !important;
	padding-bottom: 5px !important;
	margin-top: 20px;
	font-weight: 100;
}

.chevron-phone-size {
	font-size: 1.5em !important;
	background-color:#ffffff  !important;
	color: #df2626 !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	padding-top: 8px !important;
	padding-bottom: 5px !important;
	margin-top: 27px;
	font-weight: 100;
}
/* SECTION MEILLEURES VENTES */

.meilleures-ventes-panel {
	padding: 20px;
	box-shadow: 8px 7px 4px -6px #bbb;
}

.meilleures-ventes-price-left {
	margin: 0px 0px 0px 0px;
}

.meilleures-ventes-price-right {
	margin: 0px 0px 0px 0px;
}

.hr-mod {
	border-top: 1px dashed grey;
	padding-top: 20px;
}

.offers {
	font-size: 12px;
}

.mv-taille {
	font-size: 16px;
}

.mv-image-1 {}

@media (min-width: 992px) {
	.mv-image-1 {
		margin-bottom: 35px !important;
	} 
}

/* SECTION ABONNEMENTS */

.border-top {
	border-top: 3px solid #CDCDCD !important;
}

.border-bottom {
	border-bottom: 3px solid #CDCDCD;
}

.border-left {
	border-left: 3px solid #CDCDCD;
}

.border-right {
	border-right: 3px solid #CDCDCD;
}

.no-border-top {
	border-top-width: 0px !important;
}

.no-border-bottom {
	border-bottom: 0px solid #CDCDCD !important;
}

.border-bottom-black {
	border-bottom: 1px solid #000 !important;
}

.t-body {
	background-color: #fff !important;
}

.t-head {
	background-color: #CDCDCD !important;
	color: #BA0110;
	font-weight: bold;
}

.box-font {
	font-weight: bold;
}

.box-color {
	color: #BA0110;
}

.env-green {
	background-color: #72c02c;
}

.securite { border-left: solid 2px #f1c40f; }
.securite h2 { color: #f1c40f; }

.environnement { border-left: solid 2px #72c02c; }
.environnement h2 { color: #72c02c; }

.eau { border-left: solid 2px #3498db; }
.eau h2 { color: #3498db; }

.bruit-vibration { border-left: solid 2px #9b6bcc; }
.bruit-vibration h2 { color: #9b6bcc; }

.sea { border-left: solid 2px #1abc9c; }
.sea h2 { color: #1abc9c; }

.download { border-left: solid 2px #EC3C4D; }
.download  h2 { color: #EC3C4D !important; }

.pdf { border-left: solid 2px #EC3C4D; }

.bg-color-red-eti {
	background-color: #df2626 !important;
}

.color-red-eti {
	color: #df2626 !important;
}

.menu-environnement-text-size {
	font-size: 18px !important ;
}

.menu-offres-text-size {
	font-size: 19px !important ;
}

.pdf-badge {
	right: -12px !important;
}

.pdf-icon {
	color: #df2626;
	font-size: 25px;
}

.pdf-icon-background {
	padding: 14px 16px !important;
	background-color: #fff;
}


@media (min-width: 768px) and (max-width: 991px) {
	.sm-margin-top-10 {
		margin-top: 10px;
	}
	.sm-margin-top-20 {
		margin-top: 20px;
	}
	.sm-margin-top-30 {
		margin-top: 30px;
	}
	.sm-margin-top-40 {
		margin-top: 40px;
	}
	.sm-margin-top-45 {
		margin-top: 45px;
	}
	.sm-margin-top-50 {
		margin-top: 50px;
	}
	.sm-margin-top-55 {
		margin-top: 55px;
	}
	.sm-margin-top-60 {
		margin-top: 60px;
	}
}
@media (max-width: 767px) {
	.xs-margin-top-0 {
		margin-top: 0px !important; 
	}
	.xs-margin-top-2 {
		margin-top: 6px !important;
	}
	.xs-margin-top-10 {
		margin-top: 10px;
	}
	.xs-margin-top-20 {
		margin-top: 20px;
	}
	.xs-margin-top-30 {
		margin-top: 30px;
	}
	.xs-margin-top-40 {
		margin-top: 40px;
	}
	.xs-margin-top-45 {
		margin-top: 45px;
	}
	.xs-margin-top-50 {
		margin-top: 50px;
	}
	.xs-margin-top-55 {
		margin-top: 55px;
	}
	.xs-margin-top-60 {
		margin-top: 60px;
	}
}

@media (min-width: 992px) {
	.md-margin-top-0 {
		margin-top: 0px !important; 
	}
	.md-margin-top-2 {
		margin-top: 6px !important;
	}
	.md-margin-top-10 {
		margin-top: 10px;
	}
	.md-margin-top-20 {
		margin-top: 20px;
	}
	.md-margin-top-30 {
		margin-top: 30px;
	}
	.md-margin-top-35 {
		margin-top: 35px;
	}
	.md-margin-top-40 {
		margin-top: 40px;
	}
	.md-margin-top-45 {
		margin-top: 45px;
	}
	.md-margin-top-50 {
		margin-top: 50px;
	}
	.md-margin-top-55 {
		margin-top: 55px;
	}
	.md-margin-top-60 {
		margin-top: 60px;
	}
} 

@media (max-width: 425px) {
	.xxs-margin-top-10 {
		margin-top: 5px; 
	}
	
}
@media (max-width: 767px) {
	.xs-margin-top-0 {
		margin-top: 0px !important; 
	}
	
}

@media (min-width: 1200px) {
	.lg-margin-top {
		margin-top: 20px !important; 
	}
}
@media (min-width: 1024px) and (max-width: 1199px){
	.lg-margin-top {
		margin-top: 25px !important; 
	}
}

@media (min-width: 992px) and (max-width: 1023px)  {
	.lg-margin-top {
		margin-top: 25px !important; 
	}
}

.margin-top-0  { margin-top:0px;}
.margin-top-5  { margin-top:5px;}
.margin-top-10 { margin-top:10px;}
.margin-top-15 { margin-top:15px;}
.margin-top-20 { margin-top:20px;}
.margin-top-25 { margin-top:25px;}
.margin-top-30 { margin-top:30px;}
.margin-top-35 { margin-top:35px;}
.margin-top-40 { margin-top:40px;}
.margin-top-45 { margin-top:45px;}
.margin-top-50 { margin-top:50px;}
.margin-top-55 { margin-top:55px;}
.margin-top-60 { margin-top:60px;}
.margin-top-70 { margin-top:70px;}
.margin-top-80 { margin-top:80px;}
.margin-top-90 { margin-top:90px;}
.margin-top-100 { margin-top:100px;}

.padding-top-5  { padding-top:5px;}
.padding-top-10 { padding-top:10px;}
.padding-top-15 { padding-top:15px;}
.padding-top-20 { padding-top:20px;}
.padding-top-25 { padding-top:25px;}
.padding-top-30 { padding-top:30px;}
.padding-top-35 { padding-top:35px;}
.padding-top-40 { padding-top:40px;}
.padding-top-45 { padding-top:45px;}
.padding-top-50 { padding-top:50px;}
.padding-top-55 { padding-top:55px;}
.padding-top-60 { padding-top:60px;}
.padding-top-70 { padding-top:70px;}
.padding-top-80 { padding-top:80px;}
.padding-top-90 { padding-top:90px;}
.padding-top-100 { padding-top:100px;}

.btn-color {
	background: transparent;
	color: #697277;
}

.border-navbar {
	border-bottom-width: 0px !important;
	border-top-width: 0px !important;
}

.header-btn-size {}

@media (min-width: 768px){ 
	.header-btn-size {
		font-size: 24px;
	}
}

.hdr-srch-col {}
.hdr-btn-col {}
@media (min-width: 1200px) {
	.hdr-srch-col {
		margin-left: 0px !important;
	}
	.hdr-btn-col {
		width: 60px !important;
	}
}

.brd-active {
	color: #CCCCCC;
}

#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index:10;
}

.dropdown-style {
	padding-left: 1.3% !important;
	padding-right: 1.3% !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

@media screen and (min-width: 768px) {

	.dropdown-style {
	}
}

.section-title-altered {
	background-color: #FAFAFA;
}

.section-title-altered p {
	color: #fff;
	padding: 10px 0px;
	margin-bottom: 0px;
	background-color: #df2626;
	width: 75%;
}

.header-modified {
	border: 0px !important;
	background-color: transparent !important;
}

.text-red {
	color: #df2626;
}

.text-grey {
	color: #DEDBDB;
}

.blockquote {
	border-left: 2px #df2626solid;
}
.text-grey-2 {
	background-color: #F3F3F3;
}

.mini-menu {
	background-color: #FAFAFA;
	height: 40px;
}

.menu-title {
	background-color: #df2626;
	color: #fff;
	margin-bottom: 0px;
	width: 75%;
	padding: 10px 1% 10px 1%;
	font-size: 12px;
	font-family: 'myriad-pro', sans-serif;
}

@media screen and (min-width: 769px) {
	.menu-title {
		width: 100%;
		margin-bottom: 10px;
	}
}

.badge-1 {
	font-size: 20px;
}

.icon-square {
	position: relative;
	top: -35px;
	right: 0px !important;
	font-size: 30px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.icon-square-2 {
	position: relative;
	top: -20px;
	right: -20px !important;
	font-size: 30px;
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.icon-square-3 {
	position: relative;
	top: -35px;
	right: 0px !important;
	font-size: 30px;
	padding-top: 6px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	height: 45px;
}

.tagbox-v6-mods {
	margin-top: 14px;
}

.pub {
	border: 1px #D8D8D8 solid;
	background: -webkit-linear-gradient(#FFF, #D8D8D8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFF, #D8D8D8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFF, #D8D8D8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFF, #D8D8D8); /* Standard syntax (must be last) */
	box-shadow: 0px 8px 5px #A5A3A3;
}

.footer-v2 {
	margin-left: -15px;
}

.subscription-btn-2 {
	display: none;
}

@media screen and (max-width: 768px) {
	.subscription-btn {
		font-size: 10px;
		display: block;
		padding-top: 10px;
		padding-bottom: 8px;
	}
}

@media screen and (min-width: 769px) and (max-width: 991px) {
	.nav > li {
		padding-left: 10px !important;
		padding-right: 10px !important;	
	}
	.nav > li > a {
		padding-left: 0px !important;
		padding-right: 0px !important;	
	}
}

@media screen and (max-width: 435px) {
	.subscription-btn {
		display: none;
	}

	.search-bar {
		margin-top: 0px;
		padding-left: 20px;
	}

	.subscription-btn-2 {
		display: block;
		margin-top: 0px !important;
		margin-bottom: 20px !important;
	}
}

.box-4-badge {
	position: relative;
	top: -45px;
	font-size: 25px;
	border-left: 1px solid #fff;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.left-3 {
	left: 3px;
}

.offer-icon {
	width: 40px;
	height: 40px;
	padding-top: 7px;
}

.securite-icon {
	background-color: #f7b334;
}

.offers-sub-header {
	font-style: italic !important;
	color: #95a5a6 !important;
}

.footer-tel-icon {
	border: 1px solid #eeeeee;
	width: 45px;
	height: 45px;
	padding-top: 13px !important;
	padding-left: 14px !important;
	margin-top: 20px;
}

@media screen and (max-width: 414px) {
	.inner {
/*		padding-left: 15px !important;
padding-right: 15px !important;*/
}

.content-container {
	margin-top: 92px;
}
}

@media screen and (min-width: 769px) {

	.content-container {
		margin-top: 142px;
	}
}

@media screen and (min-width: 415px) and (max-width: 768px) {

	.content-container {
		margin-top: 165px;
	}
}


/***************************************/
/*******         ACCUEIL          ******/
/***************************************/

@media screen and (min-width: 993px) {

	.padding-sides-200 {
		padding-left: 100px;
		padding-right: 100px;
	}
}

.no-background-image {
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0001) 0) !important;
}

.slider-digit {
	font-size: 30px;
	font-weight: 800;
}

.autres-card {
	position: absolute;
	left: 30px;
	top: 15px;
	width: 35%;
	z-index: 2;
}

@media screen and (min-width: 1200px) {
	.autres-card { 
		height: 255px;
		top: 18px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.autres-card { 
		height: 190px;
	}

	.autres-card h4 {
		font-size: 15px;
	}

	.autres-icon {
		font-size: 30px !important;
	}
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
	.autres-card { 
		height: 195px;
		width: 150px;
	}

	.autres-icon {
		font-size: 25px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.autres-card { 
		height: 185px;
	}

	.autres-card h4 {
		font-size: 15px;
	}

	.autres-icon {
		font-size: 22px !important;
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.autres-card { 
		height: 65%;
		width: 40%;
	}
}

@media screen and (min-width: 375px) and (max-width: 424px) {
	.autres-card {
		height: 65%;
	}

	.autres-card h4 {
		font-size: 12px;
	}

	.autres-icon {
		font-size: 22px !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 374px) {
	.autres-card {
		height: 65%;
		width: 40%;
	}

	.autres-card h4 {
		font-size: 14px;
		margin: 0px;
	}

	.autres-icon {
		font-size: 22px !important;
	}
}

.autres-icon {
	font-size: 45px;
}

@media screen and (max-width: 320px) {
	.autres-card {
		padding-right: 2px;
		padding-left: 2px;
	}

	.autres-card p, .autres-card h5 {
		font-size: 10px;
		margin-bottom: 2px;
	}
}




.slick-active > button {
	background-color: #df2626 !important;
	border: 1px solid #df2626 !important;
}

.slick-dots {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	text-align: center;
	position:relative;
	z-index:10;
	top: -65px;
}

.slick-dots > li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.slick-dots > li > button {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	font-size: 0px;
	width: 15px;
	height: 15px;
	padding: 3px;
	cursor: pointer;
}

@media screen and (max-width: 425px) {
	.slick-dots > li > button {
		width: 5px;
		height: 5px;
	}
	.slick-dots {
		top: -45px;
	}
}

.slide {
	width: 100%;
}

@media screen and (max-width: 425px) {
	.slide {
		height: 150px;
	}
}

.slider-card {
	background-color: #fff;
	position: absolute;
	z-index: 100;
	top: 40px;
	padding: 25px;
	width: 350px;
	margin-left: 32%;
}

@media screen and (min-width: 992px) {
	.accueil-title-icon-1 {
		font-size: 30px;
		color: #df2626;
		display: none; 
	}

	.accueil-title-icon-2 {
		font-size: 20px;
		color: #df2626;
		display: inline; 
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.accueil-title-icon-1 {
		font-size: 30px;
		color: #df2626;
		display: block; 
	}

	.accueil-title-icon-2 {
		font-size: 20px;
		color: #df2626;
		display: none; 
	}
}

@media screen and (max-width: 767px) {
	.accueil-title-icon-1 {
		font-size: 30px;
		color: #df2626;
		display: block; 
	}

	.accueil-title-icon-2 {
		font-size: 20px;
		color: #df2626;
		display: none; 
	}
}

@media screen and (min-width: 1200px) {
	.slider-card {
		top: 62px;
		padding: 25px 25px 32px 37px;
		width: 410px;
		margin-left: 679px;
	}

	.slider-card h3 {
		margin-top: 0px;
		font-size: 23.5px;
		margin-bottom: 13px;
	}

	.slider-card p {
		margin-top: 0px;
		font-size: 15.3px;
		line-height: 1.32;
		margin-bottom: 0px;
	}

	.margin-top-0 {
		margin-top: 0px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.slider-card {
		top: 51px;
		padding: 18px 25px 32px 31px;
		width: 335px;
		margin-left: 1495px;
	}

	.slider-card h3 {
		margin-top: 0px;
		font-size: 17px;
		margin-bottom: 13px;
		line-height: 24px;
	}

	.slider-card p {
		margin-top: 0px;
		font-size: 11.5px;
		line-height: 1.5;
		margin-bottom: 0px;
	}

}
@media screen and (min-width: 992px) {

	.mots-clef-title {
		font-size: 18px !important;
	}
	.colu-width {
		margin-left: 25px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.slider-card {
		top: 38px;
		padding: 17px 26px 20px 25px;
		width: 293px;
		margin-left: 1111px;
	}

	.slider-card h3 {
		margin-top: 0px;
		font-size: 14.5px;
		margin-bottom: 10px;
		line-height: 19px;
	}

	.slider-card p {
		margin-top: 0px;
		font-size: 9.8px;
		line-height: 1.25;
		margin-bottom: 0px;
	}

	.slider-text {
		margin-bottom: 12px !important;
	}

	.mots-clef-title {
		font-size: 17px !important;
	}

	.colu-width {
		margin-left: 0px !important;
	}
}

@media (min-width: 651px) and (max-width: 767px) {
	.mots-clef-title {
		width: 200px !important;
		font-size: 12px !important;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.search-bar-col {
		width: 400px !important;
		margin-left: 0px !important;
	}
	.colu-width {
		width: 120px !important;
	}
}
@media (max-width: 425px) {
	.mots-clef-title {
		font-size: 20px !important;
	}
}
@media (min-width: 426px) and (max-width: 499px) {
	.mots-clef-title {
		width: 350px !important;
		font-size: 12px !important;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.search-bar-col {
		width: 200px !important;
		margin-left: 0px !important;
	}
	.colu-width {
		width: 210px !important;
	}
}
@media (min-width: 500px) and (max-width: 560px) {
	.mots-clef-title {
		width: 230px !important;
		font-size: 12px !important;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.search-bar-col {
		width: 200px !important;
		margin-left: 20px !important;
	}
	.colu-width {
		width: 230px !important;
	}
}
@media (min-width: 561px) and (max-width: 611px) {
	.mots-clef-title {
		width: 200px !important;
		font-size: 12px !important;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.search-bar-col {
		width: 250px !important;
		margin-left: 0px !important;
	}
	.colu-width {
		width: 220px !important;
	}
}
@media (min-width: 612px) and (max-width: 700px) {
	.mots-clef-title {
		width: 200px !important;
		font-size: 12px !important;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.search-bar-col {
		width: 320px !important;
		margin-left: 30px !important;
	}
	.colu-width {
		width: 250px !important;
	}
}
@media (min-width: 701px) and (max-width: 767px) {
	.mots-clef-title {
		width: 200px !important;
		font-size: 12px !important;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.search-bar-col {
		width: 380px !important;
		margin-left: 40px !important;
	}
	.colu-width {
		width: 210px !important;
	}
}
@media (max-width: 425px) {
	.mots-clef-title {
		font-size: 20px !important;
	}
}
@media screen and (min-width: 690px) and (max-width: 767px) {
	.slider-card {
		top: 10px;
		margin-left: 9%;
		padding: 5px;
		width: 350px;
		font-size: 10px;
	}

	.slider-text {
		font-size: 14px;
	}

	.card-sub-title-1 {
		font-size: 14px;
	}
}
/*
@media screen and (min-width: 425px) and (max-width: 690px) {
	.slider-card {
		top: 10px;
		margin-left: 9%;
		padding: 5px;
		width: 350px;
		font-size: 10px;
	}

	.slider-text {
		font-size: 12px;
	}
	}*/

	@media screen and (max-width: 425px) {
		.slider-card {
			display: none;
		}

/*		.slider-card {
			top: 10px;
			margin-left: 0px;
			padding: 10px;
			font-size: 6px;
			margin: 0px;
		}

		.slider-text {
			font-size: 8px;
			margin: 0px;
		}

		.card-sub-title-1 {
			font-size: 8px;
			margin: 0px;
			}*/
		}

		.line-break {
			display: block;
		}

		.cat-btn:hover {
			background-color: #df2626!important;
			color: #fff !important;
		}

		.eti-accueil-devider {
			width: 50px;
			border-bottom: 2px #df2626 solid;
		}

		.cat-btn {
			background-color: #F3F3F3!important;
			color: #4F4F4F;
			font-size: 12px;
		}

		.inline-block {
			display:inline-block;
		}
		.search-bar {
			border: 0px;
		}

		.search-bar-2 {
			height: 40px;
			background-color: #F3F3F3;
			border: 0px;
		}

		.menu-ressources-search-bar {
			border-width: 0px;
		}

		.search-btn {
			height: 40px;
			width: 41px;
			padding-bottom: 3px;
		}

		.search-btn i {
			font-size: 17px;
		}

		@media  screen and (min-width: 1024px) {
			.search-bar-col {
				padding-right: 60px;
			}
		}
		.accueil-icon-font {
			font-size: 30px;
		}



		.margin-right-10 {
			margin-right: 10px;
		}

		.margin-right-5 {
			margin-right: 5px;
		}

		.margin-left-20 {
			margin-left: 20px;
		}

		@media  screen and (min-width: 1200px) {
			.element-wrapper-1 {
				padding-left: 200px;
				padding-right: 80px;
			}

			.element-wrapper-2 {
				padding-left: 80px;
				padding-right: 200px;
			}
		}

		@media  screen and (min-width: 1024px) and (max-width: 1199px){
			.element-wrapper-1 {
				padding-left: 150px;
				padding-right: 50px;
			}

			.element-wrapper-2 {
				padding-left: 50px;
				padding-right: 150px;
			}
		}

		@media  screen and (min-width: 426px) and (max-width: 1023px) {
			.element-wrapper-1 {
				padding-left: 40px;
				padding-right: 40px;
			}
			.element-wrapper-2 {
				padding-left: 40px;
				padding-right: 40px;
			}
		}

		@media  screen and (max-width: 425px) {
			.element-wrapper-1 {
				padding-left: 5px;
				padding-right: 5px;
			}
			.element-wrapper-2 {
				padding-left: 5px;
				padding-right: 5px;
			}
		}


		@media  screen and (min-width: 769px) and (max-width: 1024px) {

			.owl-custom-left {
				left: 0px;
			}

			.owl-custom-right {
				right: 0px;
			}
		}


		.owl-custom-left {
			position: absolute;
			left: 20px;
			top: 120px;
			display: block;
		}

		.owl-custom-right {
			position: absolute;
			right: 20px;
			top: 120px;
			display: block;
		}

		@media screen and (min-width: 426px) and (max-width: 768px) {
			.owl-custom-left {
				left: 0px;
			}

			.owl-custom-right {
				right: 0px;
			}
		}

		@media screen and (max-width: 425px) {
			.owl-custom-left {
				left: 0px;
				top: -40px;
				display: block !important;
			}

			.owl-custom-right {
				left: 30px;
				top: -40px;
				display: block !important;
			}
		}


		.owl-custom-controls {
			font-size: 30px;
			color: #df2626;
		}

		.mos-img-1 {
			width: 100%;
		}

		.mos-img-2 {
			width: 100%;
		}

		.mos-col-dim{

			width: 320px;


		}

		.pub-annonce {

			width: 200px !important;
			margin-left: 830px !important;

		}

		.pub-img {
			width: 300px !important;
			height: 250px !important;
			margin-left: 17px !important;
			margin-right: 10px !important;
			display:block;
			overflow: hidden;

		}
		.pub-img-2 {
			width: 300px !important;
			height: 250px !important;
			margin-left: 7px !important;
			margin-right: 200px !important;
			display:block;
			overflow: hidden;
		}
		.pub-img-3 {
			width: 300px !important;
			height: 250px !important;
			margin-left: 100px !important;
			display:block;
			overflow: hidden;

		}
		.inv-img {
			width: 610px !important;
			height: 250px !important;
			margin-left: 17px;
			display:block;
			overflow: hidden;
		}

		.env-img {
			width: 300px !important;
			height: 510px !important;
			margin-left: 100px !important;
			display:block;
			overflow: hidden;
		}

		.right-badge {
			background-color: #df2626 !important;
			position: absolute;
			left: 17px;
			top: 0px;
			z-index: 2;
			padding: 8px 18px;
			color: #fff;
		}
		.right-badge-bis {
			background-color: #df2626 !important;
			position: absolute;
			left: 7px;
			top: 0px;
			z-index: 2;
			padding: 8px 18px;
			color: #fff;
		}
		.left-badge {
			background-color: #df2626 !important;
			position: absolute;
			left: 0px;
			top: 0px;
			z-index: 2;
			padding: 8px 18px;
			color: #fff;
		}

		.acceuil-badge {
			background-color: #df2626 !important;
			position: absolute;
			left: 45px;
			top: 0px;
			z-index: 2;
			padding: 8px 18px;
			color: #fff;
		}
		.acceuil-title {
			background-color: #fff !important;
			position: absolute;
			left:10px;
			bottom:10px;
			width: 65%;
			z-index: 2;
			padding: 8px 18px;
			color: #df2626;
		}

		.acceuil-title-2 {
			background-color: #fff !important;
			position: absolute;
			left: 30px;
			bottom: 20px;
			width: 65%;
			z-index: 2;
			padding: 8px 18px;
			color: #df2626;
		}

		.padding-0{
			padding-right: 0px !important;
			padding-left: 0px !important;
		}

		@media  screen and (min-width: 1200px) {
			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 45px !important;
				margin-right: 10px !important;
				display:block;
				overflow: hidden;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 35px !important;
				margin-right: 200px !important;
				display:block;
				overflow: hidden;
			}
			.pub-img-3 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 125px !important;
				display:block;
				overflow: hidden;

			}
			.inv-img {
				width: 610px !important;
				height: 250px !important;
				margin-left: 45px;
				display:block;
				overflow: hidden;
			}

			.env-img {
				width: 300px !important;
				height: 510px !important;
				margin-left: 125px !important;
				display:block;
				overflow: hidden;
			}

			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 45px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge-bis {
				background-color: #df2626 !important;
				position: absolute;
				left: 35px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

			.acceuil-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 45px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
		}

		@media screen and (max-width:320px)  {

			.pub-annonce {			

				display: none !important;
			}

			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 40px !important;
				margin-right: 20px !important;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 40px !important;
				margin-right: 10px !important;
			}

			.energies-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 40px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 40px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

		}
		@media screen and (min-width:321px)  and (max-width:375px) {
			.pub-annonce {			

				display: none !important;
			}

			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 50px !important;
				margin-right: 20px !important;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 50px !important;
				margin-right: 10px !important;
			}

			.energies-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 50px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 50px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge-bis {
				background-color: #df2626 !important;
				position: absolute;
				left: 50px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

		}


		@media screen and (min-width:376px) and (max-width: 425px) {
			.pub-annonce {			

				display: none !important;
			}
			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 50px !important;
				margin-right: 10px !important;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 50px !important;
				margin-right: 10px !important;
			}
			.energies-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 50px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 50px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

			.right-badge-bis {
				background-color: #df2626 !important;
				position: absolute;
				left: 50px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
		}

		@media screen and (min-width:426px) and (max-width: 639px) {
			.pub-annonce {			

				display: none !important;
			}
			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 150px !important;
				margin-right: 10px !important;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 150px !important;
				margin-right: 10px !important;
			}
			.energies-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 150px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 150px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

			.right-badge-bis {
				background-color: #df2626 !important;
				position: absolute;
				left: 150px !important;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
		}


		@media screen and (min-width:640px) and (max-width: 767px) {
			.pub-annonce {			

				display: none !important;
			}

			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 30px !important;
				margin-right: 40px !important;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 20px !important;
				margin-right: 20px !important;
			}
			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 30px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge-bis {
				background-color: #df2626 !important;
				position: absolute;
				left: 20px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}

		}

		@media screen and (min-width:767px) and (max-width: 991px) {
			.pub-annonce {

				display: none !important;

			}
			.pub-img {
				width: 300px !important;
				height: 250px !important;
				margin-left: 70px !important;
				margin-right: 40px !important;

			}
			.pub-img-2 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 60px !important;
				margin-right: 20px !important;
			}
			.right-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 70px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			.right-badge-bis {
				background-color: #df2626 !important;
				position: absolute;
				left: 60px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}
			/*.energies-badge {
				background-color: #df2626 !important;
				position: absolute;
				left: 70px;
				top: 0px;
				z-index: 2;
				padding: 8px 18px;
				color: #fff;
			}*/
			.inv-img {
				width: 620px !important;
				height: 250px !important;
				margin-left: 70px;
			}

		}

		@media screen and (min-width:992px) and (max-width: 1199px) {
			.env-img {
				width: 300px !important;
				height: 510px !important;
				margin-left: 30px !important;
			}
			.pub-img-3 {
				width: 300px !important;
				height: 250px !important;
				margin-left: 30px !important;

			}
			.pub-annonce {

				width: 200px !important;
				margin-left: 735px !important;
			}

		}

	/* Add here all your css styles (customizations) */



	@media (max-width: 1200px) {
		.input-srch-col {
			padding-left: 6px !important;
			width: 175px !important;
			padding-right: 3px !important;

		}

	}

	@media (max-width: 1200px) {
		.input-grp {
			width: 215px !important;

		}

	}


	.title-font-size {
		font-size: 14px !important;

	}

	@media (max-width: 1200px) {
		.title-font-size {
			font-size: 12px !important;

		}

	}

	.padding-bottom-20 { 
		padding-bottom:20px !important;

	}


	.margin-left-32 {
		margin-left: 32px;
	}

	.padding-top-10 {
		padding-top: 10px;
	}

	.search-bar {
		border: 0px;
		background-color: #F3F3F3;
	}

	.advanced-search {
		width: 225px;
	}


	@media (max-width: 1201px) {
		.advanced-search {
			width: 215px;
		}
	}

	@media screen and (min-width: 1200px) {
		.mos-img-1 {
			width: 100%;
			height: 227px;
		}

		.mos-img-2 {
			width: 100%;
			height: 465px;
		}

		.domaine-padding-top {
			padding-top: 90px;
		}
	}

	@media screen and (min-width: 992px) and (max-width: 1199px) {
		.mos-img-1 {
			width: 100%;
			height: 186px;
		}

		.mos-img-2 {
			width: 100%;
			height: 381px;
		}

		.domaine-padding-top {
			padding-top: 90px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 991px) {
		.mos-img-1 {
			width: 100%;
			height: 218px;
		}

		.mos-img-2 {
			width: 100%;
			height: 447px;
		}

		.domaine-padding-top {
			padding-top: 115px;
		}
	}


	@media screen and (max-width: 374px) {
		.acceuil-title-2 {
			width: 90%;
		}
	}

	.btn-logiciel {
		float: right;
		margin-left: 10px;
		margin-bottom: 0px;
		color: #fff;
	}

	.btn-style {
		float: right;
		margin-left: 10px;
		margin-bottom: 0px;
	}

	.btn-logiciel-icon {
		font-size: 15px;
	}

	@media screen and (min-width: 960px) {

		.margin-devider {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	.exp-icon {
		color: #df2626;
	}
	.footer1-bg-colorr {
		background-color : #FFF !important ;
		padding-left: 70px !important;
		padding-right: 70px !important;
		/*padding-top: 50px !important;*/
		padding-bottom: 20px !important;
	}

	.es-sous-titre-footerr {

		font-size: 12px !important;
		margin-bottom: 0px !important;
		margin-left: 50px !important;
		margin-top: 30px !important;
	}
	.es-p-footerr {

		font-size: 12px !important;
		margin-left: 50px !important;
		margin-bottom: 30px !important;
	}

	.footer-row2-rightCol-style {

		font-size: 12px !important;
		margin-left: 50px !important;
		margin-top: 30px !important;
	}

	.footer-row3-p-style {

		padding-bottom: 20px !important;
		padding-top: 20px !important;
		margin-left: 50px !important;
		margin-right: 50px !important;
		margin-bottom: 0px !important;
	}
	.footer-row3-padding {

		padding-left: 20px !important;
		padding-right: 25px !important;

	}
	.slash-style {

		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.hr-style {

		border-top-width: 2px !important;
		border-color: #ddd !important;
	}

	.slider-margin-top {
		margin-top: 185px;
	}

	@media screen and (min-width: 768px) and (max-width: 991px) {
		.slider-margin-top {
			margin-top: 109px;
		}
	}

	@media screen and (min-width: 426px) and (max-width: 767px) {
		.slider-margin-top {
			margin-top: 75px;
		}
	}

	@media screen and (min-width: 0px) and (max-width: 425px) {
		.slider-margin-top {
			margin-top: 70px;
		}
	}

	@media screen and (min-width: 320px) and (max-width: 374px) {
		.slider-margin-top {
			margin-top: 70px;
		}
	}

	.rech-rapide {
		color: #df2626;
	}

	.act {
		color: #697277;
	}

	.pub-style {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		height: 100%;
		display: block;
		overflow: hidden;
		width: 300px;
		position: relative;
	}

	.large-img {
		width: 610px;
		height: 250px;
		display: block;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
	}

	#sticky-menu {
		position: fixed;
		z-index: 100;
		color: #fff;
		top: 45%;
		right: 0px;
	}

	#sticky-menu-slide {
		position: fixed;
		z-index: 50;
		color: #fff;
		top: 45%;
		right: -220px;
	}

	#sticky-menu-phone {
		z-index: 100;
		color: #fff;
		right: 0px;
	}

	#sticky-menu-slide-phone {
		position: fixed;
		z-index: 50;
		right: -220px;
	}

	#sticky-menu-share {
		z-index: 100;
		color: #fff;
		right: 0px;
	}

	#sticky-menu-slide-share {
		position: fixed;
		z-index: 50;
		right: -220px;
	}

	#sticky-menu-plane {
		z-index: 100;
		color: #fff;
		right: 0px;
	}

	#sticky-menu-slide-plane {
		position: fixed;
		z-index: 50;
		right: -220px;
	}
	.btn-stk {
		padding: 4.5px 10px 4.5px 10px;
		font-size: 20px;
		margin: 0px;
		height: 40px;
		width: 41px;
	}

	.btn-action {
		padding: 12px 25px 12px 25px;
		font-size: 11px;
		border-bottom: 1px #fff solid;
		height: 40px;
		width: 195px;
	}

	.btn-action a, .btn-action p, .btn-action ul {
		color: #fff;
		margin: 0px;
	}

	.btn-action li {
		margin-left: 3px;
		margin-right: 3px;
	}

	.stk-brd-btm {
		border-bottom: 1px #fff solid;
	}

	.stk-brd-lft {
		border-left: 1px #fff solid;
	}

	.font-size-20 {
		font-size: 20px;
	}

	.social-li {
		padding-top: 10px !important;
		padding-bottom: 9px !important;
	}

	@media screen and (min-width: 993px) {

		.display-navbar {
			display: none !important;
		}

		.no-display-navbar {
			display: block !important;
		}
	}

	.display-block {
		display: block !important ;
	}

	.display-none {
		display: none !important ;
	}

	.margin-right-0 {
		margin-right: 0px !important;
	}

	.black-background-color {
		background-color: #000000 !important;
	}

	.padding-menu {
		padding-bottom: 12px !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	.margin-right-70 {
		margin-right: 70px !important ;
	}

	.margin-left-70 {
		margin-left: 70px !important ;
	}

	.inscription-newsletter-slide {
		padding-top: 10px !important;
		padding-bottom: 0px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;

	}
	/*
		.xxx:hover 
		{
			-moz-transform: scale(1.3);
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
		*/

		.environnement-securite-color {
			color: #9DB53A;
		}

		.environnement-securite-bgcolor {
			background-color: #9DB53A;
		}

		.breadcrumb>li+li:before {
			content: ">\00a0"
		}

		.breadcrumb {
			font-size: 11px;
			left: -20px;
			margin-bottom: 0px;
		}

		.env-sec-box {
			padding-top: 10px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.env-sec-box img {
			width: 80px;
		}

		@media screen and (min-width: 993px) {
			.env-sec-box h1 {
				margin-top: 18px;
				margin-bottom: 40px;
				margin-left: 390px;
				margin-right: 390px;
				padding: 5px 5px 0px 5px;
				background-color: #9DB53A;
				color: #fff;
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 600;
			}

			.env-sec-box h5 {
				margin-left: 110px;
				margin-right: 110px;
				line-height: 2.5;
			}
		}


		.text-9DB53A {
			color: #9DB53A;
		}

		.icon-size-2 {
			font-size: 28px;
		}

		@media (min-width: 768px) {
			.dl-horizontal dt {
				width: 30px;
			}
			.dl-horizontal dd {
				margin-left: 0px; 
			}
		}

		.panel-default>.panel-heading {
			border-color: #fff;
		}

		.btn-x {
			border: 1px #9DB53A solid;
			color: #9DB53A;
			background-color: rgba(149, 165, 166, 0);
			font-size: 10px;
		}

		.img-x {
			width: 100px;
			margin-left: 10px;
		}

		.cellule {
			border-left: 0px;
			border-right: 0px;
			box-shadow: 0px 0px 0px #888888;
			margin-bottom: 0px;
		}

		.cellule .panel-heading {
			background-color: #fff;
		}

		.cellule h4 {
			text-transform: uppercase;
			margin: 0px;
			color: #9DB53A;
		}
		.cellule h5 {
		}

		.padding-right-5 {
			padding-right: 5px;
		}

		.price-1 {
			text-decoration:line-through;
			font-size: 10px;
		}

		.price-2 {
			color: #9DB53A;
			font-weight: bold;
			margin-left: 20px;
		}

		#cellule-list {
			margin-left: 180px;
		}
		#cellule-list li:before {
			content: "- " ;
		}

		.env-test-pub-links a {
			font-weight: bold;
			color: #000 !important;
			margin-left: 10px;
		}

		.env-test-pub-links a {
			font-weight: bold;
			color: #000 !important;
			margin-left: 10px;
		}

		.newsletter-title-2 {
			color: #df2626 !important;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
		}
		.newsletter-title-2 {
			color: #df2626 !important;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
		}
		

		.form-control:focus{background-color: #fff;  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b30404} 
		.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none}

		
		.padding-right-36-padding-left-36 {
			padding-right: 36px !important;
			padding-left: 36px !important;
		}


			@media (min-width: 1200px) {
			.navbar-mods {
				padding-right: 45px !important;
				padding-left: 45px !important;
			}	
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			.navbar-mods {
				padding-right: 22px !important;
				padding-left: 22px !important;
			}	
		}

		@media (max-width: 991px) {
			.navbar-mods {
				padding-right: 36px !important;
				padding-left: 36px !important;
			}
		}

		@media (min-width: 992px) {
			.md-lg-hide {
				display: none !important;
			}	

		}

		@media (min-width: 992px) and (max-width: 1199px) {

			#tab-1::after {
				font-family: FontAwesome;
				content: "\f107";
				display: inline-block;
				padding-right: 3px;
				vertical-align: middle;
				color: #df2626 !important;
				top: 2px;
				left: 425px;
				position: absolute;
				font-size: 2em;
			}

			#tab-2::after {
				font-family: FontAwesome;
				content: "\f107";
				display: inline-block;
				padding-right: 3px;
				vertical-align: middle;
				color: #df2626 !important;
				top: 2px;
				left: 220px;
				position: absolute;
				font-size: 2em;
			}
		}

		@media (min-width: 1200px) {

			#tab-1::after {
				font-family: FontAwesome;
				content: "\f107";
				display: inline-block;
				padding-right: 3px;
				vertical-align: middle;
				color: #df2626 !important;
				top: 2px;
				left: 495px;
				position: absolute;
				font-size: 2em;
			}

			#tab-2::after {
				font-family: FontAwesome;
				content: "\f107";
				display: inline-block;
				padding-right: 3px;
				vertical-align: middle;
				color: #df2626 !important;
				top: 2px;
				left: 245px;
				position: absolute;
				font-size: 2em;
			}
		}

		#dom-sc .col-xs-12 li a:hover {
			background-color: transparent;
		}

		@media (max-width: 425px) {
			.xs-font-size-20 {
				font-size: 20px;
			}
		}

		@media (max-width: 320px) {
			.sm-margin-left--30 {
				margin-left: -30px;
			}
		}

		@media (max-width: 425px) {
			.col-mod-tags {
				padding-left: 0px;
				margin-left: -10px;
			}
		}

		@media (min-width: 426px) and (max-width: 991px) {
			.col-mod-tags {
				padding-left: 0px;
				margin-left: -8px !important;
			}
		}

















		/* seif-custom */

		.padding-left{}
		@media (max-width: 425px) {
			.padding-left{
				padding-left: 0px !important;
			}

		}
		.icon-color {
			color: #697277 !important;

		}

		@media (max-width: 1200px) {
			.input-srch-col {
				padding-left: 6px !important;
				width: 175px !important;
				padding-right: 3px !important;

			}

		}

		@media (max-width: 1200px) {
			.input-grp {
				width: 215px !important;

			}

		}


		.title-font-size {
			font-size: 14px !important;

		}

		@media (max-width: 1200px) {
			.title-font-size {
				font-size: 12px !important;

			}

		}

		.padding-bottom-20 { 
			padding-bottom:20px !important;

		}

		.margin-right-15 {
			margin-right: 15px !important;
		}

		.margin-left-20 {
			margin-left: 20px !important ;
		}

		.margin-left-25 {
			margin-left: 25px !important ;
		}
		.margin-left-30 {
			margin-left: 30px !important ;
		}
		.margin-left-23 {
			margin-left: 23px !important ;
		}
		.margin-left-35 {
			margin-left: 35px !important ;
		}
		.margin-left-32 {
			margin-left: 32px;
		}

		.margin-left-38 {
			margin-left: 38px;
		}

		.padding-top-10 {
			padding-top: 10px;
		}

		.search-bar {
			border: 0px;
			background-color: #F3F3F3;
		}

		.advanced-search {
			width: 225px;
		}


		@media (max-width: 1201px) {
			.advanced-search {
				width: 215px;
			}

		}

		.menu-links{
			color: #000 !important;
			background-color: #FFF !important;
			border-bottom-width: 0px!important;
		}

		.domaine-expertise-margin {
			width: 330px; 
			margin-left: 25px;
		}

		.mots-clefs-margin {
			//margin-left: 24px;
			//margin-right: 15px;
			width: 150px;
		}

		@media screen and (min-width: 992px) and (max-width: 1199px) {
			.padding-menu-cart{
				padding-left:45px !important;
			}
		}
		@media screen and (min-width: 992px) and (max-width: 1199px) {
			.padding-menu-account{
				padding-left:29px !important;
			}
		}

		/* seif-custom */
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		/* Alaeddine-custom */

		.fa-size-1v3{
			font-size : 1.3em;
		}

		.mosaique-size {
			width: 300px !important;
			height: 250px !important;
		}

		.mosaique-ecophyto-size {
			width: 360px !important;
			height: 510px !important;
		}

		.border-transparent-1 {
			border-bottom: 1px transparent;
		}

		.border-bottom-0 {
			border-bottom: 0px;
		}

		.margin-bottom-1 {
			margin-bottom: 1px;
		}

		.margin-right-2 {
			margin-right: 2px;
		}

		.margin-top-82 {
			margin-top: 82px;
		}

		.margin-top-2 {
			margin-top: 2px !important;
		}

		.margin-top-41 {
			margin-top: 41px;
		}

		.glyphicon-size-2
		{
			font-size: 2em;
		}

		.border-bottom-dark-gray {
			border-bottom : 1px solid #c6c6c6;
		}

		.font-awesome-size-2 {
			font-size: 2.5em !important;
		}

		.font-weight-300 {
			font-weight: 300 !important;
		}

		.font-weight-700 {
			font-weight: 700 !important;
		}

		.font-size-13 {
			font-size: 13px !important;
		}

		.font-size-26 {
			font-size: 26px !important;
		}

		.font-size-19 {
			font-size: 19px !important;
		}

		.font-size-24 {
			font-size: 24px !important;
		}

		.font-size-26-23-20 {
			font-size: 26px;
		}
		@media screen and (min-width: 426px) and (max-width: 768px) { 
			.font-size-26-23-20 {
				font-size: 23px !important;
			}
		}
		@media screen and (max-width: 425px) { 
			.font-size-26-23-20 {
				font-size: 20px !important;
			}


		}
		@media screen and (max-width: 992px) { 
			.margin-left-23 {
				margin-left: 0px !important ;
			}
			.margin-left-30 {
				margin-left: 0px !important ;
			}
		}


		#topcontrol { 
			background-color: #697277;
		}

		#hr-separator {
			border-top-width: 1px !important;
			border-color: #c6c6c6 !important;
		}

		.margin-top-xs-40 {
			margin-top : 85px !important;
		}
		@media screen and (max-width: 769px) { 
			.margin-top-xs-40 {
				margin-top : 115px !important;
			}
		}

		.background-color-F1F1F1 {
			background-color: #F1F1F1 !important ;
		}

		.width-220 {
			width: 220px !important;
		}

		.padding-992 {
			padding-left: 15px !important ;
		}

		@media screen and (min-width: 992px) {
			.padding-992 {
				padding-left: 150px !important;
			}

			.zoom-img {
				transition: all .2s ease-in-out;
			}

			.zoom-img:hover {
				transform: scale(1.1);
			}
		}

		@media  screen and (min-width: 1200px) {
			.margin-left-right {
				margin: 0 105px;
			}
			.margin-right-left-160 {
				margin-right:160px;
				margin-left:160px;
			}
		}
		@media  screen and (min-width: 990px) and (max-width: 1199px){
			.margin-left-right {
				margin: 0 5px;
			}
		}
		@media  screen and (min-width: 768px) and (max-width: 991px){
			.margin-left-right {
				margin: 0 50px;
			}
		}
		@media  screen and (min-width: 654px) and (max-width: 767px){
			.margin-left-right {
				margin: 0 auto;
				width:620px
			}
		}
		@media  screen and (max-width: 653px) {
			.margin-left-right {
				margin: 0 auto;
				width:100%
			}
			.margin-left-right .col-xs-6 {
				width:100%
			}
		}

		.col-centered{
			float: none;
			margin: 0 auto;
		}