<div class="your-class">
    <div>
        <img class="img-responsive slide margin-bottom-10" src="{{ bootstrap("img/main/bg1024.jpg") }}">
        <div class="slider-card">
            <h3 class="slider-text color-red-eti"><strong>TCHERNOBYL</strong> CONTAMINE TOUJOURS LES ALPES</h3>
            <p  class="card-sub-title-1">En 2016, nous célèbrerons les 30 ans de la catastrophe de Tchernobyl.</p>
            <p  class="slider-text margin-top-0">> Ou en est la contamination dans les Aples ?</p>
        </div>
    </div>
    <div>
        <img class="img-responsive slide margin-bottom-10" src="{{ bootstrap("img/main/bg1024.jpg") }}">
        <div class="slider-card">
            <h3 class="slider-text color-red-eti"><strong>TCHERNOBYL</strong> CONTAMINE TOUJOURS LES ALPES</h3>
            <p  class="card-sub-title-1">En 2016, nous célèbrerons les 30 ans de la catastrophe de Tchernobyl.</p>
            <p  class="slider-text margin-top-0">> Ou en est la contamination dans les Aples ?</p>
        </div>
    </div>
    <div>
        <img class="img-responsive slide margin-bottom-10" src="{{ bootstrap("img/main/bg1024.jpg") }}">
        <div class="slider-card">
            <h3 class="slider-text color-red-eti"><strong>TCHERNOBYL</strong> CONTAMINE TOUJOURS LES ALPES</h3>
            <p  class="card-sub-title-1">En 2016, nous célèbrerons les 30 ans de la catastrophe de Tchernobyl.</p>
            <p  class="slider-text margin-top-0">> Ou en est la contamination dans les Alpes ?</p>
        </div>
    </div>
</div>