<div class="col-xs-5 col-sm-2 col-md-3 col-lg-2 xs-width-2" >
    <img class="img-abonne" src="assets/img/main/img17.jpg">
</div>
<div class="col-xs-7 col-sm-10 col-md-9 col-lg-10 txt2-padding-offre " >
    <p class="color-red-eti font-size-13 letter-spacing-1v2"><strong> Jean-Pierre DAL PONT</strong></p>
    <p class="cv-text">Titulaire de la chaire d'Hygiène et Sécurité, CNAM</p>
</div>
<div class="col-xs-12 col-sm-10 col-md-9 col-lg-10 txt2-padding-offre xs-width-3 " >
    <p class="cv-text">Témoignage: Les Techniques de l'Ingénieur: un vecteur de promotion de la culture «sécurité». Promouvoir le développement d'une culture de sécurité, indispensable à un développement <br>industriel durable en Europe, nécessite de mieux partager les connaissances accumulées.<br>Ce savoir est détenu par un nombre limité d'experts, mais ceux-ci sont dispersés au sein des groupes industriels, des sociétés d'ingénierie, des organismes d'expertise, des universités, des grandes écoles... ou déjà à la retraite. L'étendue des connaissances nécessaires pour couvrir le domaine de la sécurité industrielle ne fait que s'élargir au fil des évolutions technologiques et des attentes sociales toujours plus exigeantes en termes de prévention et de maîtrise des risques. Être conseiller éditorial pour le traité «Sécurité et gestion des risques» des Techniques de l'Ingénieur m'a semblé important pour participer à la mise en forme de connaissances au service des ingénieurs et techniciens qui sont confrontés régulièrement à des problèmes de sécurité et qui ont très peu de documents techniques actualisés à leur disposition.</p>
</div>