<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <p class="color-red-eti font-size-13 letter-spacing-1v2"><strong> Jean-Pierre DAL PONT</strong></p>
    <p class="cv-text">Président de la SFGP (Société française de génie des procédés) <br> Secrétaire général de l'EFCE (Fédération européenne du génie chimique) <br> Président de la SECF (Société des experts chimistes de France) </p>
</div>