{# wk-template : erreur.html.twig #}
{# wk-description : Page d'erreur du site #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container slider-margin-top">
        <h1>OUPS : ERREUR</h1>
    </div>
{% endblock %}
