p {
  margin:0;
}
.hoveru {
  &:hover {
    color:#1B8BBB;
  }
}
.background-account {
  background: #E5E5E5;
}
.background-ebebeb {
  background: #ebebeb;
}
.border-bottom-account-3 {
  border-bottom:3px solid #E5E5E5;
}
.border-blue {
  border:2px solid #1B8BBB;
}
.fa-thumb-tack {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  position: absolute;
  top:15px;
  right:30px;
}
.encart-infos {
  img {
    width:75px;
    height:75px;
    position: relative;
    top: -20px;
    vertical-align: top;
  }
  .bg-color-red-eti {
    i {
      font-size: 22px;
      padding: 6px 0;
      color: #FFFFFF;
    }
  }
  .text {
    padding: 8px 0;
  }
}
.hr-account {
  margin:15px 0;
  border-top-width: 1px;
  border-color: #c6c6c6 ;
  width: 100%;
  height: 1px;
  background: none;
}
.fil-actu {
  max-height:950px;
  overflow-y: scroll;
  overflow-x: hidden;
  .date {
    width: 86%;
    float: right;
  }
}
.services {
  a {
    display: block;
    p {
      width: 48px;
      margin: 0 auto;
    }
  }
}

.profil {
  a {
    div {
      min-height:85px;
    }
  }
}

.rattacher {
  #secretCode, #code {
    width: 70%;
    height: 30px;
    padding-left: 15px;
    margin-right: 15px;
    text-align: center;
  }
}

.pastille {
  background: #EC1625;
}

.downloads {
  .badge {
    padding: 4px 8px;
  }
}

.flou {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  position:absolute;
  bottom:0;
  height:60px;
  width:100%;
}
.block-link-hover {
  a {
    div {
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
    }
    &:hover {
      color: #1B8BBB;
      div {
        background: #1B8BBB;
        color: #ffffff;
        i, p, span {
          color: #ffffff;
        }
      }
    }
  }
}
.timeline-v1 {
  padding: 0;
  &:before {
    left: 9.2%;
  }
  > li {
    width: 87%;
    > .timeline-panel {
      border:0;
      padding:15px;
    }
    > .timeline-badge {
      top:-6px;
      color: #dcdcdc;
    }
    .cbp_tmicon {
      top: 22px;
      left: 100%;
      width: 8px;
      height: 8px;
      position: absolute;
      background: #1B8BBB;
      margin: 0 0 0 -17px;
      box-shadow: 0 0 0 5px #dcdcdc;
      -webkit-font-smoothing: antialiased;
    }
    &.timeline-inverted {
      margin-bottom: 10px;
      z-index: 2;
      float: none;
      .timeline-panel {
        &:before {
          top: 8px;
          left: -7px;
          border-right-width: 7px;
          border-top: 11px solid transparent;
          border-bottom: 11px solid transparent;

        }
        &:after {
          display: none;
        }
      }
      &:last-child {
        margin-bottom:0;
      }
    }
    &:nth-child(2) {
      margin-top: 0px;
      z-index: 1;
    }
  }
}
#menu-account {
  background: #434343;
  color: #ffffff;
  cursor:pointer;
}
.sidebar-nav-v1 {
  li {
    position: relative;
    border-color: #1B8BBB;
    &:hover {
      background: #E5E5E5;
    }
    a {
      font-size:15px;
      i, img {
        color: #1B8BBB;
        font-size:20px;
        margin-right:5px;
        width: 23px;
        text-align: center;
      }
      .picto-article-decouverte {
        width:19px;
        margin-right: 9px;
      }
    }
    &.actif, &.actif:hover {
      border: none;
      a {
        background: #434343;
        color: #ffffff;
        padding: 12px 0px 12px 10px;
        min-height: 44px;
        i {
          color: #ffffff;
        }
      }
    }
    ul {
      background: #ffffff;
      li {
        a {
          padding: 11px 0px 11px 10px;
          border: none;
          color: #4d5356;
          font-size:14px;
        }
        &:hover {
          a {
            background: #E5E5E5;
            color: #4d5356;
          }
        }
        &.numero-compte {
          padding: 11px 0px 11px 13px;
          border: none;
          &:hover {
            background: none;
            color: #434343;
          }
        }
      }
    }
  }
  > li {
    margin-bottom:10px;
  }
  > li,
  > li.active,
  > li.active:hover,
  > li.active:focus {
    border-color: #1B8BBB;
    margin-bottom:10px;
    &.list-toggle {
      background-color: #1B8BBB;
      > a {
        color: #ffffff;
        position: relative;
        z-index: 2;
      }
    }
    a {
      padding:11px 0px 11px 10px;
      letter-spacing: 0.75px;
    }
  }
  > li.bg-color-red-eti {
    border-color: #EC1625;
    &.active {
      border-color: #EC1625;
      &:hover, &:focus {
        border-color: #EC1625;
      }
    }
  }
}
.list-toggle, #menu-account, .title-collapse {
  &:after {
    top: 8px;
    right: 15px;
    color: #ffffff;
    font-size: 24px;
    content: "\f106";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
    z-index: 1;
  }

  &.active {
    &:after {
      color: #fff;
      content: "\f107";
    }
  }
}
.title-collapse {
  position: relative;
  > a, > p {
    padding:12px 40px;
    display: block;
    z-index: 2;
    position: relative;
    span {
      display: block;
    }
    &:hover {
      cursor: pointer;;
    }
  }
  a:hover {
    color: #ffffff;
  }
  > p {
    padding:0;
  }
  &.bloc-timeline {
    &:after {
      color: #1B8BBB;
      top: 0px;
    }
  }
}
.timeline-v2 {
  padding: 20px;
  > li {
    .cbp_tmlabel {
      background: #E5E5E5;
      margin-bottom:15px;
      margin-left:23%;
      padding:15px 20px;
      &:after {
        border-right-color: #E5E5E5;
        top:10px;
      }
      a:hover {
        text-decoration: underline!important;
      }
      a.btn-u {
        font-size: 13px;
        line-height: 13px;
        padding: 7px 12px 5px;
        &:hover {
          text-decoration: none!important;
        }
      }
    }
    .cbp_tmtime {
      width: 15%;
      display: block;
      position: absolute;
      background: #E5E5E5;
      padding:15px 0 15px 10px;
      span {
        text-align: left;
        top:0;
        font-size: 12px!important;
        color: #4D5356!important;
        &:last-child {
          font-size: 12px;
          color: #4D5356!important;
        }
      }
      &:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: #E5E5E5;
        border-width: 10px;
        top: 10px;
      }
    }
    .cbp_tmicon {
      background: #ffffff;
      box-shadow: 0 0 0 4px #1B8BBB;
      left: 20.6%;
      top:15px;
    }
  }
  &:before {
    background: #dcdcdc;
    top: 20px;
    bottom:35px;
  }
}
.keywords {
  padding: 0;
  li {
    margin-bottom:10px;
    span, a {
      padding:8px 10px;
      background: #898989;
      color: #ffffff;
      border-radius: 10px;
      display: inline-block;
    }
    a {
      &:hover {
        background: #1B8BBB;
        text-decoration: none;
      }
    }
    span {
      font-size: 12px;
      a {
        padding:0 0 0 10px;
      }
    }
    &.active {
      span, a {
        background: #1b8bbb ;
      }
    }
  }
}
#annotations {
  .desc-annotation {
    position: relative;
  }
  .delete-cross {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #4d5356;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
  }
}

.pagination-actif, .pagination-inactif {
  display: inline-block;
  width: 35px;
}
.pagination-inactif {
  border: 1px solid #697277;
}
.pagination-actif {
  border: 1px solid #1B8BBB;
}

tr[class^="subscription-ti"], tr[class^="subscription-fp"] {
  td {
    height: 25px!important;
    .hoveru {
      &:hover {
        color: #EC1625;
      }
    }
  }
}
.subscription-tip {
  height:70px;
}
.subscription-thematique{
  + .filet {
    display: none;
  }
  .ressources-subscription {
    background: #1B8BBB;
  }
}
table {
  &.collapse.in {
    display: table;
  }
  .title-collapse {
    &:after, &.active:after {
      color: #1B8BBB;
    }
  }
}

/*mes commentaires*/
.mes-commentaires {
  .timeline-v2:before {
      top: 32px;
      z-index: 8;
      bottom: -44px;
  }
  .timeline-v2:last-child:before {
    bottom: 32px;
  }

/*.timeline-v2:first-child:before {
  top: 15px;
}
.timeline-v2:nth-child(2):before {
  top: 0px;
}

.timeline-v2:before {
  left: 20.6%;
  z-index: 8;
  bottom: -22px;
  top:0;
}*/

  .myti-bloc-desc-top {
    margin-bottom: 30px;
  }
  .timeline-v2 > li .cbp_tmicon {
    z-index: 9;
  }
}

.comment-text {
 display: inline-block;
 width: calc(100% - 90px);
 vertical-align: top;
 margin-bottom:10px;
}

.comment-avatar {
 width: 30px;
 height: 30px;
 display: inline-block;
 vertical-align: top;
 margin-top: 14px;
 margin-left: 50px;
}
