.wrapper {
  .navbar-fixed-top {
    top:142px;
  }
}

.listing-modules {
  margin:20px auto 0;
  overflow:hidden;
  .header-v1 {
    position:relative;
    z-index: 1030!important;
    .navbar-fixed-top {
      position: relative;
    }
  }
}

.header {
  z-index: 1050!important;
  position: fixed!important;
  top: 0;
  width: 100%;
}

#module-sticky {
  >div {
    height:122px;
    position:relative;
  }
  #sticky-menu {
    position: absolute!important;
    top:0!important;
  }
  #sticky-menu-slide {
    position: absolute;
    top:0;
    right: 0px;
    >div {
      position: absolute!important;
    }
  }
}

.slider-margin-top {
  margin-top: 330px!important;
}

.catalogue-margin-top {
  margin-top: 145px!important;
}

div[id^="module-"] {
  padding-top: 165px;
  position: relative;
  top: -165px;
  margin-bottom: -135px;
  >div {
    border: solid 1px #eee;
    padding:10px;
    >p {
      font-size: 16px;
      margin-bottom:0;
      .emplacement {
        font-size:12px
      }
    }
  }
}

@media (max-width: 1200px) {
  .header .logo {
    float: left;
    img {
      width:69%;
      margin: 10px 0 !important;
    }
  }

  .wrapper {
    .navbar-fixed-top {
      top: 63px;
    }
  }

  .catalogue-margin-top {
    margin-top: 70px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px){
  .slider-margin-top {
    margin-top: 240px !important;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    .navbar-fixed-top {
      top: 63px;
    }
  }

  .slider-margin-top {
    margin-top: 145px !important;
  }
}