//liste domaine et secteurs

//th1 mesures analyse
//th2 procedes chimie bio agro
//th3 construction
//th4 energie
//th5 environement
//th6 genie industriel
//th7 mecanique
//th8 sciences fondamentales
//th9 technologie de l'information
//th10 nanotechnologies
//th11 materiaux
//th12 archives
//th13 electronique photonique
//th14 transports
//th15 biomedical pharma
//th16 automatique robotique

//variables
$domaines_secteurs_name: mesures analyse, procedes chimie bio agro, construction, energie, environement, genie industriel, mecanique, sciences fondamentales, technologie de l information, nanotechnologies, materiaux, archives, electronique photonique, transports, biomediacl pharma, automatique robotique, aerospatial, agroalimentaire, automobile, eco-indiustrie, equipement-industriel, plasturgie;
$domaines_secteurs_code: th1, th2, th3, th4, th5, th6, th7, th8, th9, th10, th11, th12, th13, th14, th15, th16, sc1, sc2, sc3, sc4, sc5, sc6;
$domaines_secteurs_colors: #178BB7, #1EAA74, #E0760C, #FABD11, #9DB51D, #1C8CBB, #D31E2C, #1F9A99, #C2A681, #A41979, #642F85, #6f6f6f, #E4054F, #25445C, #233267, #959594, #25445C, #23AB75, #222221, #9DB51D, #D31E2C, #642F85;

//fonction de génération
$i: 1;
@each $class in $domaines_secteurs_code {
  /* #{nth($domaines_secteurs_name, $i)} */
  .skin-#{$class} {
    .background-encart {
      background-color: nth($domaines_secteurs_colors, $i)!important;
    }
    .background-hover {
      &:hover{
        background-color: #ffffff!important;
        color: nth($domaines_secteurs_colors, $i)!important;
      }
    }
    img.border-encart {
      border:3px solid nth($domaines_secteurs_colors, $i);
    }
    .border-encart, &:hover {
      border:1px solid nth($domaines_secteurs_colors, $i);
    }
    .text-color {
      color: nth($domaines_secteurs_colors, $i);
      font-family: 'myriad-pro-semi-bold';
    }
    .color {
      color: nth($domaines_secteurs_colors, $i);
    }
    hr {
      background: nth($domaines_secteurs_colors, $i);
      width: 30px;
      height: 2px;
      margin: 0 0 10px 79px;
    }
  }
  body.skin-#{$class} {
    &:hover {
      border:0px solid nth($domaines_secteurs_colors, $i);
    }
  }
  $i: $i + 1;
}

$i: 1;
@each $class in $domaines_secteurs_code {
  /* #{nth($domaines_secteurs_name, $i)} */
  .zone-#{$class} {
    background-color: nth($domaines_secteurs_colors, $i);
    border: 1px solid nth($domaines_secteurs_colors, $i);
    &:hover {
      background-color: #fff;
      color : nth($domaines_secteurs_colors, $i);
      transition: all 0.3s ease-in-out;
    }
  }
  $i: $i + 1;
}