// variables
$color-red : #df2626;
$font-family-din : DIN-Alternate-medium, Century Gothic, Arial;

//régles css
#header {
  background-color: #000000;
  padding: 0;
  .title-bar {
    padding-top:0;
    padding-bottom:0;
    a {
      display: inline-block;
      padding: 10px 5px;
      border-right: 1px solid #3a414d;
      border-left: 1px solid #3a414d;
    }
    a, button {
      width:47%;
    }
  }
}

#site-name {
  font-size: 11px;
  overflow: hidden;
  margin:0;
  span:first-child {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    font-family: $font-family-din;
    color: $color-red;
  }
  span {
    height: 16px;
    letter-spacing: 1.3px;
    line-height: 16px;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
  }
}

#search-box {
  form {
    position:relative;
    margin-top: 0.7rem;
    #search_form_submit_span {
      position:absolute;
      top: 0;
      right: 1px;
      height: 25px;
      width: 30px;
      display: block;
      background: url(../images/search-picto.png) no-repeat center;
      input {
        background:transparent;border: none;
        height: 25px;
        width: 25px;
        cursor:pointer;
      }
    }
  }
  [type='text'] {
    padding: 0;
    border:none;
    background-color: #ffffff;
    margin: 0;
    height:24px;
    width:100%;
  }
}

#search-box {
  fieldset {
    border: 1px solid #68737a;
    color: #747678;
    background: #ffffff;
    padding: 0;
    margin: 0;
  }
}

#links {
  list-style: none;
  overflow: hidden;
  font-size: 11px;
  font-weight: 700;
  float: left;
  margin: 46px 0 0 0;
  a {
    color: #dbdbdb;
    text-decoration: none;
    text-transform: none;
    font-size: 11px;
    letter-spacing: 0.8px;
  }
}

#espace-abo {
  float: right;
  text-align: right;
  margin: 0.1rem 0 0 0;
  .contact-link {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    line-height: 19px;
    float:left;
    padding: 8px 5px;
    .text {
      letter-spacing: 1.3px;
      padding: 0;
      display: inline-block;
      text-transform: uppercase;
    }
    .symbole {
      padding: 3px 6px 1px 5px;
      background-color: $color-red;
      height: 28px;
      width: 28px;
      display: block;
      font-size: 22px;
      line-height: 24px;
    }
  }
}

#register_link-connected {
  padding: 10px;
  position: relative;
  float:left;
  margin: 0;
  .icon-silhouette {
    background: url(../images/icon-silhouette.png) no-repeat 0 0;
    width: 16px;
    height: 17px;
    display: block;
    float: right;
  }
  &.open {
    #myti-short-list {
      padding: 14px;
      width: 266px;
      z-index: 5;
      box-sizing: content-box;
    }
  }
  .register_link {
    border-top: 1px solid #bcbcbc;
    p {
      margin: 0 0 10px 0;
      font-size: 12px;
      font-weight: normal;
      font-family: Arial;
    }
    .titre {
      color: #1b6990;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 1.3px;
      margin: 15px 0 5px;
      font-family: $font-family-din;
    }
    a {
      color: #fff;
      padding: 10px 14px;
      min-width: 150px;
      width: 150px;
      height: 18px;
      display: block;
      text-transform: uppercase;
    }
  }
}

.navbar-default {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  position:relative;
  z-index: 3;
  border:none;
  border-radius:0;
  min-height:40px;
  margin:0;
}
#main-menu {
  &.pousse {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 295px;
    height: 100% !important;
    background-color: #515b62;
    border-right: 1px solid #68737a;
    overflow-y: scroll;
  }
  .top-bar {
    padding: 0;
  }
  ul {
    background-color: #515b62;
    li {
      &.active {
        padding: 0;
        margin: 0;
        color: #ffffff;
        a {
          color: #ffffff;
          background: $color-red;
        }
        ul {
          li {
            .is-drilldown-submenu-item {
              a {
                background: #333333 !important;
              }
            }
          }
        }
      }
      &.resdoc, &.actu {
        background: #68737a;
        padding: 0;
      }
      a {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        display: block;
        letter-spacing: 1px;
        padding: 1.5rem 0.25rem;
        border-bottom: 1px solid #b4b9bd;
        font-family: $font-family-din;
        line-height: normal;
      }
      &.externe {
        float: right;
        &:hover {
          background-color: #000000;
        }
        a {
          font-size: 12px;
          padding: 1.5rem 0.25rem;
        }
      }
      &.whitepaper {
        a {
          background: none;
        }
      }
      &.bout {
        a {
          background: none;
        }
      }
    }
  }
  .is-drilldown-submenu-parent {
    > a {
      &::after {
        border-color: transparent transparent transparent #ffffff;
      }
    }
  }
  .js-drilldown-back {
    &::before {
      margin-top: 24px;
      border-color: transparent #ffffff transparent transparent;
    }
  }
}

#liens-reseaux-sociaux {
  ul {
    padding: 0;
    margin: 0;
    float:right;
    li {
      padding:0;
      a {
        padding: 10px 0 0 1rem;
      }
    }
  }
}
