@media print {
  a[href]:after {
    content: none !important;
  }
}
.header,
.navbar,
.navbar-fixed-top,
#sticky,
.fp,
.related-search,
.tab-search,
.actions-select,
.pagination,
#menu-smint,
.bottom-bloc,
#footer,
.boxPub {
  display:none;
}
.inner-results {
  .checkbox {
    display:none;
  }
  .list-inline {
    margin:0;
    padding:0;
  }
}
h2 {
  margin:-100px 0 0 0;
  padding:0;
}
.inner-results:first-child {
  margin:-50px 0 0 0;
}
.inner-results {
  h3,
  .description {
    margin:10px 0 0 5px;
  }
  .dark-grey-title {
    margin:0 0 0 5px;
  }
}