@font-face {
  font-family: 'DIN-Alternate-medium';
  src: url('../fonts/din_alternate_medium-webfont.eot');
  src: url('../fonts/din_alternate_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/din_alternate_medium-webfont.woff') format('woff'),
  url('../fonts/din_alternate_medium-webfont.ttf') format('truetype'),
  url('../fonts/din_alternate_medium-webfont.svg#din_alternate_medium-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  max-width: 1024px;
}
iframe {
  border:none;
}

.buton-blue {
  background: #1d729b;
  background: -moz-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d729b), color-stop(100%, #196185));
  background: -webkit-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -o-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -ms-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: linear-gradient(to bottom, #1d729b 0%, #196185 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d729b', endColorstr='#196185', GradientType=0);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 14px;
  font-size: 12px;
  cursor: pointer;
  display:inline-block;
  .text {
    letter-spacing: 1px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    float: left;
    text-align: center;
    display: block;
    line-height: 18px;
  }
  &:hover, &:focus, &:active {
    color:#ffffff;
  }
}

#myti-short-list {
  border: 1px solid #DADADA;
  font-weight: bold;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f5f5f5), color-stop(100%,#d0d0d0));
  background: -webkit-linear-gradient(top, #f5f5f5 2%,#d0d0d0 100%);
  background: -o-linear-gradient(top, #f5f5f5 2%,#d0d0d0 100%);
  background: -ms-linear-gradient(top, #f5f5f5 2%,#d0d0d0 100%);
  background: linear-gradient(to bottom, #f5f5f5 2%,#d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d0d0d0',GradientType=0 );
  position: absolute;
  z-index: 9999;
  zoom: 1;
  right: 5px;
  text-align: left;
  color: #333;
  text-transform: none;
  box-shadow: 0px 5px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
  padding:16px;
  width: 300px;
  display:none;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.no-gutters-left {
  padding-left: 0;
}
.no-gutters-right {
  padding-right: 0;
}
.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.fleche, img.zoom {
  position: absolute;
}
img.zoom {
  bottom: 0;
  right: 0;
}
.pousse {
  left: 295px;
  position: relative;
}
.border-red{
  border: 1px solid #ea2336;
}

div.border-red {
  position:absolute;
  top: -5px;
  left:40px;
  height:119px;
  width:88px;
  z-index: 1;
}

.picto-article-temoin {
  background: url("../images/picto-article-temoin.png") no-repeat center left transparent;
  height: 52px;
  display: block;
  float: left;
  color:#697277;
}
.picto-article-temoin:hover {
  text-decoration: underline;
  color:#ea2336;
}

.header {
  .navbar-toggle {
    margin-top: 8px!important;
  }
}

.search-free {
  p {
    display: none;
  }
}

/*RECHERCHE AVANCEE*/
.recherche-avancee,
.filtre {
  .bloc-toogle {
    span {
      background:#646d72;
      display:block;
      margin:0;
      padding:10px;
      font-size:14px;
    }
  }
  .title-element {
    background:#717984;
    color:#FFF!important;
    margin:0;
    paddng:10px;
  }
  label {
    font-size:12px;
    color:#4d5356;
    width:100%;
  }
  .section-title {
    text-transform:uppercase;
    color:#ec1625;
    font-size:13px;
    font-weight:bold;
    margin:10px 0 0 0;
  }
  .form-group-fieldset {
    margin:0;
    padding:0;
  }
  .form-group {
    margin:10px 30px 0;
    padding:0;
    select {
      margin:0;
      width:100%;
    }
  }
  .form-control {
    height:29px;
  }
  .syntaxe {
    font-size:10px;
    text-transform:none;
  }
  .syntaxe-or {
    span {
      display:block;
    }
  }
  .btn-u {
    margin:20px 0 0 10px;
  }
  .but-recherche {
    display:block;
    margin:30px auto 20px;
    padding:5px 25px;
    width:83%;
    span {
      background:url("../images/arrow-red-right-v2.png") no-repeat 0 0;
      display:inline-block;
      width:7px;
      height:12px;
      margin:5px 0 0 0;
      padding:0;
      float:left;
    }
    p {
      float:left;
    }
  }
}

.sidebar-nav-v1 {
  .filtre {
    ul {
      margin:0;
      padding:0 0 0 10px;
      background:#FFF;
      ul {
        margin:0;
        padding:0 0 0 20px;
        background:#FFF;
        li {
          background:#FFF;
          a {
            border:none;
            color:#4d5356;
            font-size:12px;
            margin:0;
            padding:0;
            background:none;
          }
        }
        li:hover {
          a {
            color:#4d5356;
          }
        }
      }
    }
    .section-title {
      margin:0;
    }
    .form-group {
      margin:0;
      padding:0;
    }
    hr {
      margin:15px 0;
    }
  }
}
.border-grey {
  border:1px solid #697277;
}
.color-f4f3f3 {
  background-color:#f4f3f3;
}
.inner-results {
  clear:both;
  display:inline-block;
  .inner-results .checkbox input {
    margin: 6px 8px 0 0;
  }
}
.inner-results.article {
  text-align:left;
}
hr {
  margin:20px 0 30px 0;
}
.recherche-inside {
  .form-control {
    width:87%;
    height:25px;
  }
  .btn-search-inside {
    height:25px;
    width:25px;
    padding-bottom:2px;
    span {
      background:url("../images/search-picto-v2.png") no-repeat 0 0;
      width:25px;
      height:25px;
      display:inline-block;
      margin:-6px 0 0 -13px;
      padding:0;
    }
  }
}
.checkbox {
  input[type="checkbox"] {
    margin-left:0;
  }
}
.pertinence {
  width:50%;
}

.ico-search {
  background:url("../images/icone-recherche.png") no-repeat 0 0;
  width:35px;
  height:31px;
  margin:0 0 0 30px;
  padding:0;
  display:inline-block;
}

.archive .ico-search {
  background-position:0 0;
}
.article .ico-search {
  background-position:0 -31px;
}
.fiche .ico-search {
  background-position:0 -62px;
}
.actu .ico-search {
  background-position:0 -88px;
}
.outil .ico-search {
  background-position:0 -124px;
}
.ref_biblio .ico-search {
  background-position:0 0;
}
.pesp .ico-search {
  background-position:0 0;
}
.wp .ico-search {
  background-position:0 0;
}
.formation .ico-search {
  background-position:0 0;
}
.conference .ico-search {
  background-position:0 0;
}
.dossier .ico-search {
  background-position:0 0;
}
.basedoc .ico-search {
  background-position:0 0;
}
.lexique .ico-search {
  background-position:0 0;
}
.actions-select-all {
  input#actions-select-all {
    margin-left:-20px;
  }
}
.pagination {
  li:first-child,
  li:last-child {
    a {
      border:none;
      background:none;
    }
  }
  li:first-child {
    a {
      border-right:1px solid #ddd;
    }
  }
  li:last-child {
    a {
      border-left:1px solid #ddd;
    }
  }
  .active,
  a:hover {
    a {
      background:#ec1625;
      border:1px solid #ec1625;
    }
  }
}
.fp {
  ul {
    .favoris {
      margin-right:15px;
    }
    .print {
      margin-left:10px;
      margin-right:-40px;
    }
  }
}
#wrap-history {
  .boxHistory {
    display:none;
  }
}
#wrap-history:hover {
  .boxHistory {
    text-decoration:none;
    display:block;
    position:relative;
    top:0;
    left:0;
    color:#666;
    padding:10px;
    width:150%;
    z-index:999999;
    border:1px solid #697277;
    background-color:#fff;
    .close {
      top:-2px;
      right:0;
    }
    span {
      font-family:Verdana;
      color:#012b43;
      text-decoration:none;
      padding:2px 0;
    }
  }
}
.up-ul {
  li {
    a {
      font-size:11px;
      color:#4d5356;
    }
  }
}
.list-group-item:first-child,
.list-group-item:last-child {
  background:#697277;
  color:#FFF;
  position:relative;
}
.list-toggle:after {
  color: #fff;
  content: "\f107";
  font-size:2.5em;
  top:-9px;
}
.list-toggle.active:after {
  color: #fff;
  content: "\f106";
  font-size:2.5em;
  top:-10px;
}
.tab-search {
  height:45px;
  margin:0;
  select {
    width:50%;
  }
}