var/*
/node_modules/*
.idea/
.DS_Store
vendor/

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/sessions/.gitkeep
/composer.lock
!var/sessions/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep
*.log
*.sh

!var/bootstrap.php.cache
!var/SymfonyRequirements.php

