<div class="services-boxes service-box-padding service-element-border elem-center-tablet">
    <a href="" style="text-decoration:none;">
        <div class="row">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-cog margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                <p class="font-size-15 letter-spacing-1 archive-info-margin">Infos - Mise à jour</p>
                <p class="margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 bootstrap-icon-size-1v5"></i>Recevez par email toutes les nouveautés<br class="rwd-break"> de vos ressources documentaires</p>
            </div>
        </div>
    </a>
</div>