{# wk-template : Le nom de mon template #}
{# wk-description : La description sur une ligne de mon template #}
{% extends 'base.html.twig' %}

{% block body %}

    <h1>Actualité</h1>

    {{  module('module-test')  }}
    {{  module('repertoire/module-test')  }}

    {{  module('repertoire/repertoire-qui-nexiste-pas/module-test')  }}

    <img src="{{ media('blue_picto_less.gif') }}" />

{% endblock %}
