<!--=== Footer v2 ===-->
<div id="footer-v2">
    <div class="footer footer-bg-color">

        <div class="row footer1-bg-colorr " >

            <!-- Simple List -->
            <div class="col-sm-6 col-md-4">

                <div class="thumb-headline"><h2><span class="red-title font-weight-500">RESSOURCES&nbsp;DOCUMENTAIRES</span></h2></div>
                <ul class="list-unstyled equal-height-list margin-bottom-20 font-weight-400">
                    <li><a class="dark-grey-title" href="#"> TRAITEMENT&nbsp;DES&nbsp;EAUX</a></li>
                    <li><a class="dark-grey-title" href="#"> AGROALIMENTAIRE</a></li>
                    <li><a class="dark-grey-title" href="#"> CORROSION</a></li>
                    <li><a class="dark-grey-title" href="#"> TRIBOLOGIE</a></li>
                    <li><a class="dark-grey-title" href="#"> ENVIRONNEMENT</a></li>
                    <li><a class="dark-grey-title" href="#"> GESTION&nbsp;DES&nbsp;RISQUES</a></li>
                    <li><a class="dark-grey-title" href="#"> INNOVATION&nbsp;TECHNOLOGIQUE</a></li>
                    <li><a class="dark-grey-title" href="#"> NANOTECHNOLOGIE</a></li>
                    <li><a class="dark-grey-title" href="#"> GÉNIE&nbsp;CIVIL</a></li>
                    <li><a class="dark-grey-title" href="#"> CHIMIE&nbsp;VERTE</a></li>
                    <li><a class="dark-grey-title" href="#"> INGÉNIEUR&nbsp;TERRITORIAL</a></li>
                    <li><a class="dark-grey-title" href="#"> MAINTENANCE&nbsp;INDUSTRIELLE</a></li>
                </ul>
            </div><!--/col-md-4-->

            <div class="col-sm-6 col-md-4">
                <div class="thumb-headline"><h2><span class="red-title font-weight-500">LE&nbsp;MAGAZINE</span></h2></div>
                <ul class="list-unstyled equal-height-list margin-bottom-20 font-weight-400">
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;ENVIRONNEMENT</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;TECHNOLOGIES&nbsp;DE&nbsp;L'ÉNERGIE</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;GÉOPOLITIQUE&nbsp;DE&nbsp;L'ÉNERGIE</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;HIGH&nbsp;TECH</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;WEB</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;RECHERCHE,&nbsp;INNOVATION & ESPACE</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;MATÉRIAUX&nbsp;INNOVANTS&nbsp;&&nbsp;NANO</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;BIOTECH&nbsp;&&nbsp;CHIMIE</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;ENTREPRISES</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;ÊTRE&nbsp;INGÉNIEUR</a></li>
                    <li><a class="dark-grey-title" href="#"> ACTUALITÉ&nbsp;INSOLITE</a></li>
                </ul>
            </div><!--/col-md-4-->

            <div class="col-sm-12 col-md-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="thumb-headline"><h2><span class="red-title font-weight-500">TELECHARGEMENT&nbsp;GRATUITS</span></h2></div>
                        <ul class="list-unstyled equal-height-list margin-bottom-20 font-weight-400">
                            <li><a class="dark-grey-title" href="#"> TÉLÉCHARGER TOUS LES LIVRES BLANCS</a></li>
                        </ul>

                        <div class="thumb-headline"><h2><span class="red-title font-weight-500">FORMATIONS</span></h2></div>
                        <ul class="list-unstyled equal-height-list margin-bottom-20 font-weight-400">
                            <li><a class="dark-grey-title" href="#"> DÉCOUVREZ AUSSI TOUTES LES FORMATIONS</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="thumb-headline"><h2><span class="red-title font-weight-500">A PROPOS</span></h2></div>
                        <ul class="list-unstyled equal-height-list font-weight-400">
                            <li><a class="dark-grey-title" href="#"> LOREM IPSUM</a></li>
                            <li><a class="dark-grey-title" href="#"> LOREM IPSUM</a></li>
                            <li><a class="dark-grey-title" href="#"> LOREM IPSUM</a></li>
                            <li><a class="dark-grey-title" href="#"> LOREM IPSUM</a></li>
                        </ul>

                        <div class="thumb-headline"><h2><span class="red-title font-weight-500">SUIVEZ-NOUS</span></h2></div>
                        <ul class="social-icons width-220">
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                            <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                            <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                            <li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
                        </ul>
                    </div>
                </div>
            </div><!--/col-md-4-->
            <!-- End Simple List -->
        </div>
        <div class="row footer2-bg-color">
            <div class="col-md-5 col-sm-6">
                <p class="white-title es-sous-titre-footerr font-weight-300" >ÉDITIONS T.I ; ÉDITION - FORMATION - CONSEIL : </p>
                <p class="white-title es-p-footerr font-weight-300">	Avec Techniques de l'Ingénieur, retrouvez tous les articles <br> scientifiques et techniques : base de données, veille technologique,<br>documentation et expertise technique </p>
            </div>
            <div class="col-md-7 padding-992 col-sm-6">
                <p class="white-title footer-row2-rightCol-style font-weight-300" >
                    <a class="white-title" href="#"> CONSTRUCTION</a><span class="slash-style"> / </span>
                    <a class="white-title" href="#"> ÉNERGIE</a><span class="slash-style"> / </span>
                    <a class="white-title" href="#"> ENVIRONNEMENT-SÉCURITÉ</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> GÉNIE INDUSTRIEL</a> <span class="slash-style"> / </span>  <br>
                    <a class="white-title" href="#"> MATÉRIAUX</a><span class="slash-style"> / </span>
                    <a class="white-title" href="#"> MÉCANIQUE</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> INNOVATIONS</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> PROCÉDÉS CHIMIE BIO AGRO</a> <span class="slash-style"> / </span>  <br>
                    <a class="white-title" href="#"> SCIENCES FONDAMENTALES</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> TECHNOLOGIES DE L'INFORMATION</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> ÉLECTRONIQUE <br>- AUTOMATIQUE</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> TRANSPORTS</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> BIOMÉDICAL - PHARMA</a> <span class="slash-style"> / </span>
                    <a class="white-title" href="#"> ARCHIVES</a>
                </p>
            </div>
        </div>
        <div class="row footer3-bg-color es-p">

            <p  class="footer-row3-p-style font-weight-300">
                <a class="white-title footer-row3-padding" href="#"> ACCUEIL</a>
                <a class="white-title footer-row3-padding" href="#"> NOUS&nbsp;CONTACTER</a>
                <a class="white-title footer-row3-padding" href="#"> COMITÉ&nbsp;SCIENTIFIQUE</a>
                <a class="white-title footer-row3-padding" href="#"> FAQ</a>
                <a class="white-title footer-row3-padding" href="#"> PLAN&nbsp;DU&nbsp;SITE</a>
                <a class="white-title footer-row3-padding" href="#"> CGU</a>
                <a class="white-title footer-row3-padding" href="#"> CGV</a>
                <a class="white-title footer-row3-padding" href="#"> MENTIONS&nbsp;LÉGALES</a>
                <a class="white-title footer-row3-padding" href="#"> PARTENAIRES</a>
                <a class="white-title footer-row3-padding" href="#"> PUBLICITÉ&nbsp;-&nbsp;ANNONCEURS</a>
            </p>
        </div>
    </div><!--/footer-->
</div>
<!--=== End Footer v2 ===-->