<div class="hidden-print bottom-bloc">
    <div class="container">
        <!--=== 3 blocs ===-->
        <div class="row padding-top-20">
            <div class="col-sm-4 col-md-2 col-lg-2 col-md-offset-3 col-lg-offset-3 no-gutters">
                <p align="center"><i class="fa fa-lock font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
                <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">PAIEMENT<br> SÉCURISÉ</p>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2 no-gutters">
                <p align="center"><i class="fa fa-clock-o font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
                <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">OUVERTURE RAPIDE<br> DE VOS DROITS</p>
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2 no-gutters">
                <p align="center"><i class="fa fa-phone font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
                <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">ASSISTANCE TÉLÉPHONIQUE<br> <span class="color-red-eti font-family-myriadpro-bold">+33 (0)1 53 35 20 20</span></p>
            </div>
        </div>
        <!--=== End 3 blocs ===-->
    </div>

</div>
<!--=== Footer v2 ===-->
<div id="footer-v2">
    <div class="footer footer-bg-color">

        <div class="row footer1-bg-color">
            <div class="container">
                <!-- Simple List -->
                <div class="col-sm-6 col-md-3">
                    <p class="white-title letter-spacing-75"><span class="font-family-myriadpro-semibold">L'EXPERTISE TECHNIQUE ET&nbsp;SCIENTIFIQUE</span><br>DE RÉFÉRENCE</p>
                    <p class="white-title font-size-12 letter-spacing-75">ÉDITION - FORMATION - CONSEIL :<br>Avec Techniques de l'Ingénieur, retrouvez tous les articles scientifiques et techniques : base de données, veille technologique, documentation et expertise technique </p>
                </div>

                <div class="col-sm-6 col-md-3 no-gu">

                    <div class="thumb-headline">
                        <h2><span class="font-weight-500">RESSOURCES&nbsp;DOCUMENTAIRES</span></h2>
                        <div class="eti-footer-devider margin-bottom-15 margin-top-10"></div>
                    </div>
                    <ul class="list-unstyled equal-height-list margin-bottom-20 font-weight-400">
                        <li><a href="#"> TRAITEMENT&nbsp;DES&nbsp;EAUX</a></li>
                        <li><a href="#"> AGROALIMENTAIRE</a></li>
                        <li><a href="#"> CORROSION</a></li>
                        <li><a href="#"> TRIBOLOGIE</a></li>
                        <li><a href="#"> ENVIRONNEMENT</a></li>
                        <li><a href="#"> GESTION&nbsp;DES&nbsp;RISQUES</a></li>
                        <li><a href="#"> INNOVATION&nbsp;TECHNOLOGIQUE</a></li>
                        <li><a href="#"> NANOTECHNOLOGIE</a></li>
                        <li><a href="#"> GÉNIE&nbsp;CIVIL</a></li>
                        <li><a href="#"> CHIMIE&nbsp;VERTE</a></li>
                        <li><a href="#"> INGÉNIEUR&nbsp;TERRITORIAL</a></li>
                        <li><a href="#"> MAINTENANCE&nbsp;INDUSTRIELLE</a></li>
                    </ul>
                </div><!--/col-md-4-->

                <div class="col-sm-6 col-md-3">
                    <div class="thumb-headline"><h2><span class="font-weight-500">LE&nbsp;MAGAZINE</span></h2><div class="eti-footer-devider margin-bottom-15 margin-top-10"></div></div>
                    <ul class="list-unstyled equal-height-list margin-bottom-20 font-weight-400">
                        <li><a href="#"> ACTUALITÉ&nbsp;ENVIRONNEMENT</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;TECHNOLOGIES&nbsp;DE&nbsp;L'ÉNERGIE</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;GÉOPOLITIQUE&nbsp;DE&nbsp;L'ÉNERGIE</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;HIGH&nbsp;TECH</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;WEB</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;RECHERCHE,&nbsp;INNOVATION & ESPACE</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;MATÉRIAUX&nbsp;INNOVANTS&nbsp;&&nbsp;NANO</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;BIOTECH&nbsp;&&nbsp;CHIMIE</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;ENTREPRISES</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;ÊTRE&nbsp;INGÉNIEUR</a></li>
                        <li><a href="#"> ACTUALITÉ&nbsp;INSOLITE</a></li>
                    </ul>
                </div><!--/col-md-4-->

                <div class="col-sm-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="thumb-headline"><h2><span class="font-weight-500">TÉLÉCHARGEMENTS&nbsp;GRATUITS</span></h2><div class="eti-footer-devider margin-bottom-15 margin-top-10"></div></div>
                            <ul class="list-unstyled equal-height-list font-weight-400">
                                <li><a href="#"> TÉLÉCHARGER TOUS LES LIVRES BLANCS</a></li>
                            </ul>

                            <div class="thumb-headline"><h2><span class="font-weight-500">FORMATIONS</span></h2><div class="eti-footer-devider margin-bottom-15 margin-top-10"></div></div>
                            <ul class="list-unstyled equal-height-list font-weight-400">
                                <li><a href="#"> DÉCOUVREZ AUSSI TOUTES LES FORMATIONS</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="thumb-headline"><h2><span class="font-weight-500">SUIVEZ-NOUS</span></h2><div class="eti-footer-devider margin-bottom-15 margin-top-10"></div></div>
                            <ul class="social-icons width-220">
                                <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                                <li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/col-md-4-->
                <!-- End Simple List -->
            </div>
        </div>

        <div class="row footer2-bg-color">
            <div class="container">
                <div class="col-xs-12 text-center">
                    <p class="white-title font-size-12 margin-top-15 margin-bottom-15 line-height-20" >
                        <a href="#"> CONSTRUCTION</a><span class="slash-style"> | </span>
                        <a href="#"> ÉNERGIE</a><span class="slash-style"> | </span>
                        <a href="#"> ENVIRONNEMENT-SÉCURITÉ</a> <span class="slash-style"> | </span>
                        <a href="#"> GÉNIE INDUSTRIEL</a> <span class="slash-style"> | </span>
                        <a href="#"> MATÉRIAUX</a><span class="slash-style"> | </span>
                        <a href="#"> MÉCANIQUE</a> <span class="slash-style"> | </span>
                        <a href="#"> INNOVATIONS</a> <span class="slash-style"> | </span>
                        <a href="#"> PROCÉDÉS CHIMIE BIO AGRO</a> <span class="slash-style"> | </span>
                        <a href="#"> SCIENCES FONDAMENTALES</a> <span class="slash-style"> | </span>
                        <a href="#"> TECHNOLOGIES DE L'INFORMATION</a> <span class="slash-style"> | </span>
                        <a href="#"> ÉLECTRONIQUE - AUTOMATIQUE</a> <span class="slash-style"> | </span>
                        <a href="#"> TRANSPORTS</a> <span class="slash-style"> | </span>
                        <a href="#"> BIOMÉDICAL - PHARMA</a> <span class="slash-style"> | </span>
                        <a href="#"> ARCHIVES</a>
                    </p>
                </div>

                <hr id="hr-separator">

                <div class="text-center margin-bottom-20">
                    <div class="line1">
                        Top recherches :
                        <ul class="inline">
                            <li><a href="/glossaire/index.html">Top</a></li>
                            <li><a href="/glossaire/A">A</a></li>
                            <li><a href="/glossaire/B">B</a></li>
                            <li><a href="/glossaire/C">C</a></li>
                            <li><a href="/glossaire/D">D</a></li>

                            <li><a href="/glossaire/E">E</a></li>
                            <li><a href="/glossaire/F">F</a></li>
                            <li><a href="/glossaire/G">G</a></li>
                            <li><a href="/glossaire/H">H</a></li>
                            <li><a href="/glossaire/I">I</a></li>
                            <li><a href="/glossaire/J">J</a></li>

                            <li><a href="/glossaire/K">K</a></li>
                            <li><a href="/glossaire/L">L</a></li>
                            <li><a href="/glossaire/M">M</a></li>
                            <li><a href="/glossaire/N">N</a></li>
                            <li><a href="/glossaire/O">O</a></li>
                            <li><a href="/glossaire/P">P</a></li>

                            <li><a href="/glossaire/Q">Q</a></li>
                            <li><a href="/glossaire/R">R</a></li>
                            <li><a href="/glossaire/S">S</a></li>
                            <li><a href="/glossaire/T">T</a></li>
                            <li><a href="/glossaire/U">U</a></li>

                            <li><a href="/glossaire/V">V</a></li>
                            <li><a href="/glossaire/W">W</a></li>
                            <li><a href="/glossaire/X">X</a></li>
                            <li><a href="/glossaire/Y">Y</a></li>
                            <li class="last"><a href="/glossaire/Z">Z</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer3-bg-color">
            <div class="container">
                <p  class="padding-top-10 padding-bottom-10 text-center letter-spacing-75 margin-0">
                    <a class="white-title" href="#"> ACCUEIL</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> NOUS&nbsp;CONTACTER</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> COMITÉ&nbsp;SCIENTIFIQUE</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> FAQ</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> PLAN&nbsp;DU&nbsp;SITE</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> CGU</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> CGV</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> MENTIONS&nbsp;LÉGALES</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> PARTENAIRES</a><span class="white-title slash-style"> | </span>
                    <a class="white-title" href="#"> PUBLICITÉ&nbsp;-&nbsp;ANNONCEURS</a>
                </p>
            </div>
        </div>
    </div><!--/footer-->
</div>
<!--=== End Footer v2 ===-->