<div class="row">
    <h3 class="text-center color-red-eti margin-bottom-25 font-size-15 letter-spacing-75 col-lg-12">La lecture <span class="hilighted-word">complète</span>  de cet article et le téléchargement du <span class="hilighted-word">PDF</span> sont réservés aux abonnés</h3>
    <div class="col-sm-12 col-md-6 col-lg-6 padding-right-30 xs-padding-right-15" style="border-right:1px solid #C6C6C6">
        <form class="reg-page">
            <div class="clearfix">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 no-gutters text-right">
                    <p class="user-btn margin-top-10 xs-margin-top-2 xs-font-size-20 no-gutters-left"><i class="fa fa-user header-btn-size"></i><span class="badge badge-orange rounded-x badge-x badge-xx" style="padding-right: 4px;width: 20px;"><i class="fa fa-check"></i></span></p>
                </div>
                <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 no-gutters-left">
                    <p class="letter-spacing-75 font-size-15 text-center color-blue-eti">Vous êtes <span class="font-family-myriadpro-semibold">abonnés</span> à cette offre&nbsp;? <br />Connectez-vous !</p>
                </div>
            </div>
            <div>
                <span class="col-lg-12 letter-spacing-75 article-body-color font-size-11 margin-bottom-23 text-center margin-bottom-5">Pour accéder à l'intégralité du contenu inscrivez-vous :</span>
            </div>
            <div>
                <div class="input-group margin-bottom-20 input-grp-adjust col-xs-8 col-sm-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-lg-offset-2">
                    <span class="input-group-addon"><i class="fa fa-user" style="color: #b3b3b3;padding-top: 0px; margin-top: 4px;"></i></span>
                    <input type="text" placeholder="Identifiant" class="form-control" style="height:34px">
                </div>
            </div>
            <div>
                <div class="input-group margin-bottom-20 input-grp-adjust col-xs-8 col-sm-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-lg-offset-2">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt" style="padding-top: 0px; margin-top: 4px;"></i></span>
                    <input type="password" placeholder="Mot de passe" class="form-control">
                </div>
            </div>
            <div class="clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <button style="display: inline-block;width: auto;" type="submit" class="btn-u btn-block btn-x btn-u-blue font-size-13 letter-spacing-7520 letter-spacing-75 btn-center"><i class="fa fa-arrow-right margin-right-5"></i>SE CONNECTER</button>
                </div>
            </div>
            <div class="text-center">
                <input class="input input-checkbox" type="checkbox" name="subscription" id="subscription">
                <label class="checkbox pasword-remember article-body-color">Mémoriser votre mot de passe</label>
            </div>
            <div class="text-center">
                <a class="letter-spacing-75 pasword-forgotten article-body-color" href="#"><u>Vous avez oublié votre mot de passe ?</u></a>
            </div>
        </form>

        <hr id="hr-separator" class="hidden-lg">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 padding-left-30 xs-padding-left-15">
        <p class="text-center margin-bottom-19 letter-spacing-75 article-body-color font-size-15">Vous souhaitez <span class="font-family-myriadpro-semibold">découvrir</span> cette offre ? </p>
        <div>
            <div class="col-xs-12 col-sm-12 col-md-3 no-gutters-right">
                <p class="text-right margin-0"><img itemprop="image" class="img-x margin-bottom-0" src="http://preprod.techniques-ingenieur.fr/boutique/media/catalog/product/cache/4/image/130x134/9df78eab33525d08d6e5fb8d27136e95/t/i/ti660.png" alt=""></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="margin-top-25">
                    <p class="margin-bottom-0 letter-spacing-75 article-body-color text-center"> Cet article est inclus dans l'offre :</p>
                </div>
            </div>
        </div>

        <p class="text-center color-red-eti margin-top-15 margin-bottom-30 letter-spacing-75 font-family-myriadpro-semibold font-size-15">MÉDICAMENTS ET PRODUITS PHARMACEUTIQUES </p>

        <div>
            <p class="col-xs-12 col-sm-12 col-md-12 text-center letter-spacing-75">
                <a href="" class="btn-u btn-u-red btn-center" type="button"><i class="fa fa-download margin-right-5"></i>EXTRAIT GRATUIT</a>
            </p>
        </div>

        <div>
            <p class="col-xs-12 col-sm-12 col-md-12 text-center letter-spacing-75">
                <a href="" class="btn-u btn-u-red btn-center" type="button"><i class="fa fa-arrow-right margin-right-5"></i>VOIR L'OFFRE</a>
            </p>
        </div>
    </div>
</div>