<div class="cadre-downloads md-margin-top">
    <div class="tag-box-v6 offres-paddings box-colors text-center">
        <h3 class="offres-title letter-spacing-75 margin-top-15 margin-bottom-15">Les + Techniques de l'Ingénieur</h3>
        <div class="offer-devider"></div>
        <dl class="dl-horizontal margin-bottom-10">
            <dt><i class="fa fa-th-list icon-size-3"></i></dt>
            <dd>plus grande base scientifique et technique francophone</dd>
            <dt><i class="fa fa-check-square-o icon-size-3"></i></dt>
            <dd>rédigée et validée par des experts</dd>
            <dt><i class="fa fa-undo icon-size-3"></i></dt>
            <dd>mise a jour permanente</dd>
            <dt><i class="fa fa-desktop icon-size-3"></i></dt>
            <dd>100% compatible sur tous les supports numériques</dd>
            <dt><i class="fa fa-plus icon-size-3"></i></dt>
            <dd>services inclus dans chaque offre</dd>

        </dl>
    </div>
</div>