<div class="cadre-downloads md-margin-top">
    <div class="tag-box tag-box-v6 offres-paddings box-colors text-center">
        <h3 class="offres-title letter-spacing-1 margin-top-15 margin-bottom-20">Notre offre commerciale</h3>
        <dl class="dl-horizontal margin-bottom-30">
            <dt><i class="fa fa-th-list icon-size-3"></i></dt>
            <dd>plus grande base scientifique et technique francophone</dd>
            <dt><i class="fa fa-check-square-o icon-size-3"></i></dt>
            <dd>rédigée et validée par des experts</dd>
            <dt><i class="fa fa-undo icon-size-3"></i></dt>
            <dd>mise a jour permanente</dd>
            <dt><i class="fa fa-plus icon-size-3"></i></dt>
            <dd>services inclus</dd>
            <dt><i class="fa fa-desktop icon-size-3"></i></dt>
            <dd>pc, tablettes et off line</dd>
        </dl>
    </div>
</div>