<!--=== 3 blocs ===-->
<hr id="hr-separator">
<div class="row" style="padding-top: 20px;">
    <div class="col-md-4 col-sm-4">
        <p align="center"><i class="fa fa-lock font-awesome-size-2 icon-color" aria-hidden="true"  ></i></p>
        <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">PAIEMENT<br> SÉCURISÉ</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p align="center"><i class="fa fa-clock-o font-awesome-size-2 icon-color" aria-hidden="true" ></i></p>
        <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">OUVERTURE<br> RAPIDE</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p align="center"><i class="fa fa-phone font-awesome-size-2 icon-color" aria-hidden="true" ></i></p>
        <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">ASSISTANCE <br>TÉLÉPHONIQUE</p>
    </div>
</div>
<p class="font-size-16 letter-spacing-110 line-height-20 padding-top-20 text-center font-weight-300">VOUS ÊTES <span class="font-family-myriadpro-bold"> CLIENT</span> ? VOUS AVEZ UNE <span class="font-family-myriadpro-bold">QUESTION</span> EN RELATION AVEC <span >VOS ABONNEMENTS</span> ?</p>
<p class="font-size-16 letter-spacing-110 line-height-20 text-center font-weight-300">CONTACTEZ UN <span class="font-family-myriadpro-bold">CONSEILLER CLIENTÈLE</span> AU <span class="color-red-eti font-family-myriadpro-bold">00 33 (0)1 53 35 20 20</span></p>
<hr id="hr-separator">
<!--=== End 3 blocs ===-->