<div class="row row-3-blocks">
    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 xs-padding-left-60 md-padding-left-60 xs-margin-bottom-15">
        <div class="row sm-padding-left-30">
            <div class="col-xs-2 col-sm-3 col-md-2">

                <p class="margin-bottom-20 box-icon"><i class="fa fa-th-list font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-10">
                <p class="bande-cols">L'accès à une base complète d'articles <br>actualisée et mise à jour en permanence</p>
                <p class="bande-cols petit-text"> <i class="fa fa-angle-right padding-right-5"></i> En ce moment 216 articles</p></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 xs-padding-left-60">
        <div class="row sm-padding-left-30">

            <div class="col-xs-2 col-sm-3 col-md-2">
                <p class="margin-bottom-20 box-icon"><i class="fa fa-plus font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-10 ">
                <p class="bande-cols">Des services <br>et outils pratiques</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 xs-padding-left-60">
        <div class="row">
            <div class="col-xs-2 col-sm-3 col-md-2">
                <p class="margin-bottom-20 box-icon"><i class="fa fa-desktop font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
            </div>
            <div class="col-xs-10 col-sm-9 col-md-10">
                <p class="bande-cols">100% web consultable<br> sur tous les supports numériques</p>
            </div>
        </div>
    </div>
</div>