<!--=== 3 blocs ===-->
<hr id="hr-separator">
<div class="row padding-top-20">
    <div class="col-sm-4 col-md-4 col-lg-2 col-lg-offset-3 no-gutters">
        <p align="center"><i class="fa fa-lock font-awesome-size-2 icon-color" aria-hidden="true"  ></i></p>
        <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">PAIEMENT<br> SÉCURISÉ</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2 no-gutters">
        <p align="center"><i class="fa fa-clock-o font-awesome-size-2 icon-color" aria-hidden="true" ></i></p>
        <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">OUVERTURE RAPIDE<br> DE VOS DROITS</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-2 no-gutters">
        <p align="center"><i class="fa fa-phone font-awesome-size-2 icon-color" aria-hidden="true" ></i></p>
        <p align="center" class="font-size-16 letter-spacing-75 line-height-20 margin-bottom-40">ASSISTANCE TÉLÉPHONIQUE <br> <span class="color-red-eti font-family-myriadpro-bold">00 33 (0)1 53 35 20 20</span></p>
    </div>
</div>
<hr id="hr-separator">
<!--=== End 3 blocs ===-->