<div class="owl-carousel xs-margin-top-45 color-arrows-red">
    <div class="element-wrapper-1 xs-margin-top-15">
        <h6 class="carousel-cat-adds"><strong>Technologie de l'eau</strong></h6>
        <h3 class="carousel-title-adds color-red-eti font-captage"><strong>DU CAPTAGE AU RECYCLAGE : </strong>MAITRISEZ LE TRAITEMENT DES EAUX</h3>
        <p class="carousel-text">L'accès a une base complète d'articles actualisée et mise à jour en permanence</p>
        <div class="row margin-bottom-25">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <img class="img-responsive offre-img" src="assets/img/main/img-offers.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row xs-margin-top-20 xs-text-center">
                    <div class="col-xs-6 col-sm-12 col-md-12 margin-bottom-5">
                        <h6 class="margin-top-0 margin-bottom-0">En ce moment</h6>
                        <p class="moment margin-bottom-0"><span class="slider-digit slider-digit-offers">286</span> articles</p>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-12">
                        <h6 class="margin-top-0 margin-bottom-0">A partir de</h6>
                        <p class="carousel-price margin-bottom-0"><span class="slider-digit">800 €</span> HT</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center margin-bottom-0">
            <a class="btn-u btn-offers--details margin-bottom-5 bg-color-74b504">
                <i class="fa fa-shopping-cart center-btn-icon margin-right-10 fa-size-1v3"></i>  AJOUTER AU PANIER
            </a>
        </p>
    </div>
    <div class="element-wrapper-2 xs-margin-top-15">
        <h6 class="carousel-cat-adds"><strong>Technologie de l'eau</strong></h6>
        <h3 class="carousel-title-adds color-red-eti font-captage"><strong>DU CAPTAGE AU RECYCLAGE : </strong>MAITRISEZ LE TRAITEMENT DES EAUX</h3>
        <p class="carousel-text">L'accès a une base complète d'articles actualisée et mise à jour en permanence</p>
        <div class="row margin-bottom-25">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <img class="img-responsive offre-img" src="assets/img/main/img-offers.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row xs-margin-top-20 xs-text-center">
                    <div class="col-xs-6 col-sm-12 col-md-12 margin-bottom-5">
                        <h6 class="margin-top-0 margin-bottom-0">En ce moment</h6>
                        <p class="moment margin-bottom-0"><span class="slider-digit slider-digit-offers">286</span> articles</p>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-12">
                        <h6 class="margin-top-0 margin-bottom-0">A partir de</h6>
                        <p class="carousel-price margin-bottom-0"><span class="slider-digit">800 €</span> HT</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center margin-bottom-0">
            <a class="btn-u btn-offers--details margin-bottom-5 bg-color-74b504">
                <i class="fa fa-shopping-cart center-btn-icon margin-right-10 fa-size-1v3"></i>  AJOUTER AU PANIER
            </a>
        </p>
    </div>
    <div class="element-wrapper-1 xs-margin-top-15">
        <h6 class="carousel-cat-adds"><strong>Technologie de l'eau</strong></h6>
        <h3 class="carousel-title-adds color-red-eti font-captage"><strong>DU CAPTAGE AU RECYCLAGE : </strong>MAITRISEZ LE TRAITEMENT DES EAUX</h3>
        <p class="carousel-text">L'accès a une base complète d'articles actualisée et mise à jour en permanence</p>
        <div class="row margin-bottom-25">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <img class="img-responsive offre-img" src="assets/img/main/img-offers.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row xs-margin-top-20 xs-text-center">
                    <div class="col-xs-6 col-sm-12 col-md-12 margin-bottom-5">
                        <h6 class="moment margin-top-0 margin-bottom-0">En ce moment</h6>
                        <p class="margin-bottom-0"><span class="slider-digit slider-digit-offers">286</span> articles</p>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-12">
                        <h6 class="margin-top-0 margin-bottom-0">A partir de</h6>
                        <p class="carousel-price margin-bottom-0"><span class="slider-digit">800 €</span> HT</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center margin-bottom-0">
            <a class="btn-u btn-offers--details margin-bottom-5 bg-color-74b504">
                <i class="fa fa-shopping-cart center-btn-icon margin-right-10 fa-size-1v3"></i>  AJOUTER AU PANIER
            </a>
        </p>
    </div>
    <div class="element-wrapper-2 xs-margin-top-15">
        <h6 class="carousel-cat-adds"><strong>Technologie de l'eau</strong></h6>
        <h3 class="carousel-title-adds color-red-eti font-captage"><strong>DU CAPTAGE AU RECYCLAGE : </strong>MAITRISEZ LE TRAITEMENT DES EAUX</h3>
        <p class="carousel-text">L'accès a une base complète d'articles actualisée et mise à jour en permanence</p>
        <div class="row margin-bottom-25">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <img class="img-responsive offre-img" src="assets/img/main/img-offers.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row xs-margin-top-20 xs-text-center">
                    <div class="col-xs-6 col-sm-12 col-md-12 margin-bottom-5">
                        <h6 class="moment margin-top-0 margin-bottom-0">En ce moment</h6>
                        <p class="margin-bottom-0"><span class="slider-digit slider-digit-offers">286</span> articles</p>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-12">
                        <h6 class="margin-top-0 margin-bottom-0">A partir de</h6>
                        <p class="carousel-price margin-bottom-0"><span class="slider-digit">800 €</span> HT</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center margin-bottom-0">
            <a class="btn-u btn-offers--details margin-bottom-5 bg-color-74b504">
                <i class="fa fa-shopping-cart center-btn-icon margin-right-10 fa-size-1v3"></i>  AJOUTER AU PANIER
            </a>
        </p>
    </div>
</div>