<i class="fa fa-wrench accueil-title-icon-1"></i>
<h3 class="text-red font-weight-300 margin-bottom-10"><i class="fa fa-wrench accueil-title-icon-2"></i>AUTRES <strong>PRODUITS</strong> ET <strong>LOGICIELS</strong></h3>
<div class="eti-accueil-devider margin-left-23 margin-bottom-40"></div>
<div class="padding-sides-200">
    <div class="row margin-bottom-40">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive margin-bottom-10" src="{{ bootstrap("img/main/img18.jpg") }}" alt="">
            <div class="bg-light autres-card">
                <p class="color-red-eti"><i class="fa fa-fire autres-icon "></i></p>
                <h4 class="color-red-eti"><strong>LOGICIEL RISKEV</strong></h4>
                <div class="eti-accueil-devider margin-devider"></div>
                <p class="color-red-eti padding-top-10"><strong>L'evaluation des risques professionnels</strong></p>
            </div>
            <p class="text-center"><button class="btn-u bg-color-red-eti" type="button"><i class="fa fa-chevron-right btn-logiciel-icon"></i><p class="btn-logiciel">EN SAVOIR PLUS</p></button></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <img class="img-responsive margin-bottom-10" src="{{ bootstrap("img/main/img18.jpg") }}" alt="">
            <div class="bg-light autres-card">
                <p class="color-red-eti"><i class="fa fa-book autres-icon"></i></p>
                <h4 class="color-red-eti"><strong>DICTIONNAIRE TECHNIQUE MULTILINGUE</strong></h4>
                <div class="eti-accueil-devider margin-devider"></div>
                <p class="color-red-eti padding-top-10"><strong>des techniques de l'ingénieur</strong></p>
            </div>
            <p class="text-center"><button class="btn-u bg-color-red-eti" type="button"><i class="fa fa-chevron-right btn-logiciel-icon"></i><p class="btn-logiciel">EN SAVOIR PLUS</p></button></p>
        </div>
    </div>
</div>