<div id="sticky">
    <div id="sticky-menu" class="" xmlns="http://www.w3.org/1999/html">
        <div id="sticky-menu-phone" class="btn-stk bg-color-red-eti margin-bottom-1 text-center"><i class="fa fa-phone"></i></div>
        <div id="sticky-menu-share" class="btn-stk bg-color-red-eti margin-bottom-1 text-center"><i class="fa fa-share-alt"></i></div>
        <div id="sticky-menu-plane" class="btn-stk bg-color-red-eti text-center"><i class="fa fa-paper-plane"></i></div>
    </div>

    <div id="sticky-menu-slide" class="bg-color-red-eti text-center">
        <div id="sticky-menu-slide-phone" class="btn-action bg-color-red-eti border-bottom-0 margin-right-2 letter-spacing-110"><a href="/switch.html">DEMANDE D'INFORMATION</a></div>
        <div id="sticky-menu-slide-share" class="btn-action social-li bg-color-red-eti margin-top-41 border-bottom-0 margin-right-2">
            <ul class="list-inline a2a_kit a2a_default_style">
                <li><a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow"><i class="fa fa-facebook font-size-20"></i></a></li>
                <li><a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow"><i class="fa fa-twitter font-size-20"></i></a></li>
                <li><a class="a2a_button_linkedin" target="_blank" href="/#flinkedin" rel="nofollow"><i class="fa fa-linkedin font-size-20"></i></a></li>
                <li><a href="http://www.techniques-ingenieur.fr/edito/rss.html" target="_blank" title="flux rss techniques de l'ingénieur"><i class="fa fa-rss font-size-20"></i></a></li>
            </ul>
            <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
        </div>
        <div id="sticky-menu-slide-plane" class="btn-action bg-color-red-eti margin-top-82 inscription-newsletter-slide border-bottom-0 margin-right-2 letter-spacing-110"><p class="margin-top-2"><a href="/newsletter.html">INSCRIPTION A LA NEWSLETTER</a></p></div>
    </div>
</div>