<!--=== Sticky Menu ===-->
<div id="sticky-menu-document" class="hidden-sm hidden-xs" style="width: 50px;">
    <div id="sticky-menu-eye" style="padding-left: 10px; padding-right: 5px;" class="btn-stk sticky-grey margin-bottom-1 lecture-facile"><i class="fa fa-eye" aria-hidden="true"></i></div>
    <div id="sticky-menu-aplus" style="padding-left: 10px; padding-right: 5px;" class="btn-stk sticky-grey margin-bottom-1"><a href="javascript:increaseFontSize();" title="Augmenter la taille des textes">A<i class="fa fa-plus fa-1" aria-hidden="true" style="font-size: 0.5em;padding-left: 4px;"></i></a></div>
    <div id="sticky-menu-amoins" style="padding-left: 10px; padding-right: 5px;" class="btn-stk sticky-grey"><a href="javascript:decreaseFontSize();" title="Réduire la taille des textes">A<i class="fa fa-minus fa-1" aria-hidden="true" style="font-size: 0.5em;padding-left: 4px;"></i></a></div>
</div>
<!--=== End Sticky Menu ===-->