<div id="sticky-menu" class="">
    <div id="sticky-menu-phone" class="btn-stk bg-color-red-eti margin-bottom-1"><i class="fa fa-phone"></i></div>
    <div id="sticky-menu-share" class="btn-stk bg-color-red-eti margin-bottom-1"><i class="fa fa-share-alt"></i></div>
    <div id="sticky-menu-plane" class="btn-stk bg-color-red-eti"><i class="fa fa-paper-plane"></i></div>
</div>

<div id="sticky-menu-slide" class="bg-color-red-eti text-center">
    <div id="sticky-menu-slide-phone" class="btn-action bg-color-red-eti border-bottom-0 margin-right-2"><p>DEMANDE D'INFORMATION</p></div>
    <div id="sticky-menu-slide-share" class="btn-action social-li bg-color-red-eti margin-top-41 border-bottom-0 margin-right-2">
        <ul class="list-inline ">
            <li><a href=""><i class="fa fa-facebook font-size-20"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus font-size-20"></i></a></li>
            <li><a href=""><i class="fa fa-twitter font-size-20"></i></a></li>
            <li><a href=""><i class="fa fa-rss font-size-20"></i></a></li>
        </ul>
    </div>
    <div id="sticky-menu-slide-plane" class="btn-action bg-color-red-eti margin-top-82 inscription-newsletter-slide border-bottom-0 margin-right-2"><p class="margin-top-2">INSCRIPTION A LA NEWSLETTER</p></div>
</div>