<div class="row">
    <ul class="col-lg-12 text-right breadcrumb md-margin-right--35 letter-spacing-50">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="">Ressources documentaires</a></li>
        <li class="brd-active environnement-securite-color">Environnement - sécurité</li>
    </ul>
</div>
