<ul class="pull-right breadcrumb md-margin-right--35 top-20 padding-top-12">
    <li><a href="index.html">Accueil</a></li>
    <li><a href="">Ressources documentaires</a></li>
    <li class="brd-active environnement-securite-color">Environnement - sécurité</li>
</ul>
