<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="index.html">
            <img src="{{ bootstrap("img/logo-eti.png") }}" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Les pages -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        LES PAGES
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="./accueil">Accueil site</a></li>
                        <li><a href="./gratuits">Les gratuits</a></li>
                        <!--<li class="dropdown-submenu">
                            <a href="javascript:void(0);">Domaine</a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="One-Pages/Classic/index.html">- One Page Template</a></li>
                                <li><a target="_blank" href="One-Pages/Classic/one_page_dark.html">- One Page Dark Option</a></li>
                                <li><a target="_blank" href="One-Pages/Classic/one_page_home1.html">- One Page Option 1</a></li>
                                <li><a target="_blank" href="One-Pages/Classic/one_page_home2.html">- One Page Option 2</a></li>
                                <li><a target="_blank" href="One-Pages/Classic/one_page_home3.html">- One Page Option 3</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </li>
                <!-- End Les pages -->

                <!-- Modules -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Les modules
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="./modules#module-header">Header ancien</a></li>
                        <li><a href="./modules#module-header-new">Header nouveau</a>
                        <li><a href="./modules#module-sticky">Sticky</a></li>
                        <li><a href="./modules#module-listing">Listing</a></li>
                        <li><a href="./modules#module-article">Article</a></li>
                        <li><a href="./modules#module-article-etroit">Article étroit</a></li>
                        <li><a href="./modules#module-article-large">Article large</a></li>
                        <li><a href="./modules#module-conference">Conference</a></li>
                        <li><a href="./modules#module-livre-blanc">Livre blanc</a></li>
                        <li><a href="./modules#module-onglets">Onglets</a></li>
                        <li><a href="./modules#module-newsletter">Newsletter</a></li>
                        <li><a href="./modules#module-reassurance">Réassurance</a></li>
                        <li><a href="./modules#module-reassurance2">Réassurance 2</a></li>
                        <li><a href="./modules#module-footer">Footer</a></li>
                    </ul>
                </li>
                <!-- End Modules -->

                <!-- Charte graphique -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        La charte graphique
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="./charte-graphique#charte-logo">Logo</a></li>
                        <li><a href="./charte-graphique#charte-font">Font</a></li>
                        <li><a href="./charte-graphique#charte-couleurs">Couleurs</a>
                        <li><a href="./charte-graphique#charte-titres">Titre</a></li>
                        <li><a href="./charte-graphique#charte-boutons">Boutons</a></li>
                        <li><a href="./charte-graphique#charte-encarts">Encarts</a></li>
                    </ul>
                </li>
                <!-- End Modules -->

            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>