<ul class="nav nav-tabs">
    <li class="active">
        <a id="presentation_link" class="letter-spacing-50" href="#presentation" data-toggle="tab" aria-expanded="true">Présentation</a>
        <div id="triangle-down" style=""></div>
    </li>
    <li>
        <a id="corps-article_link" class="letter-spacing-50" href="#corps-article" data-toggle="tab" aria-expanded="false">Corps de l'article</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="auteurs_link" class="letter-spacing-50" href="#auteurs" data-toggle="tab" aria-expanded="false">Auteurs</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="biblio_link" class="letter-spacing-50" href="#biblio" data-toggle="tab" aria-expanded="false">Bibliographie &amp; annexes</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="outils_link" class="letter-spacing-50" href="#outils" data-toggle="tab" aria-expanded="false">Boite à outils</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="meme-sujet_link" class="letter-spacing-50" href="#meme-sujet" data-toggle="tab" aria-expanded="false">Sur le même sujet</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="offre-commerciale_link" class="letter-spacing-50" href="#offre-commerciale" data-toggle="tab" aria-expanded="false">Notre offre commerciale</a>
        <div id="triangle-down"></div>
    </li>
</ul>