<ul class="nav nav-tabs">
    <li class="active">
        <a id="presentation_link" class="padding-30 letter-spacing-50" href="#presentation" data-toggle="tab" aria-expanded="true">Présentation de l'offre</a>
        <div id="triangle-down" style=""></div>
    </li>
    <li>
        <a id="expert_link" class="padding-30 letter-spacing-50" href="#expert" data-toggle="tab" aria-expanded="false">Experts scientifique et auteurs</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="maj_link" class="padding-30 letter-spacing-50" href="#maj" data-toggle="tab" aria-expanded="false">Les dernières mise a jour</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a id="details_link" class="padding-30 letter-spacing-50" href="#details" data-toggle="tab" aria-expanded="false">Avantages et détails de l'offre</a>
        <div id="triangle-down"></div>
    </li>
</ul>