<ul class="nav nav-tabs">
    <li class="active">
        <a class="padding-30 letter-spacing-50" href="#documents" data-toggle="tab" aria-expanded="true">Offres ressources documentaires</a>
        <div id="triangle-down" style=""></div>
    </li>
    <li>
        <a class="padding-30 letter-spacing-50" href="#downloads" data-toggle="tab" aria-expanded="false">Téléchargements gratuits (PDF)</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a class="padding-30 letter-spacing-50" href="#actualites" data-toggle="tab" aria-expanded="false">Dernières actualités</a>
        <div id="triangle-down"></div>
    </li>
    <li>
        <a class="padding-30 letter-spacing-50" href="#conferences" data-toggle="tab" aria-expanded="false">Conférences en ligne</a>
        <div id="triangle-down"></div>
    </li>
</ul>