<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-droite-4 no-gutters-xs">
    <div class="row search-bar-col hidden-xs margin-bottom-10">
        <div class="hidden-xs hidden-sm col-md-12 hdr-srch-col">
            <div class="input-group input-grp">
                <input class="form-control input-srch-col margin-top-25 search-bar" placeholder="Recherchez dans cet article" type="text" id="filter" onkeypress="if (event.keyCode == 13) toggle_div(this,'id-rechercher-div');">
                                        <span class="input-group-btn">
                                            <button class="btn-u bg-color-red-eti margin-top-25" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
            </div>
            <div class="rechercher-border" id="id-rechercher-div" style="display: none;">
                <i class="fa fa-times fa-2x" aria-hidden="true" onclick="$(&quot;#id-rechercher-div&quot;).hide();" style="padding-right: 15px;padding-left: 267px;: pointer;padding-top: 5px;"></i>
                <div>
                    <h3 class="font-size-12">INTRO</h3>
                    <div class="jcorgFilterTextParent">
                        <h5 class="font-size-12">
                            <a href=" ">1-CHIMIE ET DÉVELOPPEMENT DURABLE </a>
                        </h5>
                        <div class="jcorgFilterTextChild">
                            Contenu du 1- chimie et developpement (test) Ces trois importantes failles ont été découvertes grâce à la vigilance d’un activiste émirati, visé par une attaque informatique sophistiquée.Ces trois
                        </div>
                    </div>
                    <div class="jcorgFilterTextParent">
                        <h5 class="font-size-12">
                            <a href=" ">2- LES DOUZES PROPOSITIONS FONDATRICES  </a>
                        </h5>
                        <div class="jcorgFilterTextChild">
                            contenu du 2- LES DOUZES PROPOSITIONS FONDATRICES (test) ( tester mot " chimie dans 2 sous titres")
                            (test) Le leader mondial du secteur va payereuros plus cher les 1 000 litres. Le secteur, bouleversé par la fin des quotas laitiers, souffre
                        </div>
                    </div>
                    <div class="jcorgFilterTextParent">
                        <h6 class="font-size-12">
                            <a href=" ">2.1 - Prévenir la pollution Acyclation de l'anisole </a>
                        </h6>
                        <div class="jcorgFilterTextChild">
                            contenu du 2.1 - Prévenir la pollution Acyclation de l'anisole ( test)
                        </div>
                    </div>
                    <div class="jcorgFilterTextParent">
                        <h6 class="font-size-12">
                            <a href=" ">2.1 - Prévenir la pollution Acyclation de l'anisole </a>
                        </h6>
                        <div class="jcorgFilterTextChild">
                            contenu du 2.1 - Prévenir la pollution Acyclation de l'anisole ( test)
                        </div>
                    </div>
                    <div class="jcorgFilterTextParent">
                        <h6 class="font-size-12">
                            <a href=" ">2.1 - Prévenir la pollution Acyclation de l'anisole </a>
                        </h6>
                        <div class="jcorgFilterTextChild">
                            contenu du 2.1 - Prévenir la pollution Acyclation de l'anisole ( test)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs hidden-sm sommaire-col-dim">
            <div>
                <div class="tab-v1">
                    <ul class="nav nav-tabs">
                        <li class="active tab1-sommaire">
                            <a aria-expanded="true" href="#home" data-toggle="tab" class="sommaire-title">Sommaire</a>
                        </li>
                        <li class=" tab1-sommaire">
                            <a aria-expanded="false" href="#profile" data-toggle="tab" class="sommaire-title-detail">Sommaire détaillé</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="home">
                            <div class="sommaire-background-page">
                                <div class="sommaire sommaire-background">
                                    <h3 class="font-size-12">INTRO</h3>
                                    <h5 class="font-size-12">
                                        <a href=" ">1-CHIMIE ET DÉVELOPPEMENT DURABLE </a>
                                    </h5>
                                    <h5 class="font-size-12">
                                        <a href=" ">2- LES DOUZES PROPOSITIONS FONDATRICES</a>
                                    </h5>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.1 - Prévenir la pollution Acyclation de l'anisole </a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.2 - Économie d'atomes et d'étapes  </a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.3 - Concevoir des synthèses moins dangereuses</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.4 - Concevoir des produits chimiques moins toxiques</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.5 - Réduire l'utilisation des solvants organiques et d'auxiliaires de synthèse</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.6 - Réduire la dépense énergétique et favoriser l'emploi d'énergies renouvelables </a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.7 - Mettre à profit les matières premières renouvelables </a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.8 - Réduire le nombre de dérivés qui peuvent engendrer des déchets</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.9 - Privilégier les procédés catalytiques aux procédés stoechiométriques</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.10 - Concevoir des produits non persistants dans l'environnement</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.11 - Mettre au point des méthodes d'analyses en temps réel de lutte contre la pollution</a>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.12 - Minimiser le risue d'accidents en pratiquant une chimie à sécurité maximale</a>
                                    </h6>
                                    <h5 class="font-size-12">
                                        <a href=" ">CONCLUSION</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <div class="sommaire-background-page">
                                <div class="sommaire sommaire-background">
                                    <h3 class="font-size-12">INTRO</h3>
                                    <h5 class="font-size-12">
                                        <a href=" ">1-CHIMIE ET DÉVELOPPEMENT DURABLE </a>
                                    </h5>
                                    <h5 class="font-size-12">
                                        <a href=" ">2- LES DOUZES PROPOSITIONS FONDATRICES</a>
                                    </h5>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.1 - Prévenir la pollution Acyclation de l'anisole </a>
                                        <div class="row margin-bottom-23 margin-top-10">
                                            <div class="col-md-12 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                        </div>

                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.2 - Économie d'atomes et d'étapes  </a>
                                        <div class="row margin-bottom-23 margin-top-10">
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                        </div>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.3 - Concevoir des synthèses moins dangereuses</a>
                                        <div class="row margin-bottom-23 margin-top-10">
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-23 margin-top-10">
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                        </div>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.4 - Concevoir des produits chimiques moins toxiques</a>
                                        <div class="row margin-bottom-23 margin-top-10">
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                            <div class="col-md-6 ">
                                                <img src="assets/img/main/img_100x100.jpg" alt="">
                                            </div>
                                        </div>
                                    </h6>
                                    <h6 class="font-size-12">
                                        <a href=" ">2.5 - Réduire l'utilisation des solvants organiques et d'auxiliaires de synthèse</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pub-style margin-bottom-10">
                <p class="text-right pub-width margin-bottom-0 font-size-11"><a class="act margin-right-20" href="/actualite/edito/publicite/">Publicité</a><a class="act" href="/actualite/edito/publicite/">Devenez annonceur</a></p>
                <div class="pub-style margin-bottom-10">
                    <div id="pub_300_250" class="boxPub zoneId2">
                        <img class=" pub-style margin-bottom-10 pub-img-2 " style="margin-left: 0px !important;" src="assets/img/main/PUB.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>