<div class="cadre-downloads">
    <div class="left-badge">Instantanés techniques:</div>
    <div class="youtube-container">
        <iframe width="474" height="267" src="https://www.youtube.com/embed/_MAqqe_ta4g" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="conf-title">
        <h3><a class="red-title letter-spacing-75" href="" >Retours sur <strong>NIWEEK 2015 </strong></a></h3>
        <p class="line-height-16 letter-spacing-75">Retours sur l'édition 2014 de la Niweek ,le <br> rendez vous incontournable de l'instrumentation...</p>
    </div>
</div>