<div class="cadre-downloads">
    <!-- <iframe src="http://www.youtube.com/embed/_MAqqe_ta4g" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="height: 150px;"></iframe> -->
    <div class="youtube-container">
        <div class="youtube-player" data-id="_MAqqe_ta4g"><div><img class="youtube-thumb" src="//i.ytimg.com/vi/_MAqqe_ta4g/hqdefault.jpg"><div class="play-button"></div></div></div>
    </div>
    <div class="conf-title">
        <h3 class="red-title">RETOURS SUR <strong>NIWEEK 2015 </strong> </h3>
        <p class="line-height-15">Retours sur l'édition 2014 de la Niweek ,le <br> rendez vous incontournable de l'instrumentation <br>virtuelle organisé par National instruments.</p>
    </div>
</div>