<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="elem1 service-box-padding elem-center-tablet">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-flag margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <p class="font-size-15 letter-spacing-1">Accès HTML illimité des<br class="rwd-break"> articles actuels et à venir</p>
                <p class="margin-bottom-20 font-size-12"><i class="fa fa-angle-right margin-right-10 bootstrap-icon-size-1v5"></i>Enrichis et mis à jour pendant<br class="rwd-break"> toute la durée de la souscription</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="elem2 service-box-padding elem-center-tablet">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-refresh margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <p class="font-size-15 letter-spacing-1">Téléchargement des versions<br class="rwd-break"> PDF de chaque article</p>
                <p class="margin-bottom-20 font-size-12"><i class="fa fa-angle-right margin-right-10 bootstrap-icon-size-1v5"></i>Disponible hors connexion</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="elem3 service-box-padding elem-center-tablet">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-cog margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <p class="font-size-15 letter-spacing-1 margin-bottom-acces">Consultation sur tous<br class="rwd-break"> les supports numériques</p>
                <p class="margin-bottom-20 font-size-12"><i class="fa fa-angle-right margin-right-10 bootstrap-icon-size-1v5"></i>Des contenus optimisés pour<br class="rwd-break"> ordinateurs, tablettes et mobiles</p>
            </div>
        </div>
    </div>
</div>