<div id="bande" class="md-display">
    <h1 class="offers-title text-center abonnees-title">
        <div class="title-icon">
            <i class="fa fa-user"></i>
            <span class="badge badge-orange rounded-x badge-x"><i class="fa fa-check"></i></span>
        </div><span class="abonnees-title-text"> Inclus dans votre abonnement <span class="hilighted-word font-family-myriadpro-bold">sécurité</span> ET <span class="hilighted-word font-family-myriadpro-bold">gestion de risques</span> :</span>
    </h1>
    <div class="bande-element">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="row calage-menu-abonnees">
                    <div class="col-sm-offset-2 col-md-offset-0 col-sm-4 col-md-7">

                        <div class="articles">
                            <p class="text-center icon-1-2"><i class="fa fa-th-list font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
                            <p class="text-center font-size-11">Cette base contient 216 articles</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">

                        <div class="services">
                            <p class="text-center icon-1-2"><i class="fa fa-plus font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
                            <p class="text-center font-size-11">Services inclus</p>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1">

                        <div class="icon">
                            <p class="text-center"><i class="fa fa-angle-right font-awesome-size-2 icon-color" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 menu-abonnee-pos">
                <div class="row snd-row">
                    <div class="col-sm-3 col-md-3">
                        <div class="annuaire">
                            <a href="">
                                <p class="abonnement-img text-center"><i class="fa fa-yelp icon-color" aria-hidden="true"></i></p>
                                <p class="abonnement-text">Annuaire des labs</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="dictionnaire">
                            <a href="">
                                <p class="abonnement-img text-center"><i class="fa fa-indent icon-color" aria-hidden="true"></i></p>
                                <p class="abonnement-text">Dictionnaire multilingue</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="questions">
                            <a href="">
                                <p class="abonnement-img text-center"><i class="fa fa-retweet icon-color" aria-hidden="true"></i></p>
                                <p class="abonnement-text">Questions / Réponses</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="complement">
                            <a href="">
                                <p class="abonnement-img text-center"><i class="fa fa-spinner icon-color" aria-hidden="true"></i></p>
                                <p class="abonnement-text">Complément 360</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>