<table class="table table-striped">
    <!-- header prospect -->
    <thead>
    <tr>
        <th></th>
        <th align="center" class="border-right-1-white bg-green th-align-center letter-spacing-50"><span class="font-family-myriadpro-bold downloads-title">Licence</span> annuelle monoposte</th>
        <th align="center" class="border-right-1 bg-gray th-align-center letter-spacing-50"><span class="font-family-myriadpro-bold downloads-title">Licence</span> Pluriannuelle et/ou monoposte</th>
    </tr>
    </thead>

    <!-- header abonné -->
    <thead>
    <tr>
        <th></th>
        <th align="center" class="border-right-1-white background-text-table-header th-align-center letter-spacing-50"><span class="font-family-myriadpro-bold downloads-title">License</span> annuelle monoposte</th>
        <th align="center" class="border-right-1 background-text-table-header th-align-center letter-spacing-50"><span class="font-family-myriadpro-bold downloads-title">License</span> Pluriannuelle et/ou monoposte</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="border-left-1 border-top-1 letter-spacing-1v5 downloads-title padding-left-30 font-family-myriadpro-bold">Droit d'accès</td>
        <td></td>
        <td class="border-right-1"></td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Accès HTML des articles</td>
        <td align="center" class="border-right-1 border-top-0">Illimité</td>
        <td align="center" class="border-right-1 border-top-0">Illimité</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Téléchargement des versions .pdf</td>
        <td align="center" class="border-right-1 border-top-0">5 / jour</td>
        <td align="center" class="border-right-1 border-top-0">5 / jour</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Consultation multi-supports</td>
        <td align="center" class="border-right-1 border-top-0">Oui</td>
        <td align="center" class="border-right-1 border-top-0">Oui</td>
    </tr>
    <tr>
        <td class="border-left-1 border-top-1 letter-spacing-1v5 downloads-title padding-left-30 font-family-myriadpro-bold">Les services</td>
        <td align="center" class="border-top-1"></td>
        <td align="center" class="border-top-1 border-right-1"></td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Service de Questions / Réponses (1) (2)</td>
        <td align="center" class="border-right-1 border-top-0"> 4 / an</td>
        <td align="center" class="border-right-1 border-top-0"> 4 / an</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Articles Découvertes</td>
        <td align="center" class="border-right-1 border-top-0">5 / an</td>
        <td align="center" class="border-right-1 border-top-0"> 5 / an</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Dictionnaire technique multiliingue</td>
        <td align="center" class="border-right-1 border-top-0">Oui</td>
        <td align="center" class="border-right-1 border-top-0">Oui</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Archives</td>
        <td align="center" class="border-right-1 border-top-0">Oui</td>
        <td align="center" class="border-right-1 border-top-0">Oui</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-top-0 padding-left-40">Impression à la demande</td>
        <td align="center" class="border-right-1 border-top-0">45 € / base</td>
        <td align="center" class="border-right-1 border-top-0">45 € / base</td>
    </tr>
    <tr>
        <td class="border-left-1 border-right-1 border-bottom-1 border-top-0 padding-left-40">Infos mise à jour</td>
        <td align="center" class="border-right-1 border-bottom-1 border-top-0">Oui</td>
        <td align="center" class="border-right-1 border-bottom-1 border-top-0">Oui</td>
    </tr>
    </tbody>
</table>
<p class="font-size-10 letter-spacing-1v5">(1) Disponible pour la France, le Luxembourg, la Belgique, la Suisse et Monaco. (2) Non disponible pour les établissements scolaires, écoles, universités et autres organismes de formation.</p>
<!-- footer uniquement pour prospect -->
<div class="row">
    <div class="hidden-xs">

        <table class="table">
            <tbody>
            <tr>
                <td class="border-top-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="text-center border-top-0">
                    <a class="btn-u btn-block btn-offers--details bg-color-74b504 btn-height">
                        <i class="fa fa-shopping-cart center-btn-icon margin-right-10"></i>  <span>AJOUTER AU PANIER</span>
                    </a>
                </td>
                <td class="text-center border-top-0">
                    <a class="btn-u btn-block btn-devis--details bg-color-697277 xs-margin-left-devis width-btn margin-left-10 btn-height">
                        <i class="fa fa-arrow-right center-btn-icon margin-right-10"></i>  DEMANDER UN DEVIS
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <div class="text-center">

            <a class="btn-u btn-block btn-offers--details bg-color-74b504 margins-btns btn-height">
                <i class="fa fa-shopping-cart center-btn-icon margin-right-10"></i>  <span>AJOUTER AU PANIER</span>
            </a>
        </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg col-xs-12">
        <div class="text-center">
            <a class="btn-u btn-block btn-offers--details bg-color-697277 margins-btns btn-height">
                <i class="fa fa-arrow-right center-btn-icon margin-right-10"></i>  DEMANDER UN DEVIS
            </a>
        </div>
    </div>
</div>