<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    <div class="profile-body">
        <!--Timeline-->
        <ul class="timeline-v2">
            <li class="zoning">
                <time class="cbp_tmtime" datetime=""><span class="font-size-12 margin-top-13 letter-spacing-75">20 novembre 2015</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <div>
                        <span class="padding-right-15 color-697277">Article</span>
                        <span class="padding-right-15 color-697277">SE4010</span>
                        <span class="padding-right-15 color-697277"><a href="">Analyse préliminaire de risques</a></span>
                    </div>
                    <p class="letter-spacing-50">Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
                </div>
            </li>

            <li class="zoning">
                <time class="cbp_tmtime" datetime=""><span class="font-size-12 margin-top-13">20 novembre 2015</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <div>
                        <span class="padding-right-15 color-697277">Article</span>
                        <span class="padding-right-15 color-697277">SE4010</span>
                        <span class="padding-right-15 color-697277"><a href="">Analyse préliminaire de risques</a></span>
                    </div>
                    <p class="letter-spacing-50">Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
                </div>
            </li>

            <li class="zoning last">
                <time class="cbp_tmtime" datetime=""><span class="font-size-12 margin-top-13">20 novembre 2015</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <div>
                        <span class="padding-right-15 color-697277">Article</span>
                        <span class="padding-right-15 color-697277">SE4010</span>
                        <span class="padding-right-15 color-697277"><a href="">Analyse préliminaire de risques</a></span>
                    </div>
                    <p class="letter-spacing-50">Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo.</p>
                </div>
            </li>

        </ul>
        <!--End Timeline-->
    </div>
</div>