<div id="mot-editrice" class="tag-box padding-bottom-7 ">
    <i class="fa fa-angle-double-left"></i>
    <h1 class="left-boxes-titles text-center">mots de l'éditrice</h1>
    <div class="offer-devider"></div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
            <img src="assets/img/main/img17.jpg">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7">
            <p class="editrice-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 margin-top-15">
            <p class="editrice-text">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div>
    </div>
    <i class="fa fa-angle-double-right"></i>
</div>