<div id="offres" class="tag-box carousel slide font-size-15">
    <p class="text">Cette offre se trouve dans:</p>
    <a href="#" style="text-decoration:none"><p class="header-title letter-spacing-1 zone-th1 line-height-35">Environnement et sécurité</p></a>
    <a href="#" style="text-decoration:none"><p class="header-title letter-spacing-1 zone-th2 line-height-35">Mesures - analyses</p></a>
    <a href="#" style="text-decoration:none"><p class="header-title letter-spacing-1 zone-th3 line-height-35">Biomedical - pharma</p></a>
</div>