<div id="offres" class="tag-box carousel slide testimonials testimonials-v1">
    <p class="text">Cette offre se trouve dans:</p>
    <a href="#" style="text-decoration:none"><h1 class="header-title letter-spacing-1 zone-1">Environnement et sécurité</h1></a>
    <a href="#" style="text-decoration:none"><h1 class="header-title letter-spacing-1 zone-2">Mesures - analyses</h1></a>
    <a href="#" style="text-decoration:none"><h1 class="header-title letter-spacing-1 zone-3">Biomedical - pharma</h1></a>
</div>