<p class="pull-right tout-ouvrir color-ec1625">Tout ouvrir</p>
<div class="panel-group acc-v1 margin-top-35" id="accordion-1">
    <div class="panel panel-default panel-custom panel-custom-1st">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p0" class="accordion-toggle collapse-One color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                    <span class="title-element">management de la sécurité</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-One" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p1" class="accordion-toggle collapse-Two color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                    <span class="title-element">méthodes d'analyses de risques</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Two" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p2" class="accordion-toggle collapse-Three color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                    <span class="title-element">risques chimiques - toxicologie et écotoxicologie</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Three" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p3" class="accordion-toggle collapse-Four color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                    <span class="title-element">risques chimiques - pesticides et produits phytosanitaires</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Four" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p4" class="accordion-toggle collapse-Five color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Five">
                    <span class="title-element">risques d'explosion</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Five" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p5" class="accordion-toggle collapse-Six color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Six">
                    <span class="title-element">risques d'incendie</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Six" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    {{ module("offre/rubrique") }}
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p7" class="accordion-toggle collapse-Eight color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Eight">
                    <span class="title-element">sécurité par secteur d'activité et par technologie</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Eight" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p8" class="accordion-toggle collapse-Nine color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Nine">
                    <span class="title-element">santé et sécurité au poste de travail</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Nine" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom panel-custom-lst">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p9" class="accordion-toggle collapse-ten color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-ten">
                    <span class="title-element">risques naturels et impacts industriels</span><i  class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-ten" class="panel-collapse collapse">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>