<p class="pull-right tout-ouvrir color-ec1625">Tout ouvrir</p>
<div class="panel-group acc-v1 margin-top-35" id="accordion-1">
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p9" class="accordion-toggle collapse-Nine color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Nine">
                    <span class="title-element">risques électriques</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Nine" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p8" class="accordion-toggle collapse-Eight color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Eight">
                    <span class="title-element">risques électriques</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Eight" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h2 class="panel-title visiteur">
                <a id="p7" class="accordion-toggle collapse-Seven color-697277" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Seven">
                    <span class="title-element">risques électriques</span><i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </h2>
        </div>
        <div id="collapse-Seven" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    <tr class="zoning">
                        <td class="col1"><p class="pull-left badge badge-orange rounded-x badge-x badge-xxx badge-xxxx margin-bottom-0 "><i class="fa fa-check"></i></p></td>
                        <td class="col2">Article</td>
                        <td class="col3">SE4010</td>
                        <td class="col4"><a href="">Analyse préliminaire de risques</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>