<div id="temoignages" class="tag-box carousel slide testimonials testimonials-v1">
    <h1 class="left-boxes-titles text-center">témoignages</h1>
    <div class="offer-devider"></div>
    <div class="carousel slide testimonials testimonials-v1">
        <div class="carousel-arrow">
            <a class="left carousel-control" href="#temoignages" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#temoignages" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <div class="carousel-inner">
            <div class="item item-color active">
                <p style="background: #f3f3f3;">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore.</p>
                <div class="testimonial-info line-height">
                    <img class="mot-editrice-img" src="assets/img/testimonials/user.jpg" alt="">
                                                    <span class="testimonial-author author-text">
                                                        Michel Daubrenats
                                                        <em>Expert en musicologie <br> à l'université Paris XIV</em>
                                                    </span>
                </div>
            </div>
            <div class="item item-color">
                <p style="background: #f3f3f3;">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore.</p>
                <div class="testimonial-info line-height">
                    <img class="mot-editrice-img" src="assets/img/testimonials/user.jpg" alt="">
                                                    <span class="testimonial-author author-text">
                                                        Michel Daubrenats
                                                        <em>Expert en musicologie <br> à l'université Paris XIV</em>
                                                    </span>
                </div>
            </div>
            <div class="item item-color">
                <p style="background: #f3f3f3;">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore.</p>
                <div class="testimonial-info line-height">
                    <img class="mot-editrice-img" src="assets/img/testimonials/user.jpg" alt="">
                                                    <span class="testimonial-author author-text">
                                                        Michel Daubrenats
                                                        <em>Expert en musicologie <br> à l'université Paris XIV</em>
                                                    </span>
                </div>
            </div>
        </div>
    </div>
</div>