@font-face {
	font-family: 'myriad-pro';
	font-weight: normal;
	src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'myriad-pro-semi-bold';
	font-weight: lighter;
	src: url("../fonts/MyriadPro-Semibold.otf") format("opentype");
	src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Semibold.woff') format('woff'),
	url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'myriad-pro-bold';
	font-weight: normal;
	src: url("../fonts/MyriadPro-Bold.otf") format("opentype");
	src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Bold.woff') format('woff'),
	url('../fonts/MyriadPro-Bold.ttf') format('truetype');
}
body {
	font-family: "myriad-pro", sans-serif;
	color:#697277;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "myriad-pro", sans-serif;
	letter-spacing: 1px;
}

h2 {
	font-size: 19px;
	line-height: 22px;
}

h3 {
	font-size: 17px;
	line-height: 22px;
}

a, p {
	font-family: "myriad-pro", sans-serif;
}

a:hover {
	text-decoration: none;
}

.footer3-bg-color {
	background-color : #ea2336 !important ;
	font-family: "myriad-pro", sans-serif;
}

.footer2-bg-color {
	background-color : #697277 !important ;
	font-family: "myriad-pro", sans-serif;
}


.footer1-bg-color {
	background-color : #E1DFDF !important ;
	font-family: "myriad-pro", sans-serif;
}

.footer-bg-color {
	background-color : #ffffff !important ;
}
.dark-grey-title {
	color: #697277 !important;
}
.white-title {
	color: #ffffff !important;
}

.red-title {
	color: #ea2336 !important;
}
.devider-bg-color-dark {
	border-top: 1px solid #697277;
}

.dropdown-menu-padding-20{
	border-top: 1px solid #697277;
}

.dropdown-menu-padding-20{
	padding: 20px !important;
}

.navbar-background-color{
	background-color: #FFF !important;
}

.menu-background-color{
	background-color: #fff !important;
}

.cart-account-margin-top {
	margin-top: 5px;
}

.header-v4 .dropdown > a:after {
	content: "";
}

/*.header-v1 .dropdown > a:after {
	content: "";
}*/

.header-v1-logo-padding {
	padding: 8px;
}

.navbar-mods:first-child {
	padding-left: 0!important;
}
.navbar-mods:last-child {
	padding-right: 0!important;
}
.header-v1 .navbar-default .navbar-nav > li > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus {
	padding: 15px 0px 15px 0px!important;
	bottom: -1px;
	color: #697277;
}
.header-v1 .navbar-default .navbar-nav > li:hover > a,
.brd-active a {
	border-bottom: 2px solid #ea2336;
}
.header-v1 .dropdown > a:after {
	right:-28px;
	color:#EA2336;
	font-size: 18px;
	top: 14px;
}
.header-v1 .navbar-default .navbar-nav > li:hover > a {
	color:#697277;
}
/*Pour l'icone menu*/
.border-0 {
	border: 0px !important;
}

.padding-margin-0 {
	padding: 0px !important;
	margin: 0px !important;
}

/***************************************/
/*******         OFFRES          *******/
/***************************************/

/* SECTION ENVIRONNEMENT SECURITE */

.padding-10 {
	padding: 10px;
}

.devis-panel {}

.margin-top-8 {
	margin-top: 8px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-14 {
	margin-bottom: 14px;
}
.margin-bottom-0 {
	margin-bottom: 0px;
}

.es-titre {
	font-size: 40px;
}

.es-sous-titre {
	font-size: 17px;
}

.es-p {
	font-size: 11px;
}

.es-sous-titre-footer {
	font-size: 16px;
}
.es-p--footer {
	font-size: 12px;
}

.chevron-size {
	font-size: 0.5em;
}
.question-size {
	font-size: 2em !important;
	background-color: #ea2336 !important;
	color: #ffffff !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	padding-top: 8px !important;
	padding-bottom: 5px !important;
	margin-top: 20px;
	font-weight: 100;
}

.chevron-phone-size {
	font-size: 1.5em !important;
	background-color:#ffffff  !important;
	color: #ea2336 !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	padding-top: 8px !important;
	padding-bottom: 5px !important;
	margin-top: 27px;
	font-weight: 100;
}
/* SECTION MEILLEURES VENTES */

.meilleures-ventes-panel {
	padding: 20px;
	box-shadow: 8px 7px 4px -6px #bbb;
}

.meilleures-ventes-price-left {
	margin: 0px 0px 0px 0px;
}

.meilleures-ventes-price-right {
	margin: 0px 0px 0px 0px;
}

.hr-mod {
	border-top: 1px dashed grey;
	padding-top: 20px;
}

.offers {
	font-size: 12px;
}

.mv-taille {
	font-size: 16px;
}

.mv-image-1 {}

@media (min-width: 992px) {
	.mv-image-1 {
		margin-bottom: 35px !important;
	}
}

/* SECTION ABONNEMENTS */

.border-top {
	border-top: 3px solid #CDCDCD !important;
}

.border-bottom {
	border-bottom: 3px solid #CDCDCD;
}

.border-left {
	border-left: 3px solid #CDCDCD;
}

.border-right {
	border-right: 3px solid #CDCDCD;
}

.no-border-top {
	border-top-width: 0px !important;
}

.no-border-bottom {
	border-bottom: 0px solid #CDCDCD !important;
}

.border-bottom-black {
	border-bottom: 1px solid #000 !important;
}

.t-body {
	background-color: #fff !important;
}

.t-head {
	background-color: #CDCDCD !important;
	color: #BA0110;
	font-weight: bold;
}

.box-font {
	font-weight: bold;
}

.box-color {
	color: #BA0110;
}

.env-green {
	background-color: #72c02c;
}

.securite { border-left: solid 2px #f1c40f; }
.securite h2 { color: #f1c40f; }

.environnement { border-left: solid 2px #72c02c; }
.environnement h2 { color: #72c02c; }

.eau { border-left: solid 2px #3498db; }
.eau h2 { color: #3498db; }

.bruit-vibration { border-left: solid 2px #9b6bcc; }
.bruit-vibration h2 { color: #9b6bcc; }

.sea { border-left: solid 2px #1abc9c; }
.sea h2 { color: #1abc9c; }

.download { border-left: solid 2px #EC3C4D; }
.download  h2 { color: #EC3C4D !important; }

.pdf { border-left: solid 2px #EC3C4D; }

.bg-color-red-eti {
	background-color: #ea2336 !important;
}

.color-red-eti {
	color: #ea2336 !important;
}
.color-blue-eti {
	color: #1b8bbb !important;
}

.menu-environnement-text-size {
	font-size: 18px !important ;
}

.menu-offres-text-size {
	font-size: 19px !important ;
}

.pdf-badge {
	right: -12px !important;
}

.pdf-icon {
	color: #ea2336;
	font-size: 25px;
}

.pdf-icon-background {
	padding: 14px 16px !important;
	background-color: #fff;
}

.margin-top-0  { margin-top:0px;}
.margin-top-5  { margin-top:5px;}
.margin-top-7  { margin-top:7px;}
.margin-top-10 { margin-top:10px;}
.margin-top-15 { margin-top:15px;}
.margin-top-20 { margin-top:20px;}
.margin-top-25 { margin-top:25px;}
.margin-top-30 { margin-top:30px;}
.margin-top-35 { margin-top:35px;}
.margin-top-40 { margin-top:40px;}
.margin-top-45 { margin-top:45px;}
.margin-top-50 { margin-top:50px;}
.margin-top-55 { margin-top:55px;}
.margin-top-60 { margin-top:60px;}
.margin-top-65 { margin-top:65px;}
.margin-top-70 { margin-top:70px;}
.margin-top-80 { margin-top:80px;}
.margin-top-90 { margin-top:90px;}
.margin-top-100 { margin-top:100px;}
.margin-top-200 { margin-top:200px;}

.padding-top-5  { padding-top:5px;}
.padding-top-8  { padding-top:8px;}
.padding-top-10 { padding-top:10px;}
.padding-top-15 { padding-top:15px;}
.padding-top-20 { padding-top:20px;}
.padding-top-25 { padding-top:25px;}
.padding-top-30 { padding-top:30px;}
.padding-top-35 { padding-top:35px;}
.padding-top-40 { padding-top:40px;}
.padding-top-45 { padding-top:45px;}
.padding-top-50 { padding-top:50px;}
.padding-top-55 { padding-top:55px;}
.padding-top-60 { padding-top:60px;}
.padding-top-70 { padding-top:70px;}
.padding-top-80 { padding-top:80px;}
.padding-top-90 { padding-top:90px;}
.padding-top-100 { padding-top:100px;}
.padding-top-200 { padding-top:200px;}


.btn-color {
	background: transparent;
	color: #697277;
}

.border-navbar {
	border-bottom-width: 0px !important;
	border-top-width: 0px !important;
}

.header-btn-size {}

.hdr-srch-col {}
.hdr-btn-col {}

.brd-active {
	color: #697277 !important;
}

#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index:10;
}

.dropdown-style {
	padding-left: 1.3% !important;
	padding-right: 1.3% !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

.section-title-altered {
	background-color: #FAFAFA;
}

.section-title-altered p {
	color: #fff;
	padding: 10px 0px;
	margin-bottom: 0px;
	background-color: #ea2336;
	width: 75%;
}

.header-modified {
	border: 0px !important;
	background-color: transparent !important;
}

.text-red {
	color: #ea2336;
}

.text-grey {
	color: #DEDBDB;
}

.blockquote {
	border-left: 2px #ea2336 solid;
}
.text-grey-2 {
	background-color: #F3F3F3;
}

.mini-menu {
	background-color: #FAFAFA;
	height: 40px;
}

.menu-title {
	background-color: #ea2336;
	color: #fff;
	margin-bottom: 0px;
	width: 75%;
	padding: 10px 1% 10px 1%;
	font-size: 12px;
	font-family: 'myriad-pro', sans-serif;
}

.badge-1 {
	font-size: 20px;
}

.icon-square {
	position: relative;
	top: -35px;
	right: 0px !important;
	font-size: 30px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.icon-square-2 {
	position: relative;
	top: -20px;
	right: -20px !important;
	font-size: 30px;
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.icon-square-3 {
	position: relative;
	top: -35px;
	right: 0px !important;
	font-size: 30px;
	padding-top: 6px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	height: 45px;
}

.tagbox-v6-mods {
	margin-top: 14px;
}

.pub {
	border: 1px #D8D8D8 solid;
	background: -webkit-linear-gradient(#FFF, #D8D8D8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFF, #D8D8D8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFF, #D8D8D8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFF, #D8D8D8); /* Standard syntax (must be last) */
	box-shadow: 0px 8px 5px #A5A3A3;
}

.footer-v2 {
	margin-left: -15px;
}

.subscription-btn-2 {
	display: none;
}

.box-4-badge {
	position: relative;
	top: -45px;
	font-size: 25px;
	border-left: 1px solid #fff;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.left-3 {
	left: 3px;
}

.offer-icon {
	width: 40px;
	height: 40px;
	padding-top: 7px;
}

.securite-icon {
	background-color: #f7b334;
}

.offers-sub-header {
	font-style: italic !important;
	color: #95a5a6 !important;
}

.footer-tel-icon {
	border: 1px solid #eeeeee;
	width: 45px;
	height: 45px;
	padding-top: 13px !important;
	padding-left: 14px !important;
	margin-top: 20px;
}

.content-container {
	margin-top: 92px;
}
/***************************************/
/*******         ACCUEIL          ******/
/***************************************/

.no-background-image {
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0001) 0) !important;
}

.slider-digit {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 30px;
}

.autres-card {
	position: absolute;
	left: 30px;
	top: 15px;
	width: 35%;
	z-index: 2;
}

.autres-card p {
	letter-spacing: 0.75px;
}

.autres-icon {
	font-size: 45px;
}

.slick-active > button {
	background-color: #ea2336 !important;
	border: 1px solid #ea2336 !important;
}

.slick-dots {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	text-align: center;
	position:relative;
	z-index:10;
	top: -65px;
}

.slick-dots > li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.slick-dots > li > button {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 25px;
	font-size: 0px;
	width: 15px;
	height: 15px;
	padding: 3px;
	cursor: pointer;
}

.slide {
	width: 100%;
}

.slider-card {
	background-color: #fff;
	position: absolute;
	z-index: 100;
	top: 40px;
	padding: 25px;
	width: 350px;
	margin-left: 32%;
}

.line-break {
	display: block;
}

.cat-btn:hover {
	background-color: #ea2336!important;
	color: #fff !important;
}
.btn-u-red:hover,
.btn-u-red:focus {
	background-color: #EA2336 !important;
	color: #fff !important;
}
.btn-u-blue:hover,
.btn-u-blue:focus {
	background-color: #1b8bbb !important;
	color: #fff !important;
}

#cat-btn:focus {
	background-color: #EA2336 !important;
	color: #fff !important;
}
.eti-accueil-devider {
	width: 50px;
	border-bottom: 2px #ea2336 solid;
}

.cat-btn {
	background-color: #F3F3F3!important;
	color: #4F4F4F;
	font-size: 13px;
}

.inline-block {
	display:inline-block;
}
.search-bar {
	border: 0px;
}

.search-bar-2 {
	height: 40px;
	background-color: #F3F3F3;
	border: 0px;
}

.menu-ressources-search-bar {
	border-width: 0px;
}

.search-btn {
	height: 40px;
	width: 41px;
	padding-bottom: 3px;
}

.search-btn i {
	font-size: 17px;
}

.accueil-icon-font {
	font-size: 30px;
}



.margin-right-10 {
	margin-right: 10px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-left-0 {
	margin-left: 0px !important;
}
.margin-left-20 {
	margin-left: 20px;
}

div[class^="element-wrapper-"]>p {
	letter-spacing: 0.2px;
	font-size: 12px;
	line-height: 18px;
}

div[class^="element-wrapper-"] img {
	max-height: 122px;
}

.owl-custom-left {
	position: absolute;
	left: 20px;
	top: 120px;
	display: block;
}

.owl-custom-right {
	position: absolute;
	right: 20px;
	top: 120px;
	display: block;
}


.owl-custom-controls {
	font-size: 30px;
	color: #ea2336;
}

.mos-img-1 {
	width: 100%;
}

.mos-img-2 {
	width: 100%;
}

.mos-col-dim{

	width: 320px;


}

.pub-annonce {

	width: 200px !important;
	margin-left: 830px !important;

}

.pub-img {
	width: 300px !important;
	height: 250px !important;
	margin-left: 17px !important;
	margin-right: 10px !important;
	display:block;
	overflow: hidden;

}
.pub-img-2 {
	width: 300px !important;
	height: 250px !important;
	margin-left: 7px !important;
	margin-right: 200px !important;
	display:block;
	overflow: hidden;
}
.pub-img-3 {
	width: 300px !important;
	height: 250px !important;
	margin-left: 100px !important;
	display:block;
	overflow: hidden;

}
.inv-img {
	width: 610px !important;
	height: 250px !important;
	margin-left: 17px;
	display:block;
	overflow: hidden;
}

.env-img {
	width: 300px !important;
	height: 510px !important;
	margin-left: 100px !important;
	display:block;
	overflow: hidden;
}

.right-badge {
	background-color: #ea2336 !important;
	position: absolute;
	left: 17px;
	top: 0px;
	z-index: 2;
	padding: 8px 18px;
	color: #fff;
}
.right-badge-bis {
	background-color: #ea2336 !important;
	position: absolute;
	left: 7px;
	top: 0px;
	z-index: 2;
	padding: 8px 18px;
	color: #fff;
}
.left-badge {
	background-color: #ea2336 !important;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	padding: 8px 14px;
	color: #fff;
	font-family: "myriad-pro",sans-serif;
	font-size: 10px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
}

.acceuil-badge {
	background-color: #ea2336 !important;
	position: absolute;
	left: 45px;
	top: 0px;
	z-index: 2;
	padding: 8px 18px;
	color: #fff;
}
.acceuil-title {
	background-color: #fff !important;
	position: absolute;
	font-size: 15px;
	left:10px;
	bottom:10px;
	width: 80%;
	z-index: 2;
	padding: 8px 18px;
	color: #ea2336;
	letter-spacing: 0.75px;
	line-height: 18px;
}

.acceuil-title p {
	display: none;
	font-size:12px;
	min-height:82px;
}

.acceuil-title-2 {
	background-color: #fff !important;
	position: absolute;
	left: 30px;
	bottom: 20px;
	width: 65%;
	z-index: 2;
	padding: 8px 18px;
	color: #ea2336;
}

.padding-0{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.title-font-size {
	font-size: 14px !important;

}

.padding-bottom-20 {
	padding-bottom:20px !important;

}


.margin-left-32 {
	margin-left: 32px;
}
.padding-top-7 {
	padding-top: 7px;
}

.padding-top-10 {
	padding-top: 10px;
}
.padding-top-12 {
	padding-top: 12px;
}

.padding-right-50 {
	padding-right: 50px;
}

.search-bar {
	border: 0px;
	background-color: #F3F3F3;
}

.advanced-search {
	width: 225px;
}

.btn-logiciel {
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	color: #fff;
}

.btn-style {
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
}

.btn-logiciel-icon {
	font-size: 15px;
}

.exp-icon {
	color: #ea2336;
}
.footer1-bg-colorr {
	background-color : #FFF !important ;
	padding-left: 70px !important;
	padding-right: 70px !important;
	/*padding-top: 50px !important;*/
	padding-bottom: 20px !important;
}

.es-sous-titre-footerr {

	font-size: 12px !important;
	margin-bottom: 0px !important;
	margin-left: 50px !important;
	margin-top: 30px !important;
}
.es-p-footerr {

	font-size: 12px !important;
	margin-left: 50px !important;
	margin-bottom: 30px !important;
}

.footer-row2-rightCol-style {

	font-size: 12px !important;
	margin-right: 50px !important;
	margin-top: 30px !important;
}

.footer-row3-p-style {

	padding-bottom: 20px !important;
	padding-top: 20px !important;
	margin-left: 50px !important;
	margin-right: 50px !important;
	margin-bottom: 0px !important;
}
.footer-row3-padding {
	padding-left: 24px;
	padding-right: 0px;
}
.footer-row3-padding:first-child {
	padding-left: 15px !important;
}
.footer a {
	font-size: 11px;
}
.footer h2 {
	margin-bottom: 0px;
}
.slash-style {

	padding-left: 5px !important;
	padding-right: 5px !important;
}
.hr-style {

	border-top-width: 2px !important;
	border-color: #ddd !important;
}

/*.slider-margin-top {
	margin-top: 146px;
}*/

.rech-rapide {
	color: #ea2336;
}

.act {
	color: #697277;
}

.pub-style {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	height: 100%;
	display: block;
	overflow: hidden;
	width: 300px;
	position: relative;
}

.large-img {
	width: 610px;
	display: block;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#sticky-menu {
	position: fixed;
	z-index: 100;
	color: #fff;
	top: 45%;
	right: 0px;
}

#sticky-menu-slide {
	position: fixed;
	z-index: 50;
	color: #fff;
	top: 45%;
	right: -220px;
}

#sticky-menu-phone {
	z-index: 100;
	color: #fff;
	right: 0px;
}

#sticky-menu-slide-phone {
	position: fixed;
	z-index: 50;
	right: -220px;
}

#sticky-menu-share {
	z-index: 100;
	color: #fff;
	right: 0px;
}

#sticky-menu-slide-share {
	position: fixed;
	z-index: 50;
	right: -220px;
}

#sticky-menu-plane {
	z-index: 100;
	color: #fff;
	right: 0px;
}

#sticky-menu-slide-plane {
	position: fixed;
	z-index: 50;
	right: -220px;
}
.btn-stk {
	padding: 5px 0 5px;
	font-size: 20px;
	margin: 0px;
	height: 40px;
	width: 40px;
}

.btn-action {
	padding: 12px;
	font-size: 11px;
	border-bottom: 1px #fff solid;
	height: 40px;
	width: 195px;
}

.btn-action a, .btn-action p, .btn-action ul {
	color: #fff;
	margin: 0px;
}

.btn-action li {
	margin-left: 3px;
	margin-right: 3px;
}

.stk-brd-btm {
	border-bottom: 1px #fff solid;
}

.stk-brd-lft {
	border-left: 1px #fff solid;
}

.font-size-20 {
	font-size: 20px;
}

.social-li {
	padding-top: 10px !important;
	padding-bottom: 9px !important;
}

.display-block {
	display: block !important ;
}

.display-none {
	display: none !important ;
}

.margin-right-0 {
	margin-right: 0px !important;
}

.margin-right-6 {
	margin-right: 6px !important;
}
.margin-right-20 {
	margin-right: 20px !important;
}

.black-background-color {
	background-color: #000000 !important;
}

.padding-menu {
	padding-bottom: 12px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.margin-right-50 {
	margin-right: 50px !important ;
}

.margin-right-70 {
	margin-right: 70px !important ;
}

.margin-left-70 {
	margin-left: 70px !important ;
}
.margin-top-33 {
	margin-top: 33px !important ;
}
.text-align {
	text-align: center !important;
}


.dl-horizontal dt {
	width: 30px !important;
	margin-right: 25px;
	text-align: center;
	float:left !important;
}

.dl-horizontal dd {
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: -2px;
	margin-bottom: 8px;
}

.box-colors {
	background-color: #f4f3f3 !important;
	color: #697277 !important;
}




.offres-title {
	color: #ea2336 !important;
	font-weight: 800;
	font-size: 15px;
	text-transform: uppercase;
}

.offres-paddings {
	padding: 0px 18px 0px 18px;
}
.inscription-newsletter-slide {
	padding-top: 10px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;

}
.environnement-securite-color {
	color: #9eb504;
}

.environnement-securite-bgcolor {
	background-color: #9eb504;
}

.breadcrumb>li+li:before {
	content: ">\00a0";
	color: #697277;
}

.breadcrumb {
	font-size: 11px;
	left: -20px;
	margin-bottom: 0px;
	top:0;
}

.domaine-secteur-box {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.domaine-secteur-box img {
	width: 80px;
	display:block;
}




.text-9eb504 {
	color: #9eb504;
}

.icon-size-2 {
	font-size: 28px;
}
.icon-size-3 {
	font-size: 20px;
}

.panel-default>.panel-heading {
	border-color: #fff;
}

.btn-x {
	border: 1px #ea2336 solid;
	color: #ea2336;
	background-color: rgba(149, 165, 166, 0);
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.btn-x:hover {
	background-color: #ea2336;
}

.btn-expend {
	border: 1px #697277 solid;
	color: #697277;
	background-color: rgba(149, 165, 166, 0);
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.btn-expend:hover {
	background-color: #697277;
}

.img-x {
	width: 100%;
	max-width: 102px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.cellule {
	border-left: 0px;
	border-right: 0px;
	box-shadow: 0px 0px 0px #888888;
	margin-bottom: 0px;
}

.cellule .panel-heading {
	background-color: #fff;
}

.cellule h4 {
	text-transform: uppercase;
	margin: 0px;
	color: #697277;
}
.cellule h5 {
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-right-15 {
	padding-right: 15px;
}

.price-1 {
	text-decoration:line-through;
	font-size: 10px;
	margin-top: 20px !important;
}

.price-2 {
	color: #697277;
	height: 25px;
	margin-top: 15px !important;
}


.cellule-list {
	margin-left: 190px;
}
p.cellule-list {
	margin-bottom:0px;
}

.cellule-list li:before {
	content: "- " ;
	font-weight: bold;
	margin-right: 10px;
}
.cellule-list-2 li:before {
	content: "> " ;
	font-weight: bold;
	margin-right: 10px;
}

.env-test-pub-links a {
	font-weight: bold;
	color: #000 !important;
	margin-left: 10px;
}

.env-test-pub-links a {
	font-weight: bold;
	color: #000 !important;
	margin-left: 10px;
}

.newsletter-title-2 {
	color: #ea2336 !important;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.newsletter-title-2 {
	color: #ea2336 !important;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#dom-sc .col-xs-12 li a:hover {
	background-color: transparent;
}
.header-btn-size {
	font-size: 24px;
}
.xpnd-mods {
	width: 18px;
	height: 18px;
	padding: 0px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.publi-img {
	width: 300px;
	height: 250px;
}





.badge-env-actu {
	margin-top: 4px;
	background-color: #ea2336 !important;
	position: absolute;
	top: 0px;
	z-index: 2;
	padding: 8px 18px;
	color: #fff;
}

.acceuil-title-actu {
	background-color: #fff !important;
	position: absolute;
	bottom: 10px ;
	width: 230px;
	z-index: 2;
	padding: 8px 18px;
	color: #E72C46;
	margin-bottom: 10px;
	margin-left: 15px;
}

.margin-top-24 {
	margin-top: 24px;


}

.margin-top-18 {
	margin-top: 18px;
}

.margin-top-24 {
	margin-top: 24px;




}
.top-24 {
	top: 24px;
}

/* seif-custom */

.btn-center{
	padding-top: 9px !important;
	padding-bottom: 9px !important;
	line-height:12px;
}
.conf-title {
	left: 0px;
	bottom: 0px ;
	z-index: 2;
	color: #E72C46;
	margin-bottom: 0;
	margin-top: 6px;
	width: 300px;
	min-height: 66px;
}
.margin-tagbox-actualite{
	margin-top: 5px !important;
	margin-left: 5px !important;
}
.padding-left-0{
	padding-left : 0!important;
}
.padding-left-5{
	padding-left : 5px!important;
}
.padding-left-10{
	padding-left : 10px!important;
}
.padding-right-10{
	padding-right: 10px!important;
}



.icon-color {
	color: #697277 !important;

}


.title-font-size {
	font-size: 14px !important;

}

.padding-bottom-10 {
	padding-bottom:10px !important;

}
.padding-bottom-15 {
	padding-bottom:15px !important;
}
.padding-bottom-20 {
	padding-bottom:20px !important;

}

.margin-right-15 {
	margin-right: 15px !important;
}

.margin-left-20 {
	margin-left: 20px !important ;
}

.margin-left-25 {
	margin-left: 25px !important ;
}
.margin-left-30 {
	margin-left: 30px !important ;
}
.margin-left-23 {
	margin-left: 23px !important ;
}
.margin-left-35 {
	margin-left: 35px !important ;
}
.margin-left-32 {
	margin-left: 32px;
}

.margin-left-38 {
	margin-left: 38px;
}
.padding-top-0 {
	padding-top: 0px;
}

.padding-top-1 {

	padding-top: 1px !important;
}
.margin-left-45 {
	margin-left: 45px !important ;
}
.padding-top-3 {
	padding-top: 3px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-top-15 {
	padding-top: 15px;
}

.search-bar {
	border: 0px;
	background-color: #F3F3F3;
}

.advanced-search {
	width: 225px;
}
.height-21 {
	height: 21px;
}
.tab-bg {
	background-color: #fff !important;
}
.menu-links{
	color: #000 !important;
	background-color: #FFF !important;
	border-bottom-width: 0px!important;
}

.domaine-expertise-margin {
	width: 330px;
	margin-left: 25px;
}

.mots-clefs-margin {
//margin-left: 24px;
//margin-right: 15px;
	width: 150px;
}

.newsletter-text {
	line-height: 14px;
}

.newsletter-input {
	padding-left: 8px;
	width: 100% !important;
}

.btn-expend {
	margin-top: 35px;
	padding: 0px 6px;
	font-size: 16px;
	line-height: 14px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.downloads-title {
	text-transform: uppercase;
	letter-spacing:1px;
}


.letter-spacing-50 {
	letter-spacing: 0.5px;
}
.letter-spacing-75 {
	letter-spacing: 0.75px;
}
.letter-spacing-110 {
	letter-spacing: 1.10px;
}
.letter-spacing-120 {
	letter-spacing: 1.20px;
}

.tab-v1 .nav-tabs {
	border-bottom: solid 2px #697277;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
	background: #697277 !important;
}
.tab-v1 .tab-content img {
	 margin-top: 0;
	 margin-bottom: 0;
}
.tab-content .documents-smint {
	min-height: 1020px;
}

.offres-title {
	color: #ea2336 !important;
	font-weight: 800;
	text-transform: uppercase;
}

.cadre-downloads {
	width: 300px;
	min-height: 250px;
	margin-right: auto;
	margin-left: auto;
	position:relative;
}
.cadre-downloads>a {
	display:block;
	height:250px;
}
.cadre-downloads .book {
	border-bottom:1px solid #E3E3E3;
}
.cadre-downloads .book:hover .shadow-red {
	-moz-box-shadow: 5px -5px 0px 0px #ea2336;
	-webkit-box-shadow: 5px -5px 0px 0px #ea2336;
	-o-box-shadow: 5px -5px 0px 0px #ea2336;
	box-shadow: 5px -5px 0px 0px #ea2336;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#ea2336, Direction=134, Strength=0);
}
.cadre-downloads .book:hover {
	-moz-box-shadow: 0px 0px 1px 0px #9b9b9b;
	-webkit-box-shadow: 0px 0px 1px 0px #9b9b9b;
	-o-box-shadow: 0px 0px 1px 0px #9b9b9b;
	box-shadow: 0px 0px 1px 0px #9b9b9b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=1);
	border-bottom:0px solid #FFF;
}
.cadre-downloads .book img {
	margin-top: 0;
	margin-bottom: 0;
	z-index: 2;
	position: relative;
}
.title-downloads-panel {
	line-height: 20px;
}

.download-panel-img {
	width: 100px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
}

.nav-tabs li a {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #697277;
	margin-left: 45%;
	position: absolute;
	display: none;
}

.active #triangle-down {
	display: block;
}

.padding-left-10{
	padding-left: 10px !important;
}
.padding-left-20{
	padding-left: 20px !important;
}
.padding-left-40{
	padding-left: 40px !important;
}
.padding-left-50{
	padding-left: 50px !important;
}
.padding-left-60{
	padding-left: 60px !important;
}
.offre-width{
	width: 260px !important;
}
.pub-img-env {
	width: 300px !important;
	height: 250px !important;
	margin-left: 20px !important;
	margin-right: 10px !important;

}
.pub-annonce-env {

	width: 200px !important;
	margin-left: 760px !important;

}
.pub-annonce-env-actualite {


	width: 200px !important;
	margin-left: 730px !important;

}
.badge-env {
	margin-top: 4px;
	background-color: #ea2336 !important;
	position: absolute;
	left: 20px;
	top: 0px;
	z-index: 2;
	padding: 8px 18px;
	color: #fff;
}
.md-margin-top-100 {
	margin-top: 100px  !important;
}



.tag-box-style{
	background-color: #f4f3f3 !important;
	padding-right: 20px !important;
	width: 300px !important;
	margin-left: 0px !important;
	padding-left: 40px !important;
}
.mos-col-dim-env-2{
	background-color: #f4f3f3;
	margin-top: 5px !important;
	margin-left: 20px !important;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 20px !important;
	padding-top: 0px !important;
	padding-right: 20px !important;
	width: 300px !important;
	height: 250px !important;
}
.mos-col-dim-env-3{
	background-color: #f4f3f3;
	margin-top: 5px !important;
	margin-left: 5px !important;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 20px !important;
	padding-top: 0px !important;
	padding-right: 20px !important;
	width: 300px !important;
	height: 250px !important;
}
.pub-bloc {
	position:relative;
}
.pub-bloc > p {
	position:absolute;
	top:-18px;
}
.pub-width{
	width: 300px !important;
	margin: 0 auto;
}


.margin-top-40-pub{
	margin-top: 40px;
}

/* seif-custom */
.fa-size-1v3{
	font-size : 1.3em;
}

.fa-arrow-right {
	border-right: 2px solid;
}

.mosaique-size {
	width: 300px !important;
	height: 250px !important;
}

.mosaique-ecophyto-size {
	width: 360px !important;
	height: 510px !important;
}

.border-transparent-1 {
	border-bottom: 1px transparent;
}

.border-bottom-0 {
	border-bottom: 0px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}
.margin-bottom-1 {
	margin-bottom: 1px;
}
.margin-bottom-100 {
	margin-bottom: 100px;
}

.margin-bottom-45 {
	margin-bottom: 45px;
}

.margin-bottom-20{
	margin-bottom: 23px !important;
}
.margin-right-2 {
	margin-right: 2px;
}
.margin-right-3 {
	margin-right: 3px !important;
}

.margin-top-82 {
	margin-top: 82px;
}

.margin-top-2 {
	margin-top: 2px !important;
}

.margin-top-41 {
	margin-top: 41px;
}

.glyphicon-size-2
{
	font-size: 2em;
}

.border-bottom-dark-gray {
	border-bottom : 1px solid #c6c6c6;
}

.font-awesome-size-2 {
	font-size: 2.5em !important;
}

.font-weight-300 {
	font-weight: 300 !important;
}

.font-weight-600 {
	font-weight: 600 !important;
}

.font-weight-700 {
	font-weight: 700 !important;
}
.font-size-7 {
	font-size: 7px !important;
}
.font-size-8 {
	font-size: 8px !important;
}

.font-size-9 {
	font-size: 9px !important;
}
.font-size-10 {
	font-size: 10px !important;
}

.font-size-11 {
	font-size: 11px !important;
}

.font-size-12 {
	font-size: 12px !important;
}


.font-size-13 {
	font-size: 13px !important;
}

.font-size-14 {
	font-size: 14px !important;
}

.font-size-15 {
	font-size: 15px !important;
}
.font-size-16 {
	font-size: 16px !important;
}
.font-size-17 {
	font-size: 17px !important;
}
.font-size-26 {
	font-size: 26px !important;
}

.font-size-19 {
	font-size: 19px !important;
}

.font-size-20 {
	font-size: 20px !important;
}

.font-size-21 {
	font-size: 21px !important;
}

.font-size-22 {
	font-size: 22px !important;
}

.font-size-23 {
	font-size: 23px !important;
}
.font-size-24 {
	font-size: 24px !important;
}

.font-size-24-22-20 {
	font-size: 24px;
}
.font-size-25 {
	font-size: 25px !important;
}

#topcontrol {
	background-color: #697277;
}

#hr-separator {
	border-top-width: 1px !important;
	border-color: #c6c6c6 !important;
}

.margin-top-xs-40 {
	margin-top : 85px !important;
}

.background-color-F1F1F1 {
	background-color: #F1F1F1 !important ;
}

.width-220 {
	width: 220px !important;
}

.padding-80 {
	padding-left: 80px !important ;
}

/*a.pub-style:hover .acceuil-title,
a.large-img:hover .acceuil-title,
a.haute-img:hover .acceuil-title  {
	background-color: rgba(255,255,255,.6) !important;
}*/

.overlay {
	display:none;
	background-color: rgba(0,0,0,.6);
	position:absolute;
	height: 250px;
	width: 300px;
	top: 0;
	left: 0;
	z-index:1;
}

a.large-img .picto-plus-zoom {
	top: 40%;
	left: 45%;
}

a.haute-img .picto-plus-zoom {
	top: 45%;
	left: 41%;
}

a.pub-style:hover .picto-plus-zoom,
a.large-img:hover .picto-plus-zoom {
	transition: all .2s ease-in-out;
	opacity:1;
	-moz-opacity : 100;
	-ms-filter: "alpha(opacity=100)";
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.top-20 {
	top: 20px !important;
}

.padding-bottom-100 {
	padding-bottom:100px !important;

}

.youtube-container {
	display: block;
	margin: 0px auto;
	width: 100%;
	max-width: 600px;
	height:178px;
}
.youtube-container iframe {
	width: 300px !important;
	height: 178px !important;
}
.youtube-container a img,
.youtube-container img{
	width: 300px !important;
	height:178px !important;
}
.youtube-player {
	display: block;
	width: 100%; /* assuming that the video has a 16:9 ratio */
	padding-bottom: 59.34%;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: hand;
	cursor: pointer;
	display: block;
}

img.youtube-thumb {
	margin-top: -28px !important;
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 4px;
	height: auto
}

div.play-button {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 55%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("../assets/img/main/play.png") no-repeat
}

#youtube-iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.font-family-myriadpro-bold {
	font-family: 'myriad-pro-bold';
}

.font-family-myriadpro-semibold {
	font-family: 'myriad-pro-semi-bold';
}
.letter-spacing-1 {
	letter-spacing: 1px;
}

.letter-spacing-2v5 {
	letter-spacing: 2.5px;
}
.notre-offre-box {
	width: 300px !important;
	height: 250px !important;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 0px;
}

.form-control:focus{
	-moz-box-shadow: 0px 0px 10px 0px #ea2336;
	-webkit-box-shadow: 0px 0px 10px 0px #ea2336;
	-o-box-shadow: 0px 0px 10px 0px #ea2336;
	box-shadow: 0px 0px 10px 0px #ea2336;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ea2336, Direction=NaN, Strength=10);
	background-color: #fff;
}
.has-error .form-control:focus{
	box-shadow: none;
	-webkit-box-shadow: none
}

.bottom-bloc button {
	width:100%;
}
.bottom-bloc .pub-bloc {
	margin-top:30px !important;
}
.line-height-12 {
	line-height: 12px;
}
.line-height-14 {
	line-height: 14px;
}
.line-height-16 {
	line-height: 16px;
}
.line-height-18 {
	line-height: 18px;
}
.line-height-20 {
	line-height: 20px;
}
.slick-slider {
	margin-top:20px
}

.vertical-align-center {
	display: inline-block;
	vertical-align: middle;
	float: none;
}


#design-services-popin {
	background: url(../images/fond_hachure.png) repeat-y left top #fff;
}

.offer-devider {
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-bottom: 2.5px #EA2336 solid;
}

.badge-x i {
	margin-right: 0px;
}

.badge-x {
	background: #1b8bbb !important;
	position: relative;
	top: 3px;
	left: -15px;
	width: 21px;
	padding-left: 4px !important;
}

.badge-xx {
	left: -6px !important;
}

.badge-xxx {
	left: 0px !important;
}

.badge {
	color: #fff;
	font-weight: 400;
	padding: 4px 7px;
}

.myti-info-compte .left {
	float: left;
}

.myti-info-compte .left:first-child {
	width: 10%;
	text-align: center;
}

.myti-info-compte {
	background: #1b8bbb;
	margin: 0px auto 10px;
	padding: 15px 0;
	max-width:1140px;
}

.myti-info-compte div span.text,
.myti-info-compte div.text-ip,
.myti-info-compte div .text-ip a
{
	color: #fff;
	font-weight: bold;
}

.myti-info-compte div.text-ip {
	display: inline-block;
	margin: 0;
	padding: 3px 40px 0 0;
	line-height: 20px;
	width: 65%;
	font-family: myriad-pro;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.75px;
}

.myti-info-compte .buton-abos {
	margin:6px 0;
	padding:0;
	float:right;
	color:#1B8BBB;
	width: 20%;
	text-align: center;
}
.myti-info-compte .buton-abos a,
.myti-info-compte .buton-abos a:hover {
	text-decoration: none;
	color: #1B8BBB;
	font-family: myriad-pro-bold;
	line-height: 12px;
	display: inline-block;
	padding: 10px 23px;
	background: #ffffff;
	width: auto;
}

.myti-info-compte .icone {
	display: inline-block;
	color:#fff;
	margin: 6px 0 0 0;
}
.myti-info-compte .badge-x {
	background: #fff!important;
}
.myti-info-compte .badge {
	color: #1B8BBB;
}
.myti-info-compte div .img-ip {
	margin: 7px 0 7px;
}

.myti-info-compte div.text-ip a {
	color: #fff;
	font-weight: bold;
}

.myti-info-compte .myti-buton-red {
	padding: 3px 3px 1px 3px;
}

.myti-info-compte .myti-buton-red img {
	margin: 0 3px 0 0;
}

.myti-info-compte .myti-buton-red span.text {
	margin: 2px 0;
	padding: 3px 0 3px 20px;
	font-size: 12px;
}

.myti-info-compte .myti-icon {
	padding: 0 0 15px 23px
}

.panel-heading .downloads-title a:hover {
	text-decoration: underline;
}

.col-droite {
	position: absolute;
	top: 103px;
	right: -9px;
}

.col-droite div.pub-bloc div.freezone {
	display:none;
}

/*POPIN CONFERENCES*/
#di-conf-popin {height:auto!important;padding: .5em 1em .5em 1em;}
#di-conf-popin p {display:inline-block;}
#di-conf-popin label,
#di-conf-popin #form-container #di-form .condition {font-size:13px; display:inline-block;}
#di-conf-popin input {
	font-size:13px;
	color:#000;
	width:200px;
	height:28px;
	display:inline-block;
	border: 0px;
	background-color: #F3F3F3;
	padding:0;
	margin: 0 15px 0 0;
}
#di-conf-popin input:focus{
	-moz-box-shadow: 0px 0px 10px 0px #ea2336;
	-webkit-box-shadow: 0px 0px 10px 0px #ea2336;
	-o-box-shadow: 0px 0px 10px 0px #ea2336;
	box-shadow: 0px 0px 10px 0px #ea2336;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ea2336, Direction=NaN, Strength=10);
	background-color: #fff;
	outline:none;
}
#di-conf-popin .formErrorContent {
	position:relative;
	left:-15px;
	display:inline-block;
	color:#d11111;
	font-size:12px;
	float:left;
}
#di-conf-popin .champs-requis {
	display:inline-block;
	margin:0;
	padding:0;
	font-size:12px;
	position:absolute;
	bottom:10px;
	left:0px;
}
#di-conf-popin .button {
	background: #EA2336!important;
	width: auto;
	height: 26px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0 10px;
	border-radius: 0;
}
#di-conf-popin .bottom {
	margin:20px 0;
	padding:0;
}
#di-conf-popin .services-logo {
	position: absolute;
	bottom: 40px;
	left: 1em;
}
#di-conf-popin .titre {
	font-size: 14px;
	margin: 0 0 30px;
	width: auto;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
#design-di-conf-popin {
	background: url(../images/fond_hachure.png) repeat-y left top #fff;
}
#form-container {
	width: 65%;
	margin: 0 auto;
	position:relative;
	overflow:hidden
}
.ez_html_module .panel-heading img {
	width: 100%;
	padding-top: 30px;
}