/* mesures analyse */
.skin-th1 .background-encart {
  background-color: #008BBB; }

.skin-th1 .border-encart {
  border: 1px solid #008BBB; }

.skin-th1 .text-color {
  color: #008BBB; }

/* procedes chimie bio agro */
.skin-th2 .background-encart {
  background-color: #00A56D; }

.skin-th2 .border-encart {
  border: 1px solid #00A56D; }

.skin-th2 .text-color {
  color: #00A56D; }

/* construction */
.skin-th3 .background-encart {
  background-color: #E07701; }

.skin-th3 .border-encart {
  border: 1px solid #E07701; }

.skin-th3 .text-color {
  color: #E07701; }

/* energie */
.skin-th4 .background-encart {
  background-color: #F6BD00; }

.skin-th4 .border-encart {
  border: 1px solid #F6BD00; }

.skin-th4 .text-color {
  color: #F6BD00; }

/* environement */
.skin-th5 .background-encart {
  background-color: #A9B200; }

.skin-th5 .border-encart {
  border: 1px solid #A9B200; }

.skin-th5 .text-color {
  color: #A9B200; }

/* genie industriel */
.skin-th6 .background-encart {
  background-color: #008CBB; }

.skin-th6 .border-encart {
  border: 1px solid #008CBB; }

.skin-th6 .text-color {
  color: #008CBB; }

/* mecanique */
.skin-th7 .background-encart {
  background-color: #CF2D23; }

.skin-th7 .border-encart {
  border: 1px solid #CF2D23; }

.skin-th7 .text-color {
  color: #CF2D23; }

/* sciences fondamentales */
.skin-th8 .background-encart {
  background-color: #009997; }

.skin-th8 .border-encart {
  border: 1px solid #009997; }

.skin-th8 .text-color {
  color: #009997; }

/* technologie de l information */
.skin-th9 .background-encart {
  background-color: #C1A581; }

.skin-th9 .border-encart {
  border: 1px solid #C1A581; }

.skin-th9 .text-color {
  color: #C1A581; }

/* nanotechnologies */
.skin-th10 .background-encart {
  background-color: #A60077; }

.skin-th10 .border-encart {
  border: 1px solid #A60077; }

.skin-th10 .text-color {
  color: #A60077; }

/* materiaux */
.skin-th11 .background-encart {
  background-color: #63398B; }

.skin-th11 .border-encart {
  border: 1px solid #63398B; }

.skin-th11 .text-color {
  color: #63398B; }

/* archives */
.skin-th12 .background-encart {
  background-color: #6f6f6f; }

.skin-th12 .border-encart {
  border: 1px solid #6f6f6f; }

.skin-th12 .text-color {
  color: #6f6f6f; }

/* electronique photonique */
.skin-th13 .background-encart {
  background-color: #E3004E; }

.skin-th13 .border-encart {
  border: 1px solid #E3004E; }

.skin-th13 .text-color {
  color: #E3004E; }

/* transports */
.skin-th14 .background-encart {
  background-color: #27445b; }

.skin-th14 .border-encart {
  border: 1px solid #27445b; }

.skin-th14 .text-color {
  color: #27445b; }

/* biomediacl pharma */
.skin-th15 .background-encart {
  background-color: #242e6e; }

.skin-th15 .border-encart {
  border: 1px solid #242e6e; }

.skin-th15 .text-color {
  color: #242e6e; }

/* automatique robotique */
.skin-th16 .background-encart {
  background-color: #959594; }

.skin-th16 .border-encart {
  border: 1px solid #959594; }

.skin-th16 .text-color {
  color: #959594; }

/* aerospatial */
.skin-sc1 .background-encart {
  background-color: #25445C; }

.skin-sc1 .border-encart {
  border: 1px solid #25445C; }

.skin-sc1 .text-color {
  color: #25445C; }

/* agroalimentaire */
.skin-sc2 .background-encart {
  background-color: #23AB75; }

.skin-sc2 .border-encart {
  border: 1px solid #23AB75; }

.skin-sc2 .text-color {
  color: #23AB75; }

/* automobile */
.skin-sc3 .background-encart {
  background-color: #222221; }

.skin-sc3 .border-encart {
  border: 1px solid #222221; }

.skin-sc3 .text-color {
  color: #222221; }

/* eco-indiustrie */
.skin-sc4 .background-encart {
  background-color: #9DB51D; }

.skin-sc4 .border-encart {
  border: 1px solid #9DB51D; }

.skin-sc4 .text-color {
  color: #9DB51D; }

/* equipement-industriel */
.skin-sc5 .background-encart {
  background-color: #D31E2C; }

.skin-sc5 .border-encart {
  border: 1px solid #D31E2C; }

.skin-sc5 .text-color {
  color: #D31E2C; }

/* plasturgie */
.skin-sc6 .background-encart {
  background-color: #642F85; }

.skin-sc6 .border-encart {
  border: 1px solid #642F85; }

.skin-sc6 .text-color {
  color: #642F85; }
