/* mesures analyse */
.skin-th1 .background-encart {
  background-color: #178BB7 !important; }

.skin-th1 .rounded-border {
  border: 3px solid #178BB7 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th1 .background-hover:hover {
  background-color: #ffffff !important;
  color: #178BB7 !important; }

.skin-th1 img.border-encart {
  border: 3px solid #178BB7;
  margin: 0 auto; }

.skin-th1 .border-encart, .skin-th1:hover {
  border: 1px solid #178BB7; }

.skin-th1 .text-color {
  color: #178BB7;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th1 a.text-color span:hover {
  text-decoration: underline; }

.skin-th1 .color {
  color: #178BB7; }

.skin-th1 hr {
  background: #178BB7;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th1:hover {
  border: 0px solid #178BB7; }

/* procedes chimie bio agro */
.skin-th2 .background-encart {
  background-color: #1EAA74 !important; }

.skin-th2 .rounded-border {
  border: 3px solid #1EAA74 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th2 .background-hover:hover {
  background-color: #ffffff !important;
  color: #1EAA74 !important; }

.skin-th2 img.border-encart {
  border: 3px solid #1EAA74;
  margin: 0 auto; }

.skin-th2 .border-encart, .skin-th2:hover {
  border: 1px solid #1EAA74; }

.skin-th2 .text-color {
  color: #1EAA74;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th2 a.text-color span:hover {
  text-decoration: underline; }

.skin-th2 .color {
  color: #1EAA74; }

.skin-th2 hr {
  background: #1EAA74;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th2:hover {
  border: 0px solid #1EAA74; }

/* construction */
.skin-th3 .background-encart {
  background-color: #E0760C !important; }

.skin-th3 .rounded-border {
  border: 3px solid #E0760C !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th3 .background-hover:hover {
  background-color: #ffffff !important;
  color: #E0760C !important; }

.skin-th3 img.border-encart {
  border: 3px solid #E0760C;
  margin: 0 auto; }

.skin-th3 .border-encart, .skin-th3:hover {
  border: 1px solid #E0760C; }

.skin-th3 .text-color {
  color: #E0760C;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th3 a.text-color span:hover {
  text-decoration: underline; }

.skin-th3 .color {
  color: #E0760C; }

.skin-th3 hr {
  background: #E0760C;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th3:hover {
  border: 0px solid #E0760C; }

/* energie */
.skin-th4 .background-encart {
  background-color: #FABD11 !important; }

.skin-th4 .rounded-border {
  border: 3px solid #FABD11 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th4 .background-hover:hover {
  background-color: #ffffff !important;
  color: #FABD11 !important; }

.skin-th4 img.border-encart {
  border: 3px solid #FABD11;
  margin: 0 auto; }

.skin-th4 .border-encart, .skin-th4:hover {
  border: 1px solid #FABD11; }

.skin-th4 .text-color {
  color: #FABD11;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th4 a.text-color span:hover {
  text-decoration: underline; }

.skin-th4 .color {
  color: #FABD11; }

.skin-th4 hr {
  background: #FABD11;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th4:hover {
  border: 0px solid #FABD11; }

/* environement */
.skin-th5 .background-encart {
  background-color: #9DB51D !important; }

.skin-th5 .rounded-border {
  border: 3px solid #9DB51D !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th5 .background-hover:hover {
  background-color: #ffffff !important;
  color: #9DB51D !important; }

.skin-th5 img.border-encart {
  border: 3px solid #9DB51D;
  margin: 0 auto; }

.skin-th5 .border-encart, .skin-th5:hover {
  border: 1px solid #9DB51D; }

.skin-th5 .text-color {
  color: #9DB51D;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th5 a.text-color span:hover {
  text-decoration: underline; }

.skin-th5 .color {
  color: #9DB51D; }

.skin-th5 hr {
  background: #9DB51D;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th5:hover {
  border: 0px solid #9DB51D; }

/* genie industriel */
.skin-th6 .background-encart {
  background-color: #1C8CBB !important; }

.skin-th6 .rounded-border {
  border: 3px solid #1C8CBB !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th6 .background-hover:hover {
  background-color: #ffffff !important;
  color: #1C8CBB !important; }

.skin-th6 img.border-encart {
  border: 3px solid #1C8CBB;
  margin: 0 auto; }

.skin-th6 .border-encart, .skin-th6:hover {
  border: 1px solid #1C8CBB; }

.skin-th6 .text-color {
  color: #1C8CBB;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th6 a.text-color span:hover {
  text-decoration: underline; }

.skin-th6 .color {
  color: #1C8CBB; }

.skin-th6 hr {
  background: #1C8CBB;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th6:hover {
  border: 0px solid #1C8CBB; }

/* mecanique */
.skin-th7 .background-encart {
  background-color: #D31E2C !important; }

.skin-th7 .rounded-border {
  border: 3px solid #D31E2C !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th7 .background-hover:hover {
  background-color: #ffffff !important;
  color: #D31E2C !important; }

.skin-th7 img.border-encart {
  border: 3px solid #D31E2C;
  margin: 0 auto; }

.skin-th7 .border-encart, .skin-th7:hover {
  border: 1px solid #D31E2C; }

.skin-th7 .text-color {
  color: #D31E2C;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th7 a.text-color span:hover {
  text-decoration: underline; }

.skin-th7 .color {
  color: #D31E2C; }

.skin-th7 hr {
  background: #D31E2C;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th7:hover {
  border: 0px solid #D31E2C; }

/* sciences fondamentales */
.skin-th8 .background-encart {
  background-color: #1F9A99 !important; }

.skin-th8 .rounded-border {
  border: 3px solid #1F9A99 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th8 .background-hover:hover {
  background-color: #ffffff !important;
  color: #1F9A99 !important; }

.skin-th8 img.border-encart {
  border: 3px solid #1F9A99;
  margin: 0 auto; }

.skin-th8 .border-encart, .skin-th8:hover {
  border: 1px solid #1F9A99; }

.skin-th8 .text-color {
  color: #1F9A99;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th8 a.text-color span:hover {
  text-decoration: underline; }

.skin-th8 .color {
  color: #1F9A99; }

.skin-th8 hr {
  background: #1F9A99;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th8:hover {
  border: 0px solid #1F9A99; }

/* technologie de l information */
.skin-th9 .background-encart {
  background-color: #C2A681 !important; }

.skin-th9 .rounded-border {
  border: 3px solid #C2A681 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th9 .background-hover:hover {
  background-color: #ffffff !important;
  color: #C2A681 !important; }

.skin-th9 img.border-encart {
  border: 3px solid #C2A681;
  margin: 0 auto; }

.skin-th9 .border-encart, .skin-th9:hover {
  border: 1px solid #C2A681; }

.skin-th9 .text-color {
  color: #C2A681;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th9 a.text-color span:hover {
  text-decoration: underline; }

.skin-th9 .color {
  color: #C2A681; }

.skin-th9 hr {
  background: #C2A681;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th9:hover {
  border: 0px solid #C2A681; }

/* nanotechnologies */
.skin-th10 .background-encart {
  background-color: #A41979 !important; }

.skin-th10 .rounded-border {
  border: 3px solid #A41979 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th10 .background-hover:hover {
  background-color: #ffffff !important;
  color: #A41979 !important; }

.skin-th10 img.border-encart {
  border: 3px solid #A41979;
  margin: 0 auto; }

.skin-th10 .border-encart, .skin-th10:hover {
  border: 1px solid #A41979; }

.skin-th10 .text-color {
  color: #A41979;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th10 a.text-color span:hover {
  text-decoration: underline; }

.skin-th10 .color {
  color: #A41979; }

.skin-th10 hr {
  background: #A41979;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th10:hover {
  border: 0px solid #A41979; }

/* materiaux */
.skin-th11 .background-encart {
  background-color: #642F85 !important; }

.skin-th11 .rounded-border {
  border: 3px solid #642F85 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th11 .background-hover:hover {
  background-color: #ffffff !important;
  color: #642F85 !important; }

.skin-th11 img.border-encart {
  border: 3px solid #642F85;
  margin: 0 auto; }

.skin-th11 .border-encart, .skin-th11:hover {
  border: 1px solid #642F85; }

.skin-th11 .text-color {
  color: #642F85;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th11 a.text-color span:hover {
  text-decoration: underline; }

.skin-th11 .color {
  color: #642F85; }

.skin-th11 hr {
  background: #642F85;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th11:hover {
  border: 0px solid #642F85; }

/* archives */
.skin-th12 .background-encart {
  background-color: #6f6f6f !important; }

.skin-th12 .rounded-border {
  border: 3px solid #6f6f6f !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th12 .background-hover:hover {
  background-color: #ffffff !important;
  color: #6f6f6f !important; }

.skin-th12 img.border-encart {
  border: 3px solid #6f6f6f;
  margin: 0 auto; }

.skin-th12 .border-encart, .skin-th12:hover {
  border: 1px solid #6f6f6f; }

.skin-th12 .text-color {
  color: #6f6f6f;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th12 a.text-color span:hover {
  text-decoration: underline; }

.skin-th12 .color {
  color: #6f6f6f; }

.skin-th12 hr {
  background: #6f6f6f;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th12:hover {
  border: 0px solid #6f6f6f; }

/* electronique photonique */
.skin-th13 .background-encart {
  background-color: #E4054F !important; }

.skin-th13 .rounded-border {
  border: 3px solid #E4054F !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th13 .background-hover:hover {
  background-color: #ffffff !important;
  color: #E4054F !important; }

.skin-th13 img.border-encart {
  border: 3px solid #E4054F;
  margin: 0 auto; }

.skin-th13 .border-encart, .skin-th13:hover {
  border: 1px solid #E4054F; }

.skin-th13 .text-color {
  color: #E4054F;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th13 a.text-color span:hover {
  text-decoration: underline; }

.skin-th13 .color {
  color: #E4054F; }

.skin-th13 hr {
  background: #E4054F;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th13:hover {
  border: 0px solid #E4054F; }

/* transports */
.skin-th14 .background-encart {
  background-color: #25445C !important; }

.skin-th14 .rounded-border {
  border: 3px solid #25445C !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th14 .background-hover:hover {
  background-color: #ffffff !important;
  color: #25445C !important; }

.skin-th14 img.border-encart {
  border: 3px solid #25445C;
  margin: 0 auto; }

.skin-th14 .border-encart, .skin-th14:hover {
  border: 1px solid #25445C; }

.skin-th14 .text-color {
  color: #25445C;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th14 a.text-color span:hover {
  text-decoration: underline; }

.skin-th14 .color {
  color: #25445C; }

.skin-th14 hr {
  background: #25445C;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th14:hover {
  border: 0px solid #25445C; }

/* biomediacl pharma */
.skin-th15 .background-encart {
  background-color: #233267 !important; }

.skin-th15 .rounded-border {
  border: 3px solid #233267 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th15 .background-hover:hover {
  background-color: #ffffff !important;
  color: #233267 !important; }

.skin-th15 img.border-encart {
  border: 3px solid #233267;
  margin: 0 auto; }

.skin-th15 .border-encart, .skin-th15:hover {
  border: 1px solid #233267; }

.skin-th15 .text-color {
  color: #233267;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th15 a.text-color span:hover {
  text-decoration: underline; }

.skin-th15 .color {
  color: #233267; }

.skin-th15 hr {
  background: #233267;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th15:hover {
  border: 0px solid #233267; }

/* automatique robotique */
.skin-th16 .background-encart {
  background-color: #959594 !important; }

.skin-th16 .rounded-border {
  border: 3px solid #959594 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-th16 .background-hover:hover {
  background-color: #ffffff !important;
  color: #959594 !important; }

.skin-th16 img.border-encart {
  border: 3px solid #959594;
  margin: 0 auto; }

.skin-th16 .border-encart, .skin-th16:hover {
  border: 1px solid #959594; }

.skin-th16 .text-color {
  color: #959594;
  font-family: 'myriad-pro-semi-bold'; }

.skin-th16 a.text-color span:hover {
  text-decoration: underline; }

.skin-th16 .color {
  color: #959594; }

.skin-th16 hr {
  background: #959594;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-th16:hover {
  border: 0px solid #959594; }

/* aerospatial */
.skin-sc1 .background-encart {
  background-color: #25445C !important; }

.skin-sc1 .rounded-border {
  border: 3px solid #25445C !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-sc1 .background-hover:hover {
  background-color: #ffffff !important;
  color: #25445C !important; }

.skin-sc1 img.border-encart {
  border: 3px solid #25445C;
  margin: 0 auto; }

.skin-sc1 .border-encart, .skin-sc1:hover {
  border: 1px solid #25445C; }

.skin-sc1 .text-color {
  color: #25445C;
  font-family: 'myriad-pro-semi-bold'; }

.skin-sc1 a.text-color span:hover {
  text-decoration: underline; }

.skin-sc1 .color {
  color: #25445C; }

.skin-sc1 hr {
  background: #25445C;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-sc1:hover {
  border: 0px solid #25445C; }

/* agroalimentaire */
.skin-sc2 .background-encart {
  background-color: #23AB75 !important; }

.skin-sc2 .rounded-border {
  border: 3px solid #23AB75 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-sc2 .background-hover:hover {
  background-color: #ffffff !important;
  color: #23AB75 !important; }

.skin-sc2 img.border-encart {
  border: 3px solid #23AB75;
  margin: 0 auto; }

.skin-sc2 .border-encart, .skin-sc2:hover {
  border: 1px solid #23AB75; }

.skin-sc2 .text-color {
  color: #23AB75;
  font-family: 'myriad-pro-semi-bold'; }

.skin-sc2 a.text-color span:hover {
  text-decoration: underline; }

.skin-sc2 .color {
  color: #23AB75; }

.skin-sc2 hr {
  background: #23AB75;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-sc2:hover {
  border: 0px solid #23AB75; }

/* automobile */
.skin-sc3 .background-encart {
  background-color: #222221 !important; }

.skin-sc3 .rounded-border {
  border: 3px solid #222221 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-sc3 .background-hover:hover {
  background-color: #ffffff !important;
  color: #222221 !important; }

.skin-sc3 img.border-encart {
  border: 3px solid #222221;
  margin: 0 auto; }

.skin-sc3 .border-encart, .skin-sc3:hover {
  border: 1px solid #222221; }

.skin-sc3 .text-color {
  color: #222221;
  font-family: 'myriad-pro-semi-bold'; }

.skin-sc3 a.text-color span:hover {
  text-decoration: underline; }

.skin-sc3 .color {
  color: #222221; }

.skin-sc3 hr {
  background: #222221;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-sc3:hover {
  border: 0px solid #222221; }

/* eco-indiustrie */
.skin-sc4 .background-encart {
  background-color: #9DB51D !important; }

.skin-sc4 .rounded-border {
  border: 3px solid #9DB51D !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-sc4 .background-hover:hover {
  background-color: #ffffff !important;
  color: #9DB51D !important; }

.skin-sc4 img.border-encart {
  border: 3px solid #9DB51D;
  margin: 0 auto; }

.skin-sc4 .border-encart, .skin-sc4:hover {
  border: 1px solid #9DB51D; }

.skin-sc4 .text-color {
  color: #9DB51D;
  font-family: 'myriad-pro-semi-bold'; }

.skin-sc4 a.text-color span:hover {
  text-decoration: underline; }

.skin-sc4 .color {
  color: #9DB51D; }

.skin-sc4 hr {
  background: #9DB51D;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-sc4:hover {
  border: 0px solid #9DB51D; }

/* equipement-industriel */
.skin-sc5 .background-encart {
  background-color: #D31E2C !important; }

.skin-sc5 .rounded-border {
  border: 3px solid #D31E2C !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-sc5 .background-hover:hover {
  background-color: #ffffff !important;
  color: #D31E2C !important; }

.skin-sc5 img.border-encart {
  border: 3px solid #D31E2C;
  margin: 0 auto; }

.skin-sc5 .border-encart, .skin-sc5:hover {
  border: 1px solid #D31E2C; }

.skin-sc5 .text-color {
  color: #D31E2C;
  font-family: 'myriad-pro-semi-bold'; }

.skin-sc5 a.text-color span:hover {
  text-decoration: underline; }

.skin-sc5 .color {
  color: #D31E2C; }

.skin-sc5 hr {
  background: #D31E2C;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-sc5:hover {
  border: 0px solid #D31E2C; }

/* plasturgie */
.skin-sc6 .background-encart {
  background-color: #642F85 !important; }

.skin-sc6 .rounded-border {
  border: 3px solid #642F85 !important;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  display: table-cell;
  vertical-align: middle; }

.skin-sc6 .background-hover:hover {
  background-color: #ffffff !important;
  color: #642F85 !important; }

.skin-sc6 img.border-encart {
  border: 3px solid #642F85;
  margin: 0 auto; }

.skin-sc6 .border-encart, .skin-sc6:hover {
  border: 1px solid #642F85; }

.skin-sc6 .text-color {
  color: #642F85;
  font-family: 'myriad-pro-semi-bold'; }

.skin-sc6 a.text-color span:hover {
  text-decoration: underline; }

.skin-sc6 .color {
  color: #642F85; }

.skin-sc6 hr {
  background: #642F85;
  width: 30px;
  height: 2px;
  margin: 0 400px 10px 79px; }

body.skin-sc6:hover {
  border: 0px solid #642F85; }

/* mesures analyse */
.zone-th1 {
  background-color: #178BB7;
  border: 1px solid #178BB7; }
  .zone-th1:hover {
    background-color: #fff;
    color: #178BB7;
    transition: all 0.3s ease-in-out; }

/* procedes chimie bio agro */
.zone-th2 {
  background-color: #1EAA74;
  border: 1px solid #1EAA74; }
  .zone-th2:hover {
    background-color: #fff;
    color: #1EAA74;
    transition: all 0.3s ease-in-out; }

/* construction */
.zone-th3 {
  background-color: #E0760C;
  border: 1px solid #E0760C; }
  .zone-th3:hover {
    background-color: #fff;
    color: #E0760C;
    transition: all 0.3s ease-in-out; }

/* energie */
.zone-th4 {
  background-color: #FABD11;
  border: 1px solid #FABD11; }
  .zone-th4:hover {
    background-color: #fff;
    color: #FABD11;
    transition: all 0.3s ease-in-out; }

/* environement */
.zone-th5 {
  background-color: #9DB51D;
  border: 1px solid #9DB51D; }
  .zone-th5:hover {
    background-color: #fff;
    color: #9DB51D;
    transition: all 0.3s ease-in-out; }

/* genie industriel */
.zone-th6 {
  background-color: #1C8CBB;
  border: 1px solid #1C8CBB; }
  .zone-th6:hover {
    background-color: #fff;
    color: #1C8CBB;
    transition: all 0.3s ease-in-out; }

/* mecanique */
.zone-th7 {
  background-color: #D31E2C;
  border: 1px solid #D31E2C; }
  .zone-th7:hover {
    background-color: #fff;
    color: #D31E2C;
    transition: all 0.3s ease-in-out; }

/* sciences fondamentales */
.zone-th8 {
  background-color: #1F9A99;
  border: 1px solid #1F9A99; }
  .zone-th8:hover {
    background-color: #fff;
    color: #1F9A99;
    transition: all 0.3s ease-in-out; }

/* technologie de l information */
.zone-th9 {
  background-color: #C2A681;
  border: 1px solid #C2A681; }
  .zone-th9:hover {
    background-color: #fff;
    color: #C2A681;
    transition: all 0.3s ease-in-out; }

/* nanotechnologies */
.zone-th10 {
  background-color: #A41979;
  border: 1px solid #A41979; }
  .zone-th10:hover {
    background-color: #fff;
    color: #A41979;
    transition: all 0.3s ease-in-out; }

/* materiaux */
.zone-th11 {
  background-color: #642F85;
  border: 1px solid #642F85; }
  .zone-th11:hover {
    background-color: #fff;
    color: #642F85;
    transition: all 0.3s ease-in-out; }

/* archives */
.zone-th12 {
  background-color: #6f6f6f;
  border: 1px solid #6f6f6f; }
  .zone-th12:hover {
    background-color: #fff;
    color: #6f6f6f;
    transition: all 0.3s ease-in-out; }

/* electronique photonique */
.zone-th13 {
  background-color: #E4054F;
  border: 1px solid #E4054F; }
  .zone-th13:hover {
    background-color: #fff;
    color: #E4054F;
    transition: all 0.3s ease-in-out; }

/* transports */
.zone-th14 {
  background-color: #25445C;
  border: 1px solid #25445C; }
  .zone-th14:hover {
    background-color: #fff;
    color: #25445C;
    transition: all 0.3s ease-in-out; }

/* biomediacl pharma */
.zone-th15 {
  background-color: #233267;
  border: 1px solid #233267; }
  .zone-th15:hover {
    background-color: #fff;
    color: #233267;
    transition: all 0.3s ease-in-out; }

/* automatique robotique */
.zone-th16 {
  background-color: #959594;
  border: 1px solid #959594; }
  .zone-th16:hover {
    background-color: #fff;
    color: #959594;
    transition: all 0.3s ease-in-out; }

/* aerospatial */
.zone-sc1 {
  background-color: #25445C;
  border: 1px solid #25445C; }
  .zone-sc1:hover {
    background-color: #fff;
    color: #25445C;
    transition: all 0.3s ease-in-out; }

/* agroalimentaire */
.zone-sc2 {
  background-color: #23AB75;
  border: 1px solid #23AB75; }
  .zone-sc2:hover {
    background-color: #fff;
    color: #23AB75;
    transition: all 0.3s ease-in-out; }

/* automobile */
.zone-sc3 {
  background-color: #222221;
  border: 1px solid #222221; }
  .zone-sc3:hover {
    background-color: #fff;
    color: #222221;
    transition: all 0.3s ease-in-out; }

/* eco-indiustrie */
.zone-sc4 {
  background-color: #9DB51D;
  border: 1px solid #9DB51D; }
  .zone-sc4:hover {
    background-color: #fff;
    color: #9DB51D;
    transition: all 0.3s ease-in-out; }

/* equipement-industriel */
.zone-sc5 {
  background-color: #D31E2C;
  border: 1px solid #D31E2C; }
  .zone-sc5:hover {
    background-color: #fff;
    color: #D31E2C;
    transition: all 0.3s ease-in-out; }

/* plasturgie */
.zone-sc6 {
  background-color: #642F85;
  border: 1px solid #642F85; }
  .zone-sc6:hover {
    background-color: #fff;
    color: #642F85;
    transition: all 0.3s ease-in-out; }

@media screen and (max-width: 1024px) {
  /* mesures analyse */
  .skin-th1 .rounded-border {
    height: 205px; }
  /* procedes chimie bio agro */
  .skin-th2 .rounded-border {
    height: 205px; }
  /* construction */
  .skin-th3 .rounded-border {
    height: 205px; }
  /* energie */
  .skin-th4 .rounded-border {
    height: 205px; }
  /* environement */
  .skin-th5 .rounded-border {
    height: 205px; }
  /* genie industriel */
  .skin-th6 .rounded-border {
    height: 205px; }
  /* mecanique */
  .skin-th7 .rounded-border {
    height: 205px; }
  /* sciences fondamentales */
  .skin-th8 .rounded-border {
    height: 205px; }
  /* technologie de l information */
  .skin-th9 .rounded-border {
    height: 205px; }
  /* nanotechnologies */
  .skin-th10 .rounded-border {
    height: 205px; }
  /* materiaux */
  .skin-th11 .rounded-border {
    height: 205px; }
  /* archives */
  .skin-th12 .rounded-border {
    height: 205px; }
  /* electronique photonique */
  .skin-th13 .rounded-border {
    height: 205px; }
  /* transports */
  .skin-th14 .rounded-border {
    height: 205px; }
  /* biomediacl pharma */
  .skin-th15 .rounded-border {
    height: 205px; }
  /* automatique robotique */
  .skin-th16 .rounded-border {
    height: 205px; }
  /* aerospatial */
  .skin-sc1 .rounded-border {
    height: 205px; }
  /* agroalimentaire */
  .skin-sc2 .rounded-border {
    height: 205px; }
  /* automobile */
  .skin-sc3 .rounded-border {
    height: 205px; }
  /* eco-indiustrie */
  .skin-sc4 .rounded-border {
    height: 205px; }
  /* equipement-industriel */
  .skin-sc5 .rounded-border {
    height: 205px; }
  /* plasturgie */
  .skin-sc6 .rounded-border {
    height: 205px; } }

@media screen and (max-width: 768px) {
  /* mesures analyse */
  .skin-th1 .rounded-border {
    height: 150px; }
  /* procedes chimie bio agro */
  .skin-th2 .rounded-border {
    height: 150px; }
  /* construction */
  .skin-th3 .rounded-border {
    height: 150px; }
  /* energie */
  .skin-th4 .rounded-border {
    height: 150px; }
  /* environement */
  .skin-th5 .rounded-border {
    height: 150px; }
  /* genie industriel */
  .skin-th6 .rounded-border {
    height: 150px; }
  /* mecanique */
  .skin-th7 .rounded-border {
    height: 150px; }
  /* sciences fondamentales */
  .skin-th8 .rounded-border {
    height: 150px; }
  /* technologie de l information */
  .skin-th9 .rounded-border {
    height: 150px; }
  /* nanotechnologies */
  .skin-th10 .rounded-border {
    height: 150px; }
  /* materiaux */
  .skin-th11 .rounded-border {
    height: 150px; }
  /* archives */
  .skin-th12 .rounded-border {
    height: 150px; }
  /* electronique photonique */
  .skin-th13 .rounded-border {
    height: 150px; }
  /* transports */
  .skin-th14 .rounded-border {
    height: 150px; }
  /* biomediacl pharma */
  .skin-th15 .rounded-border {
    height: 150px; }
  /* automatique robotique */
  .skin-th16 .rounded-border {
    height: 150px; }
  /* aerospatial */
  .skin-sc1 .rounded-border {
    height: 150px; }
  /* agroalimentaire */
  .skin-sc2 .rounded-border {
    height: 150px; }
  /* automobile */
  .skin-sc3 .rounded-border {
    height: 150px; }
  /* eco-indiustrie */
  .skin-sc4 .rounded-border {
    height: 150px; }
  /* equipement-industriel */
  .skin-sc5 .rounded-border {
    height: 150px; }
  /* plasturgie */
  .skin-sc6 .rounded-border {
    height: 150px; } }
