/* mesures analyse */
.skin-th1 .background-encart {
  background-color: #178BB7; }

.skin-th1 .border-encart {
  border: 1px solid #178BB7; }

.skin-th1 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* procedes chimie bio agro */
.skin-th2 .background-encart {
  background-color: #1EAA74; }

.skin-th2 .border-encart {
  border: 1px solid #1EAA74; }

.skin-th2 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* construction */
.skin-th3 .background-encart {
  background-color: #E0760C; }

.skin-th3 .border-encart {
  border: 1px solid #E0760C; }

.skin-th3 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* energie */
.skin-th4 .background-encart {
  background-color: #FABD11; }

.skin-th4 .border-encart {
  border: 1px solid #FABD11; }

.skin-th4 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* environement */
.skin-th5 .background-encart {
  background-color: #9DB51D; }

.skin-th5 .border-encart {
  border: 1px solid #9DB51D; }

.skin-th5 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* genie industriel */
.skin-th6 .background-encart {
  background-color: #1C8CBB; }

.skin-th6 .border-encart {
  border: 1px solid #1C8CBB; }

.skin-th6 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* mecanique */
.skin-th7 .background-encart {
  background-color: #D31E2C; }

.skin-th7 .border-encart {
  border: 1px solid #D31E2C; }

.skin-th7 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* sciences fondamentales */
.skin-th8 .background-encart {
  background-color: #1F9A99; }

.skin-th8 .border-encart {
  border: 1px solid #1F9A99; }

.skin-th8 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* technologie de l information */
.skin-th9 .background-encart {
  background-color: #C2A681; }

.skin-th9 .border-encart {
  border: 1px solid #C2A681; }

.skin-th9 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* nanotechnologies */
.skin-th10 .background-encart {
  background-color: #A41979; }

.skin-th10 .border-encart {
  border: 1px solid #A41979; }

.skin-th10 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* materiaux */
.skin-th11 .background-encart {
  background-color: #642F85; }

.skin-th11 .border-encart {
  border: 1px solid #642F85; }

.skin-th11 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* archives */
.skin-th12 .background-encart {
  background-color: #6f6f6f; }

.skin-th12 .border-encart {
  border: 1px solid #6f6f6f; }

.skin-th12 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* electronique photonique */
.skin-th13 .background-encart {
  background-color: #E4054F; }

.skin-th13 .border-encart {
  border: 1px solid #E4054F; }

.skin-th13 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* transports */
.skin-th14 .background-encart {
  background-color: #25445C; }

.skin-th14 .border-encart {
  border: 1px solid #25445C; }

.skin-th14 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* biomediacl pharma */
.skin-th15 .background-encart {
  background-color: #233267; }

.skin-th15 .border-encart {
  border: 1px solid #233267; }

.skin-th15 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* automatique robotique */
.skin-th16 .background-encart {
  background-color: #959594; }

.skin-th16 .border-encart {
  border: 1px solid #959594; }

.skin-th16 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* aerospatial */
.skin-sc1 .background-encart {
  background-color: #25445C; }

.skin-sc1 .border-encart {
  border: 1px solid #25445C; }

.skin-sc1 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* agroalimentaire */
.skin-sc2 .background-encart {
  background-color: #23AB75; }

.skin-sc2 .border-encart {
  border: 1px solid #23AB75; }

.skin-sc2 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* automobile */
.skin-sc3 .background-encart {
  background-color: #222221; }

.skin-sc3 .border-encart {
  border: 1px solid #222221; }

.skin-sc3 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* eco-indiustrie */
.skin-sc4 .background-encart {
  background-color: #9DB51D; }

.skin-sc4 .border-encart {
  border: 1px solid #9DB51D; }

.skin-sc4 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* equipement-industriel */
.skin-sc5 .background-encart {
  background-color: #D31E2C; }

.skin-sc5 .border-encart {
  border: 1px solid #D31E2C; }

.skin-sc5 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* plasturgie */
.skin-sc6 .background-encart {
  background-color: #642F85; }

.skin-sc6 .border-encart {
  border: 1px solid #642F85; }

.skin-sc6 .text-color {
  /*color: nth($domaines_secteurs_colors, $i);*/
  font-family: 'myriad-pro-semi-bold'; }

/* mesures analyse */
.zone-th1 {
  background-color: #178BB7;
  border: 1px solid #178BB7; }
  .zone-th1:hover {
    background-color: #fff;
    color: #178BB7;
    transition: all 0.3s ease-in-out; }

/* procedes chimie bio agro */
.zone-th2 {
  background-color: #1EAA74;
  border: 1px solid #1EAA74; }
  .zone-th2:hover {
    background-color: #fff;
    color: #1EAA74;
    transition: all 0.3s ease-in-out; }

/* construction */
.zone-th3 {
  background-color: #E0760C;
  border: 1px solid #E0760C; }
  .zone-th3:hover {
    background-color: #fff;
    color: #E0760C;
    transition: all 0.3s ease-in-out; }

/* energie */
.zone-th4 {
  background-color: #FABD11;
  border: 1px solid #FABD11; }
  .zone-th4:hover {
    background-color: #fff;
    color: #FABD11;
    transition: all 0.3s ease-in-out; }

/* environement */
.zone-th5 {
  background-color: #9DB51D;
  border: 1px solid #9DB51D; }
  .zone-th5:hover {
    background-color: #fff;
    color: #9DB51D;
    transition: all 0.3s ease-in-out; }

/* genie industriel */
.zone-th6 {
  background-color: #1C8CBB;
  border: 1px solid #1C8CBB; }
  .zone-th6:hover {
    background-color: #fff;
    color: #1C8CBB;
    transition: all 0.3s ease-in-out; }

/* mecanique */
.zone-th7 {
  background-color: #D31E2C;
  border: 1px solid #D31E2C; }
  .zone-th7:hover {
    background-color: #fff;
    color: #D31E2C;
    transition: all 0.3s ease-in-out; }

/* sciences fondamentales */
.zone-th8 {
  background-color: #1F9A99;
  border: 1px solid #1F9A99; }
  .zone-th8:hover {
    background-color: #fff;
    color: #1F9A99;
    transition: all 0.3s ease-in-out; }

/* technologie de l information */
.zone-th9 {
  background-color: #C2A681;
  border: 1px solid #C2A681; }
  .zone-th9:hover {
    background-color: #fff;
    color: #C2A681;
    transition: all 0.3s ease-in-out; }

/* nanotechnologies */
.zone-th10 {
  background-color: #A41979;
  border: 1px solid #A41979; }
  .zone-th10:hover {
    background-color: #fff;
    color: #A41979;
    transition: all 0.3s ease-in-out; }

/* materiaux */
.zone-th11 {
  background-color: #642F85;
  border: 1px solid #642F85; }
  .zone-th11:hover {
    background-color: #fff;
    color: #642F85;
    transition: all 0.3s ease-in-out; }

/* archives */
.zone-th12 {
  background-color: #6f6f6f;
  border: 1px solid #6f6f6f; }
  .zone-th12:hover {
    background-color: #fff;
    color: #6f6f6f;
    transition: all 0.3s ease-in-out; }

/* electronique photonique */
.zone-th13 {
  background-color: #E4054F;
  border: 1px solid #E4054F; }
  .zone-th13:hover {
    background-color: #fff;
    color: #E4054F;
    transition: all 0.3s ease-in-out; }

/* transports */
.zone-th14 {
  background-color: #25445C;
  border: 1px solid #25445C; }
  .zone-th14:hover {
    background-color: #fff;
    color: #25445C;
    transition: all 0.3s ease-in-out; }

/* biomediacl pharma */
.zone-th15 {
  background-color: #233267;
  border: 1px solid #233267; }
  .zone-th15:hover {
    background-color: #fff;
    color: #233267;
    transition: all 0.3s ease-in-out; }

/* automatique robotique */
.zone-th16 {
  background-color: #959594;
  border: 1px solid #959594; }
  .zone-th16:hover {
    background-color: #fff;
    color: #959594;
    transition: all 0.3s ease-in-out; }

/* aerospatial */
.zone-sc1 {
  background-color: #25445C;
  border: 1px solid #25445C; }
  .zone-sc1:hover {
    background-color: #fff;
    color: #25445C;
    transition: all 0.3s ease-in-out; }

/* agroalimentaire */
.zone-sc2 {
  background-color: #23AB75;
  border: 1px solid #23AB75; }
  .zone-sc2:hover {
    background-color: #fff;
    color: #23AB75;
    transition: all 0.3s ease-in-out; }

/* automobile */
.zone-sc3 {
  background-color: #222221;
  border: 1px solid #222221; }
  .zone-sc3:hover {
    background-color: #fff;
    color: #222221;
    transition: all 0.3s ease-in-out; }

/* eco-indiustrie */
.zone-sc4 {
  background-color: #9DB51D;
  border: 1px solid #9DB51D; }
  .zone-sc4:hover {
    background-color: #fff;
    color: #9DB51D;
    transition: all 0.3s ease-in-out; }

/* equipement-industriel */
.zone-sc5 {
  background-color: #D31E2C;
  border: 1px solid #D31E2C; }
  .zone-sc5:hover {
    background-color: #fff;
    color: #D31E2C;
    transition: all 0.3s ease-in-out; }

/* plasturgie */
.zone-sc6 {
  background-color: #642F85;
  border: 1px solid #642F85; }
  .zone-sc6:hover {
    background-color: #fff;
    color: #642F85;
    transition: all 0.3s ease-in-out; }
