#page-edito {
  font-size: 15px; }
  #page-edito h2, #page-edito h3, #page-edito h4 {
    color: #EC1625;
    text-transform: uppercase;
    font-size: 17px;
    font-family: myriad-pro-semi-bold; }
  #page-edito h2 {
    margin-top: 30px; }
  #page-edito h3 {
    margin-top: 20px; }
  #page-edito h4 {
    margin-top: 10px; }
  #page-edito a {
    text-decoration: underline; }
    #page-edito a.btn-u {
      text-decoration: none; }
    #page-edito a:hover {
      color: #EC1625; }
  #page-edito strong, #page-edito b, #page-edito .conseiller_name {
    font-weight: normal;
    font-family: myriad-pro-semi-bold; }
  #page-edito .smaller {
    font-size: 10px;
    line-height: 12px; }
  #page-edito blockquote {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px; }
    #page-edito blockquote:before {
      content: "\201C";
      position: absolute;
      top: 25px;
      left: 25px;
      font-family: Arial, "Times New Roman";
      color: #EC1625;
      font-size: 35px; }
    #page-edito blockquote:after {
      content: "\201D";
      position: absolute;
      bottom: 10px;
      right: 25px;
      font-family: Arial, "Times New Roman", Mont;
      color: #EC1625;
      font-size: 35px; }
  #page-edito ul {
    list-style: none; }
    #page-edito ul + a {
      text-align: right;
      display: block;
      clear: both;
      font-size: 12px; }
  #page-edito a[href="#sommaire"] {
    text-align: right;
    display: block;
    clear: both;
    font-size: 12px; }
  #page-edito .content-edito > ul li, #page-edito .moteur-recherche > ul li, #page-edito .accordion-section-content > ul li {
    position: relative;
    margin: 0 0 5px 0; }
    #page-edito .content-edito > ul li:before, #page-edito .moteur-recherche > ul li:before, #page-edito .accordion-section-content > ul li:before {
      content: '>';
      position: absolute;
      top: 0px;
      left: -20px; }
  #page-edito iframe {
    margin: 10px 0 30px 0; }
  #page-edito .alignleft {
    float: left; }
  #page-edito img {
    margin-right: 20px !important; }
  #page-edito .accordion #sommaire {
    padding: 0; }
    #page-edito .accordion #sommaire li {
      float: left; }
      #page-edito .accordion #sommaire li a {
        padding: 10px 15px;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 10px;
        font-size: 13px;
        letter-spacing: 0.75px;
        background: #e2e1e1;
        text-decoration: none; }
        #page-edito .accordion #sommaire li a:hover {
          background: #EC1625;
          color: #ffffff;
          text-decoration: none; }
  #page-edito .accordion-section-content, #page-edito .accordion-section {
    clear: both; }
  #page-edito .grid-3-small-1-tiny-1, #page-edito .liste_partenaires {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    padding: 0; }
    #page-edito .grid-3-small-1-tiny-1 li, #page-edito .liste_partenaires li {
      width: calc(100% * 1 / 3 - 1em - .01px);
      float: left;
      line-height: 130%;
      border-bottom: 1px dashed #ccc;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-left: 1em;
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      text-rendering: auto;
      margin-bottom: 20px; }
      #page-edito .grid-3-small-1-tiny-1 li a, #page-edito .liste_partenaires li a {
        text-decoration: none; }
        #page-edito .grid-3-small-1-tiny-1 li a .infos, #page-edito .liste_partenaires li a .infos {
          padding: 0 35px 0 0; }
      #page-edito .grid-3-small-1-tiny-1 li:before, #page-edito .liste_partenaires li:before {
        content: "" !important; }
  #page-edito #tabs-2 {
    display: none; }
