@media print {
  a[href]:after {
    content: none !important; }

  body {
    margin-top: 0 !important; }

  .header,
  .navbar,
  .navbar-fixed-top,
  .fp,
  #footer,
  .boxPub,
  #topcontrol,
  #sticky,
  #reagir-article,
  .col-droite-actu,
  .hidden-print,
  #footer-v2,
  #bandeau-cookie,
  .sidebar-nav-v1,
  .title-collapse:after {
    display: none!important; }

  .inner-results .list-inline {
    margin: 0;
    padding: 0; }

  h2 {
    margin: -100px 0 0 0;
    padding: 0; }

  .inner-results:first-child {
    margin: -50px 0 0 0; }

  .inner-results h3,
  .inner-results .description {
    margin: 10px 0 0 5px; }

  .inner-results .dark-grey-title {
    margin: 0 0 0 5px; }

  .content-article.no-gutters-right {
    min-height:auto!important;
  }

  .thematique a.color-white,
  .ressources-subscription {
    color:#000000!important;
  }
  .color-white {
    color:#4d5356!important;
  }
  li[class*="telechargement-infos-"] {
    width:50%;
  }
  .block-link-hover > .col-sm-3,
  .block-link-hover > .col-md-3,
  .encart-info-compte > .col-sm-3 {
    width:25%;
  }
  .block-link-hover > .col-sm-4,
  .encart-info-compte > .col-sm-5 {
    width:33%;
  }
}