@font-face {
  font-family: 'DIN-Alternate-medium';
  src: url("../fonts/din_alternate_medium-webfont.eot");
  src: url("../fonts/din_alternate_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_alternate_medium-webfont.woff") format("woff"), url("../fonts/din_alternate_medium-webfont.ttf") format("truetype"), url("../fonts/din_alternate_medium-webfont.svg#din_alternate_medium-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

.container-fluid {
  max-width: 1024px; }

iframe {
  border: none; }

.buton-blue {
  background: #1d729b;
  background: -moz-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d729b), color-stop(100%, #196185));
  background: -webkit-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -o-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -ms-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: linear-gradient(to bottom, #1d729b 0%, #196185 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d729b', endColorstr='#196185', GradientType=0);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 14px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block; }
  .buton-blue .text {
    letter-spacing: 1px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    float: left;
    text-align: center;
    display: block;
    line-height: 18px; }
  .buton-blue:hover, .buton-blue:focus, .buton-blue:active {
    color: #ffffff; }

#myti-short-list {
  border: 1px solid #DADADA;
  font-weight: bold;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #f5f5f5), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -ms-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: linear-gradient(to bottom, #f5f5f5 2%, #d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d0d0d0',GradientType=0 );
  position: absolute;
  z-index: 9999;
  zoom: 1;
  right: 5px;
  text-align: left;
  color: #333;
  text-transform: none;
  box-shadow: 0px 5px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
  padding: 16px;
  width: 300px;
  display: none; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.no-gutters-left {
  padding-left: 0; }

.no-gutters-right {
  padding-right: 0; }

.no-gutters {
  padding-left: 0;
  padding-right: 0; }

.fleche, img.zoom {
  position: absolute; }

img.zoom {
  bottom: 0;
  right: 0; }

.pousse {
  left: 295px;
  position: relative; }

.border-red {
  border: 1px solid #ea2336; }

div.border-red {
  position: absolute;
  top: -5px;
  left: 40px;
  height: 119px;
  width: 88px;
  z-index: 1; }

.picto-article-temoin {
  background: url("../images/picto-article-temoin.png") no-repeat center left transparent;
  height: 52px;
  display: block;
  float: left;
  color: #697277; }

.picto-article-temoin:hover {
  text-decoration: underline;
  color: #ea2336; }

.header .navbar-toggle {
  margin-top: 8px !important; }

.search-free p {
  display: none; }

/*RECHERCHE AVANCEE*/
.recherche-avancee .bloc-toogle span,
.filtre .bloc-toogle span {
  background: #646d72;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 14px; }

.recherche-avancee .section-title,
.filtre .section-title {
  text-transform: uppercase;
  color: #ec1625;
  font-size: 13px;
  font-weight: bold;
  margin: 20px 0 0 0; }

.recherche-avancee .title-element,
.filtre .title-element {
  background: #717984;
  color: #FFF !important;
  margin: 0;
  paddng: 10px; }

.recherche-avancee label,
.filtre label {
  font-size: 13px;
  color: #4d5356;
  width: 100%; }

.recherche-avancee .form-group-fieldset,
.filtre .form-group-fieldset {
  margin: 0;
  padding: 0; }

.recherche-avancee .form-group,
.filtre .form-group {
  margin: 10px 30px 0;
  padding: 0; }
  .recherche-avancee .form-group select,
  .filtre .form-group select {
    margin: 0;
    width: 100%; }

.recherche-avancee .form-control,
.filtre .form-control {
  height: 29px; }

.recherche-avancee .syntaxe,
.filtre .syntaxe {
  font-size: 10px;
  text-transform: none; }

.recherche-avancee .syntaxe-or span,
.filtre .syntaxe-or span {
  display: block; }

.recherche-avancee .btn-u,
.filtre .btn-u {
  margin: 20px 0 0 10px; }

.recherche-avancee .but-recherche,
.filtre .but-recherche {
  display: block;
  margin: 30px auto 20px;
  padding: 5px 25px;
  width: 83%; }
  .recherche-avancee .but-recherche span,
  .filtre .but-recherche span {
    background: url("../images/arrow-red-right-v4.png") no-repeat 0 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px 0 0 0;
    padding: 0;
    float: left; }
  .recherche-avancee .but-recherche p,
  .filtre .but-recherche p {
    float: left; }

.recherche-avancee .abo,
.filtre .abo {
  color: #1b8bbb;
  margin: -2px 0 0 0; }
  .recherche-avancee .abo span,
  .filtre .abo span {
    margin: 1px 0 0 5px; }

.results-number h2 {
  font-size: 20px !important; }

.recherche-avancee .syntaxe {
  cursor: pointer;
  position: relative;
  display: block; }
  .recherche-avancee .syntaxe .syntaxe-or {
    display: none; }

.recherche-avancee .syntaxe:hover .syntaxe-or {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 13px;
  color: #666;
  padding: 10px;
  width: 250px;
  z-index: 999999;
  border: 1px solid #697277;
  background-color: #fff; }

.sidebar-nav-v1 .filtre ul {
  margin: 0;
  padding: 0 0 0 10px;
  background: #FFF; }
  .sidebar-nav-v1 .filtre ul ul {
    margin: 0;
    padding: 0 0 0 20px;
    background: #FFF; }
    .sidebar-nav-v1 .filtre ul ul li {
      background: #FFF; }
      .sidebar-nav-v1 .filtre ul ul li a {
        border: none;
        color: #4d5356;
        font-size: 13px;
        margin: 0;
        padding: 0;
        background: none;
        display: inline; }
  .sidebar-nav-v1 .filtre ul .section-title {
    color: #ec1625;
    margin: 0; }
    .sidebar-nav-v1 .filtre ul .section-title a {
      text-transform: uppercase;
      color: #ec1625;
      font-size: 13px;
      font-weight: bold;
      margin: 0; }
    .sidebar-nav-v1 .filtre ul .section-title li:hover {
      color: #ec1625; }
    .sidebar-nav-v1 .filtre ul .section-title a {
      color: #ec1625; }

.sidebar-nav-v1 .filtre .form-group {
  margin: 0;
  padding: 0; }

.sidebar-nav-v1 .filtre hr {
  margin: 15px 0; }

.border-grey {
  border: 1px solid #697277; }

.color-f4f3f3 {
  background-color: #f4f3f3; }

.inner-results {
  clear: both;
  display: inline-block; }
  .inner-results .inner-results .checkbox input {
    margin: 6px 8px 0 0; }
  .inner-results p {
    font-size: 14px !important;
    font-family: 'Myriad Pro', Arial, serif;
    color: #4d5356;
    min-height: auto !important;
    margin: 0 0 5px 0; }
  .inner-results div {
    font-size: 13px;
    font-family: 'Myriad Pro', Arial, serif;
    color: #4d5356;
    min-height: auto !important; }
  .inner-results .description {
    font-size: 13px !important;
    margin: -10px 0 0 45px;
    padding: 0; }
  .inner-results .ez_content h2 {
    font-size: 12px;
    font-family: 'Myriad Pro', Arial, serif;
    color: #4d5356; }
  .inner-results h3 {
    margin: -5px 0 0 5px;
    padding: 0; }
    .inner-results h3 a {
      font-size: 15px !important; }
    .inner-results h3 a:hover {
      color: #EC1625 !important;
      text-decoration: underline; }

.inner-results.article {
  text-align: left; }

.results-search-sep {
  margin: 20px 0 30px 0; }

.recherche-inside .form-control {
  width: 87%;
  height: 25px;
  border: none; }

.recherche-inside .btn-search-inside {
  height: 25px;
  width: 25px;
  padding-bottom: 2px; }
  .recherche-inside .btn-search-inside span {
    background: url("../images/search-picto-v2.png") no-repeat 0 0;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: -6px 0 0 -13px;
    padding: 0; }

.checkbox input[type="checkbox"] {
  margin-left: 0; }

.pertinence {
  width: 50%; }

.ico-search {
  background: url("../images/icone-recherche.png") no-repeat 0 0;
  width: 35px;
  height: 23px;
  margin: 0 0 0 30px;
  padding: 0;
  display: inline-block; }

.visu_real_bd .ico-search {
  background: none;
  position: relative;
  margin: -10px 0 0 -7px;
  width: 60px;
  height: 55px; }

.visu_real_bd .decalage_visu_real_bd li {
  margin: 0 0 0 5px;
  font-size: 13px; }

.visu_real_formation .ico-search {
  background: none;
  position: relative;
  margin: 0 0 0 -7px;
  width: 60px;
  height: 50px; }

.visu_real_conseil .ico-search {
  background: none;
  position: relative;
  margin: -10px 0 0 -5px;
  width: 55px;
  height: 45px; }

.archive .ico-search {
  background-position: 0 0; }

.archive .ico-search:hover {
  background-position: -39px 0px; }

.article .ico-search {
  background-position: 0 -31px; }

.article .ico-search:hover {
  background-position: -39px -31px; }

.fiche .ico-search {
  background-position: 0 -59px; }

.fiche .ico-search:hover {
  background-position: -39px -59px; }

.actu .ico-search {
  background-position: 0 -91px; }

.actu .ico-search:hover {
  background-position: -39px -91px; }

.wp .ico-search {
  background-position: 0 -121px; }

.wp .ico-search:hover {
  background-position: -39px -121px; }

.dossier .ico-search {
  background-position: 0 -150px; }

.dossier .ico-search:hover {
  background-position: -39px -150px; }

.riskev .ico-search {
  background-position: 0 -178px; }

.riskev .ico-search:hover {
  background-position: -39px -178px; }

.formation .ico-search {
  background-position: 0 -200px; }

.formation .ico-search:hover {
  background-position: -39px -200px; }

.conference .ico-search {
  background-position: 0 -207px; }

.conference .ico-search:hover {
  background-position: -39px -207px; }

.outil .ico-search {
  background-position: 0 0; }

.outil .ico-search:hover {
  background-position: -39px 0; }

.actions-select-all input#actions-select-all {
  margin-left: -20px; }

.pagination {
  display: block;
  margin: 0 15%; }
  .pagination li.pagination-left a,
  .pagination li.pagination-right a,
  .pagination li.pagination-left-first a,
  .pagination li.pagination-right-end a {
    border: none;
    background: none; }
  .pagination li:first-child a,
  .pagination li:last-child a {
    margin: 0;
    padding: 5px 15px; }
  .pagination .active a,
  .pagination a:hover a {
    background: #ec1625;
    border: 1px solid #ec1625; }

.fp ul .favoris {
  margin: 15px 15px 0 0; }

.fp ul .print {
  margin: 15px -40px 0 10px; }

#wrap-favoris .boxFavoris {
  display: none; }

#wrap-history .boxHistory {
  display: none; }

#wrap-favoris:hover .boxFavoris {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 13px;
  color: #666;
  padding: 10px;
  width: 330px;
  z-index: 999999;
  border: 1px solid #697277;
  background-color: #fff; }
  #wrap-favoris:hover .boxFavoris .close {
    top: -2px;
    right: 0;
    color: #646d72;
    background: none;
    opacity: 1; }
  #wrap-favoris:hover .boxFavoris span {
    background: url("../images/favoris-picto.png") no-repeat 0 0;
    width: 100%;
    margin: 0;
    padding: 0 0 0 25px; }
    #wrap-favoris:hover .boxFavoris span a:hover {
      color: #ec1625;
      text-decoration: underline; }
  #wrap-favoris:hover .boxFavoris span:hover {
    background: url("../images/favoris-picto-hover.png") no-repeat 0 0; }
  #wrap-favoris:hover .boxFavoris .title-favoris {
    background: none; }
  #wrap-favoris:hover .boxFavoris .title-favoris:hover {
    background: none; }

#wrap-history:hover .boxHistory {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 13px;
  color: #666;
  padding: 10px;
  width: 250px;
  z-index: 999999;
  border: 1px solid #697277;
  background-color: #fff; }
  #wrap-history:hover .boxHistory .close {
    top: -2px;
    right: 0;
    color: #646d72;
    background: none;
    opacity: 1; }
  #wrap-history:hover .boxHistory a {
    height: auto;
    color: #4d5356;
    font-size: 13px; }
  #wrap-history:hover .boxHistory a:hover {
    color: #ec1625;
    text-decoration: underline;
    cursor: pointer; }

.up-ul li {
  color: #4d5356;
  font-size: 13px; }
  .up-ul li span {
    font-size: 13px;
    color: #ec1625;
    font-weight: bold; }

.list-group-item:first-child,
.list-group-item:last-child {
  background: #697277;
  color: #FFF;
  position: relative; }

.list-toggle a:after {
  color: #fff;
  content: "\f107";
  font-size: 2.5em;
  top: -9px; }

.list-toggle.active a:after {
  color: #fff;
  content: "\f106";
  font-size: 2.5em;
  top: -9px; }

.tab-search {
  height: 45px;
  margin: 0; }
  .tab-search label,
  .tab-search a {
    font-size: 13px;
    height: 30px;
    display: inline-block; }
  .tab-search li {
    font-size: 13px; }
  .tab-search li select {
    font-size: 13px;
    width: 50%; }

.header-v1 .form-control {
  height: 40px; }
