@charset "UTF-8";
@font-face {
  font-family: 'DIN-Alternate-medium';
  src: url("../fonts/din_alternate_medium-webfont.eot");
  src: url("../fonts/din_alternate_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din_alternate_medium-webfont.woff") format("woff"), url("../fonts/din_alternate_medium-webfont.ttf") format("truetype"), url("../fonts/din_alternate_medium-webfont.svg#din_alternate_medium-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin-top: 143px; }

.background-blanc {
  background: #ffffff; }

.background-blue {
  background: #1B8BBB; }

.background-jaune {
  background: #fff5b5; }

.container-fluid {
  max-width: 1024px; }

iframe {
  border: none; }

.pointer {
  cursor: pointer; }

.buton-blue {
  background: #1d729b;
  background: -moz-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d729b), color-stop(100%, #196185));
  background: -webkit-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -o-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: -ms-linear-gradient(top, #1d729b 0%, #196185 100%);
  background: linear-gradient(to bottom, #1d729b 0%, #196185 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d729b', endColorstr='#196185', GradientType=0);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 14px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block; }
  .buton-blue .text {
    letter-spacing: 1px;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    float: left;
    text-align: center;
    display: block;
    line-height: 18px; }
  .buton-blue:hover, .buton-blue:focus, .buton-blue:active {
    color: #ffffff; }

#myti-short-list {
  border: 1px solid #DADADA;
  font-weight: bold;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #f5f5f5), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: -ms-linear-gradient(top, #f5f5f5 2%, #d0d0d0 100%);
  background: linear-gradient(to bottom, #f5f5f5 2%, #d0d0d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d0d0d0',GradientType=0 );
  position: absolute;
  z-index: 9999;
  zoom: 1;
  right: 5px;
  text-align: left;
  color: #333;
  text-transform: none;
  box-shadow: 0px 5px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
  padding: 16px;
  width: 300px;
  display: none; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.no-gutters-left {
  padding-left: 0; }

.no-gutters-right {
  padding-right: 0; }

.no-gutters {
  padding-left: 0;
  padding-right: 0; }

.fleche, img.zoom {
  position: absolute; }

img.zoom {
  bottom: 0;
  right: 0; }

.pousse {
  left: 295px;
  position: relative; }

.border-red {
  border: 1px solid #EC1625;
  z-index: 2;
  position: relative; }

.shadow-red {
  -moz-box-shadow: 10px -10px 0px 0px #EC1625;
  -webkit-box-shadow: 10px -10px 0px 0px #EC1625;
  -o-box-shadow: 10px -10px 0px 0px #EC1625;
  box-shadow: 10px -10px 0px 0px #EC1625;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#EC1625, Direction=45, Strength=0);
  margin: 0 auto; }

div.border-red {
  position: absolute;
  top: -5px;
  left: 40px;
  height: 119px;
  width: 88px;
  z-index: 1; }

.picto-article-temoin {
  background: url("../images/picto-article-temoin.png") no-repeat center left transparent;
  height: 52px;
  display: block;
  float: left;
  color: #697277; }

.picto-article-temoin:hover {
  text-decoration: underline;
  color: #EC1625; }

.header .navbar-toggle {
  margin-top: 8px !important; }

.search-free p {
  display: none; }

/*RECHERCHE AVANCEE*/
.recherche-avancee .bloc-toogle span,
.filtre .bloc-toogle span {
  background: #646d72;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 14px; }

.recherche-avancee .section-title,
.filtre .section-title {
  text-transform: uppercase;
  color: #EC1625;
  font-size: 13px;
  font-weight: bold;
  margin: 20px 0 0 0; }

.recherche-avancee .title-element,
.filtre .title-element {
  background: #717984;
  color: #FFF !important;
  margin: 0;
  font-size: 14px; }

.recherche-avancee label,
.filtre label {
  font-size: 13px;
  color: #4d5356;
  width: 100%; }

.recherche-avancee .form-group-fieldset,
.filtre .form-group-fieldset {
  margin: 0;
  padding: 0; }

.recherche-avancee .form-group,
.filtre .form-group {
  margin: 10px 30px 0;
  padding: 0; }
  .recherche-avancee .form-group select,
  .filtre .form-group select {
    margin: 0;
    width: 100%; }

.recherche-avancee .form-control,
.filtre .form-control {
  height: 33px; }

.recherche-avancee .syntaxe,
.filtre .syntaxe {
  font-size: 10px;
  text-transform: none; }

.recherche-avancee .syntaxe-or span,
.filtre .syntaxe-or span {
  display: block; }

.recherche-avancee .abo,
.filtre .abo {
  color: #1b8bbb;
  margin: -2px 0 0 0; }
  .recherche-avancee .abo span,
  .filtre .abo span {
    margin: 1px 0 0 5px; }

.recherche-avancee .btn-search,
.filtre .btn-search {
  background: none;
  border: none;
  display: block;
  margin: 20px auto; }
  .recherche-avancee .btn-search .btn-u.btn-u-red,
  .filtre .btn-search .btn-u.btn-u-red {
    background: #EC1625;
    border: 1px solid #EC1625; }

.results-number h2 {
  font-size: 20px !important; }

.recherche-avancee .input-group {
  width: 100%; }
  .recherche-avancee .input-group input {
    background: none; }
  .recherche-avancee .input-group span {
    position: absolute;
    top: 0;
    right: 12px;
    height: 33px;
    border-left: 1px solid #ccc;
    border-right: 0; }
    .recherche-avancee .input-group span i {
      top: 3px;
      position: relative; }

.recherche-avancee .syntaxe {
  cursor: pointer;
  position: relative;
  display: block;
  color: #697277; }
  .recherche-avancee .syntaxe .syntaxe-or {
    display: none; }

.recherche-avancee .syntaxe:hover .syntaxe-or {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 13px;
  color: #666;
  padding: 10px;
  width: 250px;
  z-index: 999999;
  border: 1px solid #697277;
  background-color: #fff; }

.suggest-word {
  margin-top: 20px; }
  .suggest-word a {
    text-decoration: underline !important;
    color: #EC1625; }

.sidebar-nav-v1 ul li span.badge {
  margin: -4px 0 0 5px !important; }

.sidebar-nav-v1 .checkbox label {
  padding-left: 10px;
  line-height: 1.6; }

.sidebar-nav-v1 .filtre ul {
  margin: 0;
  padding: 0;
  background: #FFF; }
  .sidebar-nav-v1 .filtre ul ul {
    margin: 0;
    padding: 0 0 0 10px;
    background: #FFF; }
    .sidebar-nav-v1 .filtre ul ul li {
      background: #FFF; }
      .sidebar-nav-v1 .filtre ul ul li a {
        border: none;
        color: #4d5356;
        font-size: 13px;
        margin: 0;
        padding: 0;
        background: none;
        display: inline; }
    .sidebar-nav-v1 .filtre ul ul ul {
      padding: 0 0 0 30px; }
  .sidebar-nav-v1 .filtre ul .section-title {
    color: #EC1625;
    margin: 0; }
    .sidebar-nav-v1 .filtre ul .section-title a {
      text-transform: uppercase;
      color: #EC1625;
      font-size: 13px;
      font-weight: bold;
      margin: 0; }
    .sidebar-nav-v1 .filtre ul .section-title li:hover {
      color: #EC1625; }
    .sidebar-nav-v1 .filtre ul .section-title a {
      color: #EC1625; }

.sidebar-nav-v1 .filtre .form-group {
  margin: 0;
  padding: 0; }

.sidebar-nav-v1 .filtre hr {
  margin: 15px 0; }

.sidebar-nav-v1 .filtre .but-recherche {
  width: 37%;
  margin: 10px auto 20px; }

.sidebar-nav-v1 .panel {
  border: none;
  margin: 0;
  padding: 0; }
  .sidebar-nav-v1 .panel .panel-title {
    background: #717984;
    color: #FFF !important;
    margin: 0;
    padding: 0;
    height: 40px;
    position: relative; }
    .sidebar-nav-v1 .panel .panel-title a {
      padding: 10px 30px 8px 10px; }
    .sidebar-nav-v1 .panel .panel-title a:hover {
      color: #FFF; }
    .sidebar-nav-v1 .panel .panel-title #flecheSearch {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 30px; }
    .sidebar-nav-v1 .panel .panel-title #flecheFiltre {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 30px; }

.border-grey {
  border: 1px solid #697277; }

.border-grey-light {
  border: 1px solid #C6C6C6; }

.color-f4f3f3 {
  background-color: #f4f3f3; }

.inner-results {
  clear: both;
  display: inline-block;
  padding-left: 10px;
  position: relative; }
  .inner-results p {
    font-size: 14px !important;
    font-family: 'Myriad Pro', Arial, serif;
    color: #4d5356;
    min-height: auto !important;
    margin: 0 0 5px 0; }
  .inner-results div {
    font-size: 13px;
    font-family: 'Myriad Pro', Arial, serif;
    color: #4d5356;
    min-height: auto !important; }
  .inner-results .no-padding div {
    position: absolute;
    top: 0;
    left: 0; }
  .inner-results .no-padding ul {
    margin-left: 64px;
    margin-top: 10px;
    margin-bottom: 15px; }
  .inner-results .description {
    font-size: 13px !important;
    margin: -10px 0 0 45px;
    padding: 0; }
  .inner-results .ez_content h2 {
    font-size: 12px;
    font-family: 'Myriad Pro', Arial, serif;
    color: #4d5356; }
  .inner-results h3 {
    margin: -5px 0 5px 0;
    padding: 0; }
    .inner-results h3 a {
      font-size: 15px !important; }
    .inner-results h3 a:hover {
      color: #EC1625 !important;
      text-decoration: underline; }

.linkOnglet {
  text-decoration: underline; }
  .linkOnglet:hover {
    color: #EC1625 !important;
    text-decoration: underline; }

.inner-results.article {
  text-align: left; }

.results-search-sep {
  margin: 20px 0 30px 0; }

.recherche-inside {
  margin: 0; }
  .recherche-inside .form-control {
    width: 87% !important;
    float: left;
    height: 25px;
    font-size: 13px;
    padding: 4px 10px; }
  .recherche-inside .btn-search-inside {
    height: 25px;
    width: 25px;
    padding-bottom: 2px; }
    .recherche-inside .btn-search-inside span {
      background: url("../images/search-picto-v2.png") no-repeat 0 0;
      width: 25px;
      height: 25px;
      display: inline-block;
      margin: -6px 0 0 -6px;
      padding: 0; }

.checkbox input[type="checkbox"] {
  margin: 0;
  height: 12px;
  width: 12px;
  position: relative; }

.search-results {
  z-index: 2;
  background: #fff; }

.resetSearch {
  text-align: center;
  font-size: 12px;
  background: #fff;
  border: 0;
  padding: 8px 10px !important; }

.ico-search {
  background: url("../images/icone-recherche.png") no-repeat 0 0;
  width: 35px;
  height: 26px;
  margin: 0 11px 0 25px;
  padding: 0;
  display: inline-block;
  top: 4px;
  position: relative; }

.visu_real_bd .ico-search {
  background: none;
  position: relative;
  height: auto;
  margin: 0 9px 0 25px; }

.visu_real_bd .decalage_visu_real_bd {
  padding-left: 0; }

.visu_real_formation .ico-search {
  background: none;
  position: relative;
  margin: 0 0 0 25px;
  height: auto; }

.visu_real_conseil .ico-search {
  background: none;
  position: relative;
  height: auto; }

.visu_real_part .ico-search {
  background: none;
  position: relative;
  margin: -10px 0 0 0;
  width: 46px;
  height: 46px; }

.archive .ico-search {
  background-position: 0 0; }
  .archive .ico-search.red {
    background-position: -39px 0px; }

.archive .ico-search:hover {
  background-position: -39px 0px; }

.archive div:first-child ul li:first-child {
  font-weight: bold; }

.article .ico-search {
  background-position: 0 -29px;
  top: -4px !important; }
  .article .ico-search.red {
    background-position: -39px -29px; }

.article a span {
  top: 0;
  line-height: 20px;
  overflow: hidden; }

.article .ico-search:hover {
  background-position: -39px -29px; }

.article.inner-results .ico-search {
  top: 4px !important; }

.article.inner-results a span {
  display: inline; }

.article.zoning:hover a p span.ico-search {
  background-position: -39px -29px; }

.article.zoning a:hover {
  text-decoration: none; }

.article.zoning a p span.titre {
  text-overflow: ellipsis;
  max-width: 530px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  position: relative;
  padding: 0 0 0 77px !important; }

.article div:first-child ul li:first-child {
  font-family: myriad-pro-bold;
  padding-left: 0;
  color: #697277; }

.article div:first-child ul .type-fichier {
  background-color: #E2E1E1;
  color: #4D5356; }

.fiche .ico-search {
  background-position: 0 -59px; }
  .fiche .ico-search.red {
    background-position: -39px -59px; }

.fiche .ico-search:hover {
  background-position: -39px -59px; }

.fiche a span {
  top: 0; }

.fiche.zoning:hover a p span.ico-search {
  background-position: -39px -59px; }

.fiche.zoning a:hover {
  text-decoration: none; }

.fiche.zoning a p span.titre {
  text-overflow: ellipsis;
  max-width: 530px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  position: relative;
  padding: 0 0 0 77px !important; }

.fiche div:first-child ul li:first-child {
  font-family: myriad-pro-bold;
  padding-left: 0;
  color: #697277; }

.fiche div:first-child ul .type-fichier {
  background-color: #E2E1E1;
  color: #4D5356; }

.align-r, .toppage {
  display: none; }

.box #top-toc .ttre {
  margin: 0;
  color: #EC1625;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 17px;
  font-family: myriad-pro-semi-bold; }

.box .desc a:hover {
  color: #EC1625;
  text-decoration: underline; }

.box .titre-contenu, .box .marge-l_20.bleu {
  margin-top: 20px;
  margin-bottom: 5px; }
  .box .titre-contenu a, .box .marge-l_20.bleu a {
    color: #EC1625;
    font-size: 15px;
    font-family: myriad-pro-semi-bold; }
    .box .titre-contenu a:hover, .box .marge-l_20.bleu a:hover {
      text-decoration: none;
      cursor: default; }

.cont-niv1 .NIV1 {
  margin: 0;
  color: #EC1625;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 17px;
  font-family: myriad-pro-semi-bold; }

.cont-niv1 .cont-mod {
  margin: 0 0 0 20px; }
  .cont-niv1 .cont-mod ul li {
    list-style-position: outside;
    list-style-type: none;
    list-style-image: url(../images/bullet_arrow_red_smll.png); }

.cont-niv2 .NIV2 {
  margin: 0;
  color: #EC1625;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: myriad-pro-semi-bold; }

.cont-niv2 .MOD {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: myriad-pro-semi-bold; }

.ul-toc {
  width: 100%; }
  .ul-toc td {
    display: block;
    height: auto !important; }
    .ul-toc td.plan-de-page span {
      color: #EC1625;
      text-transform: uppercase;
      font-family: myriad-pro-semi-bold;
      font-size: 17px; }
  .ul-toc ul {
    list-style: none;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #c6c6c6; }
    .ul-toc ul li {
      padding-top: 5px; }
      .ul-toc ul li:first-child {
        padding-top: 0; }

.bg-sommaire {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c6c6c6; }
  .bg-sommaire .marge-l_20 {
    margin-left: 80px; }
  .bg-sommaire .marge-l_40 {
    margin-left: 40px; }
  .bg-sommaire .marge-l_60 {
    margin-left: 60px; }
  .bg-sommaire .gras {
    padding-top: 5px;
    display: inline-block; }
    .bg-sommaire .gras:first-child {
      padding-top: 0; }

.actu .ico-search {
  background-position: 0 -91px; }

.actu .ico-search:hover {
  background-position: -39px -91px; }

.wp .ico-search {
  background-position: 0 -121px; }

.wp .ico-search:hover {
  background-position: -39px -121px; }

.dossier .ico-search {
  background-position: 0 -150px; }

.dossier .ico-search:hover {
  background-position: -39px -150px; }

.riskev .ico-search {
  background-position: 0 -178px;
  margin: -2px 0 0 0; }

.riskev .ico-search:hover {
  background-position: -39px -178px; }

.formation .ico-search {
  background-position: 0 -200px; }

.formation .ico-search:hover {
  background-position: -39px -200px; }

.conference .ico-search {
  background-position: 0 -207px; }

.conference .ico-search:hover {
  background-position: -39px -207px; }

.outil .ico-search {
  background-position: 0 -232px; }

.outil .ico-search:hover {
  background-position: -39px -232px; }

input#actions-select-all {
  margin-top: 3px; }

input.actions-select {
  position: absolute;
  bottom: 7px;
  left: 0; }

.pagination {
  margin: 0; }
  .pagination li.pagination-left a,
  .pagination li.pagination-right a,
  .pagination li.pagination-left-first a,
  .pagination li.pagination-right-end a {
    border: none;
    background: none; }
  .pagination li:first-child a,
  .pagination li:last-child a {
    margin: 0;
    padding: 5px 15px; }
  .pagination .active a,
  .pagination a:hover a {
    background: #EC1625;
    border: 1px solid #EC1625; }

.fp ul .favoris {
  margin: 15px 15px 0 0; }

.fp ul .print {
  margin: 15px -40px 0 10px; }

#wrap-favoris > a,
#wrap-history > a {
  padding: 3px 0 0 0; }

#wrap-favoris .boxFavoris {
  display: none; }

#wrap-history .boxHistory {
  display: none; }

#wrap-favoris:hover .boxFavoris {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 13px;
  color: #666;
  padding: 15px 10px;
  width: 330px;
  z-index: 999999;
  border: 1px solid #697277;
  background-color: #fff; }
  #wrap-favoris:hover .boxFavoris .close {
    top: -2px;
    right: 0;
    color: #646d72;
    background: none;
    opacity: 1; }
  #wrap-favoris:hover .boxFavoris .title-favoris {
    display: inline-block;
    margin: 0 0 10px 0; }
  #wrap-favoris:hover .boxFavoris ul span:first-child {
    background: url("../images/favoris-picto.png") no-repeat 0 0;
    margin: 0;
    padding: 0 0 0 25px; }
    #wrap-favoris:hover .boxFavoris ul span:first-child:hover {
      background: url("../images/favoris-picto-hover.png") no-repeat 0 0; }
  #wrap-favoris:hover .boxFavoris ul span a {
    height: auto; }
  #wrap-favoris:hover .boxFavoris ul span a:hover {
    color: #EC1625;
    text-decoration: underline; }
  #wrap-favoris:hover .boxFavoris ul span a.supr {
    float: right; }
  #wrap-favoris:hover .boxFavoris .title-favoris {
    background: none; }
  #wrap-favoris:hover .boxFavoris .title-favoris:hover {
    background: none; }

#wrap-history:hover .boxHistory {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 13px;
  color: #666;
  padding: 10px;
  width: 250px;
  z-index: 999999;
  border: 1px solid #697277;
  background-color: #fff; }
  #wrap-history:hover .boxHistory .close {
    top: -2px;
    right: 0;
    color: #646d72;
    background: none;
    opacity: 1; }
  #wrap-history:hover .boxHistory a {
    height: auto;
    color: #4d5356;
    font-size: 13px; }
  #wrap-history:hover .boxHistory a:hover {
    color: #EC1625;
    text-decoration: underline;
    cursor: pointer; }

.up-ul li {
  color: #4d5356;
  font-size: 13px;
  display: inline; }
  .up-ul li span {
    font-size: 13px;
    color: #EC1625;
    font-weight: bold; }
  .up-ul li:first-child {
    padding-left: 0; }

.up-ul.list-inline {
  margin-left: 0; }

.related-search .list-group-item:first-child, .related-search .list-group-item:last-child {
  background: #697277;
  color: #FFF;
  position: relative; }

.tab-search {
  height: 45px;
  margin: 0; }
  .tab-search label,
  .tab-search a {
    font-size: 13px;
    height: 30px;
    display: inline-block;
    margin-top: 2px;
    line-height: 21px; }
  .tab-search li {
    font-size: 13px; }
  .tab-search li select {
    font-size: 13px;
    width: 50%; }
  .tab-search li select.pertinence {
    width: 75%; }
  .tab-search .checkbox label {
    padding-left: 10px; }

.tab-search-top label, .tab-search-top a {
  margin-top: 0; }

.header-v1 .form-control {
  height: 30px !important; }
  .header-v1 .form-control:focus {
    border-right: none; }

.header-v1 .btn-color {
  padding: 2px 13px 3px;
  background: none; }
  .header-v1 .btn-color#card:hover i {
    color: #74b504; }
  .header-v1 .btn-color#login .badge {
    margin: 0 0 0 5px; }
  .header-v1 .btn-color#login:hover .title-icon > i {
    color: #1b8bbb; }
  .header-v1 .btn-color .dropdown-menu {
    margin-top: 0 !important; }

#no-result {
  width: 100%;
  background: #e2e1e1;
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 20px 15px; }
  #no-result p {
    margin: 10px 0 0 0;
    min-height: auto !important; }
  #no-result ul {
    margin: 0;
    padding: 0 0 0 25px; }

.tab-search-top {
  background: #E2E1E1; }

#design-webcallback-popin .ui-dialog,
#design-webcallback-popin .ui-dialog-content {
  overflow: hidden !important; }

#webcallback-popin button.btn-search {
  background: none;
  border: none;
  display: block;
  margin: 20px auto; }
  #webcallback-popin button.btn-search .btn-u.btn-u-red {
    background: #EC1625;
    border: 1px solid #EC1625; }

.list-toggle.active a:after {
  display: none !important; }

.list-toggle a::after {
  display: none !important; }

.loading-leads {
  text-align: center; }

.highlight {
  background: #697277 !important;
  color: #fff !important;
  padding: 1px 2px 0 !important; }

.mark-translation {
  font-weight: bold;
  position: relative;
  background: #ebebeb;
  color: #8ea14a; }
  .mark-translation:hover {
    background: #8ea14a;
    color: #FFF; }
  .mark-translation .mark-traduction-hover {
    display: none; }
    .mark-translation .mark-traduction-hover p {
      margin: 0; }
      .mark-translation .mark-traduction-hover p a {
        border: 1px solid #697277;
        padding: 5px 6px;
        display: inline-block;
        margin: 5px 0 0 0;
        letter-spacing: 1px;
        font-size: 12px; }
    .mark-translation .mark-traduction-hover ul {
      border-top: 1px dotted #697277;
      border-bottom: 1px dotted #697277;
      padding-top: 5px;
      padding-bottom: 5px; }
      .mark-translation .mark-traduction-hover ul li span {
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-style: italic; }
      .mark-translation .mark-traduction-hover ul li .french_flag {
        background: url("../images/flag_fr.png") no-repeat 0 0;
        margin: 0;
        padding: 0 0 0 35px; }
      .mark-translation .mark-traduction-hover ul li .english_flag {
        background: url("../images/flag_uk.png") no-repeat 0 0;
        margin: 0;
        padding: 0 0 0 35px; }
      .mark-translation .mark-traduction-hover ul li .german_flag {
        background: url("../images/flag_de.png") no-repeat 0 0;
        margin: 0;
        padding: 0 0 0 35px; }
      .mark-translation .mark-traduction-hover ul li .spanish_flag {
        background: url("../images/flag_es.png") no-repeat 0 0;
        margin: 0;
        padding: 0 0 0 35px; }
  .mark-translation:hover .mark-traduction-hover, .mark-translation.hover_effect .mark-traduction-hover {
    display: block;
    position: absolute;
    top: 17px;
    width: 260px;
    z-index: 9999;
    border: 1px solid #697277;
    background: #FFF;
    color: #000;
    padding: 10px;
    left: 0; }

.jcorgFilterTextParent {
  margin: 0 0 15px 0;
  font-size: 13px; }
  .jcorgFilterTextParent p {
    margin: 0;
    line-height: 17px; }
    .jcorgFilterTextParent p a {
      text-transform: uppercase; }
      .jcorgFilterTextParent p a:hover {
        color: #EC1625;
        text-decoration: underline; }
  .jcorgFilterTextParent .jcorgFilterTextChild {
    line-height: 17px; }

.download-page form {
  margin-top: 30px; }

.download-page label {
  width: 300px;
  line-height: normal; }

.download-page img {
  border: 1px solid #aaaeb1;
  width: 255px; }

.download-page input {
  width: 255px; }

.download-page .form-error {
  display: inline-block;
  margin: 10px;
  color: #EC1625; }

.download-page ul a:hover {
  text-decoration: underline; }

.download-page > p a:hover {
  color: #EC1625;
  text-decoration: underline; }

ul[id^="menu-footer-"] > li {
  letter-spacing: 0.75px; }
  ul[id^="menu-footer-"] > li > a {
    font-size: 16px;
    line-height: 22px;
    font-family: "myriad-pro", sans-serif;
    letter-spacing: 1px;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    display: block; }
  ul[id^="menu-footer-"] > li > ul > li a {
    font-size: 12px; }

div[id^="background_fiche"] ul {
  list-style-type: square; }
  div[id^="background_fiche"] ul.list-unstyled li a:hover {
    color: #EC1625;
    text-decoration: underline; }

div[id^="background_fiche"] .steps_navigation a:hover {
  color: #EC1625;
  text-decoration: underline; }

div[id^="background_fiche"] .fiche_step h3 {
  color: #EC1625;
  font-size: 15px;
  font-family: myriad-pro-semi-bold;
  line-height: 15px;
  letter-spacing: 0.75px; }

.contenu_fiche .figures_container {
  border: 1px solid #ddd;
  margin: 0 55px;
  text-align: center; }
  .contenu_fiche .figures_container img {
    padding: 20px; }

.ui-autocomplete {
  background: #F6F6F6;
  z-index: 2000 !important;
  font-size: 12px;
  font-family: myriad-pro !important; }
  .ui-autocomplete li a {
    font-size: 1.1em; }
  .ui-autocomplete:first-child {
    position: fixed; }

.ui-state-hover {
  border: none !important;
  background: #e2e1e1 !important;
  color: #222222 !important; }

.ui-menu {
  padding: 0 !important; }

.image-dossier i {
  font-size: 29px;
  color: #fff;
  top: 18px;
  left: 18px;
  position: absolute;
  background: #EC1625;
  padding: 10px 13px 12px 12px; }

.thematic_url,
.widgettitle {
  display: none; }

.breves a:hover {
  text-decoration: underline;
  color: #EC1625; }

.breves > div {
  width: 300px;
  margin: 0 auto;
  background: #fff; }
  .breves > div.breves-afp {
    height: 39px;
    border-bottom: 1px solid #e2e1e1; }

.breves .content {
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  padding: 0; }
  .breves .content div {
    height: 182px;
    overflow: auto;
    padding: 0 0 0 10px; }
    .breves .content div a.descriptif {
      font-size: 12px;
      display: block;
      line-height: 16px;
      margin: 0 0 5px 0; }
  .breves .content .voir-tout {
    text-decoration: underline;
    color: #EC1625;
    padding: 5px 15px 5px 0; }

.col-droite-actu .breves .breves-afp {
  background: none; }

.col-droite-actu .breves .content {
  margin: 0 2px;
  width: 296px; }

.col-droite-webinar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  min-height: 523px;
  padding: 0 30px; }

.les-plus .box-colors {
  border: 1px solid #e2e1e1;
  border-top: 0px; }

#les-plus-lus {
  border-bottom: 1px solid #EC1625;
  background: #e2e1e1; }

#les-plus-commentes {
  border-bottom: 1px solid #EC1625;
  background: #e2e1e1; }

#les-plus-commentes:hover,
#les-plus-lus:hover {
  cursor: pointer; }

.old-article img {
  height: 250px;
  width: 300px; }

.cadre-downloads-large .cadre-downloads {
  padding: 20px 0 0 0; }
  .cadre-downloads-large .cadre-downloads.publi .bg-grey {
    top: -8px;
    left: -18px;
    border: none; }

.cadre-downloads-large .edition .cadre-downloads {
  padding: 0; }
  .cadre-downloads-large .edition .cadre-downloads .top {
    background: #EC1625;
    padding: 10px; }
    .cadre-downloads-large .edition .cadre-downloads .top * {
      color: #FFF !important; }
  .cadre-downloads-large .edition .cadre-downloads h3 {
    padding: 0 10px; }

.cadre-downloads-large .visuel-lb {
  margin: 65px 83px;
  position: relative;
  padding: 0 14px; }

a div h3 {
  margin-top: 0 !important; }

.publi .bg-grey {
  background: #697277;
  padding: 6px 20px;
  color: #ffffff !important;
  position: absolute;
  top: 0;
  left: 0;
  border: none; }

.publi:before {
  color: #697277 !important;
  top: 42px !important; }

.publi h3 {
  color: #697277 !important; }

.top-thematique {
  text-align: center;
  background-size: 100% !important;
  padding: 4% 0; }
  .top-thematique .name-thematique {
    background: #ffffff;
    display: inline-block;
    padding: 5px 20px; }

.sous-thematique {
  text-align: center;
  margin: 23px 0 15px; }
  .sous-thematique a {
    background: #F3F3F3;
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
    letter-spacing: 0.75px; }
    .sous-thematique a:hover {
      background: #EC1625;
      color: #ffffff; }
  .sous-thematique > span {
    background: #F3F3F3;
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
    letter-spacing: 0.75px; }

.desc-thematique p {
  text-align: center;
  padding: 0 10%;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px; }

.dossier .sous-thematique {
  text-align: left;
  margin-right: 10px;
  margin-left: 0; }
  .dossier .sous-thematique a {
    background: #e2e1e1; }
    .dossier .sous-thematique a:first-child {
      margin-left: 0; }
    .dossier .sous-thematique a:hover, .dossier .sous-thematique a.actif {
      background: #EC1625;
      color: #ffffff; }
  .dossier .sous-thematique > span {
    background: #e2e1e1; }
    .dossier .sous-thematique > span:first-child {
      margin-left: 0; }

.dossier img:first-child {
  width: 100%;
  height: auto; }

.dossier .acceuil-title {
  background-color: #EC1625 !important;
  width: 63%;
  left: 35px;
  bottom: 20px; }
  .dossier .acceuil-title * {
    color: #ffffff !important; }

.dossier .partage {
  position: absolute;
  bottom: 20px;
  left: calc(63% + 35px);
  padding: 16px 17px 14px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  width: 190px;
  border-bottom: 5px solid #ec1526; }
  .dossier .partage img {
    width: 29px;
    height: 29px; }

.dossier .box-colors > div > a {
  position: relative; }
  .dossier .box-colors > div > a:hover::before {
    content: ">";
    position: absolute;
    left: -16px;
    text-decoration: none;
    font-size: 12px;
    top: -2px; }

article h2, article h3, article h4, article h5 {
  color: #EC1625;
  margin: 20px 0 10px 0;
  font-family: myriad-pro-semi-bold; }

#toggle_all img {
  height: auto;
  width: 40px;
  margin: 0 10px 0 0; }

label.text-hover:hover {
  text-decoration: underline; }

#check_div1 .fa-paper-plane {
  font-size: 20px;
  margin: 0 10px 0 7px; }

#check_div1 input[type="checkbox"] {
  margin: 0;
  margin: 31px 0px; }

#check_div1 label {
  display: block;
  height: 80px;
  width: 100%;
  padding: 31px 0px;
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 17px;
  background: #EC1625;
  white-space: normal;
  line-height: 20px; }
  #check_div1 label:hover {
    cursor: pointer; }
    #check_div1 label:hover > span:first-child {
      display: block !important; }

.accueil a {
  font-size: 0 !important;
  background: url(../images/menu-home.png) center 14px no-repeat transparent !important;
  height: 41px;
  width: 45px;
  display: block !important; }

.accueil:hover a, .accueil.bg-active a {
  background: url(../images/menu-home-hover.png) center 14px no-repeat transparent !important; }

#comments li {
  border-top: 1px solid #C6C6C6; }
  #comments li:first-child {
    border: none; }

#comments .comment-reply-link {
  display: none;
  color: #EC1625;
  font-size: 12px; }
  #comments .comment-reply-link:hover {
    text-decoration: underline; }

.a2a_counter {
  position: relative;
  padding-right: 10px !important; }
  .a2a_counter .a2a_count {
    line-height: 18px !important;
    height: 18px !important;
    width: auto !important;
    min-width: 18px !important;
    border-radius: 10px !important;
    background: #EC1625 !important;
    color: #ffffff !important;
    border: none !important;
    position: absolute;
    top: -8px;
    right: 3px; }
    .a2a_counter .a2a_count:before, .a2a_counter .a2a_count:after {
      display: none; }

.corps-article {
  position: relative; }
  .corps-article article {
    font-size: 16px !important;
    line-height: 24px; }
    .corps-article article blockquote p {
      font-size: 16px !important; }
    .corps-article article div[class^='encart-'] img {
      width: auto;
      max-width: 100%;
      height: auto; }
    .corps-article article .encart-large {
      clear: both; }
      .corps-article article .encart-large img {
        width: auto !important;
        height: auto;
        float: left; }

.alignleft {
  float: left;
  margin: 7px 24px 7px 0; }

.alignright {
  float: right;
  margin: 7px 0 7px 24px; }

.aligncenter {
  clear: both;
  display: block;
  margin: 7px auto; }

.wp-caption {
  width: auto;
  max-width: 100%; }

.wp-caption-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
  padding: 0 10px 0 0;
  text-align: left; }

.ressources-liees a:hover {
  color: #EC1625;
  text-decoration: underline; }

.associated-book .cadre-downloads {
  background: none; }

.encart-top {
  position: relative; }
  .encart-top p {
    background: url("../images/visuel-livresblancs.jpg") no-repeat center center transparent;
    padding: 78px 0; }
    .encart-top p > span {
      background: #fff;
      padding: 13px 32px;
      display: inline-block;
      line-height: 50px; }
      .encart-top p > span > span {
        position: relative; }
        .encart-top p > span > span .glyphicon {
          position: absolute;
          top: 28px;
          left: 8px; }

.encart-top-evenement {
  position: relative; }
  .encart-top-evenement p {
    background: url("../images/visuel-webinar.jpg") no-repeat center center transparent;
    padding: 78px 0;
    margin-top: 0; }
    .encart-top-evenement p > span {
      background: #fff;
      padding: 18px 32px;
      display: inline-block; }

.encart-top-account {
  position: relative; }
  .encart-top-account p {
    background: url("../images/visuel-mon-compte.jpg") no-repeat center center transparent;
    padding: 65px 0;
    margin-top: 0; }
    .encart-top-account p > span {
      background: #1b8bbb;
      padding: 13px 32px;
      color: #fff; }

.encart-info-compte {
  background: url("../images/visuel-mon-compte-bis.jpg") no-repeat center center transparent;
  background-size: 100%; }

.encart-top-edito {
  position: relative; }
  .encart-top-edito h1 {
    padding: 98px 0;
    margin-top: 0; }
    .encart-top-edito h1 > span {
      background: #fff;
      padding: 13px 32px; }

.label-search:after {
  content: ">";
  position: absolute;
  right: 4px;
  text-decoration: none;
  font-size: 15px;
  top: 10px; }

blockquote {
  padding: 25px 45px;
  border: 1px solid #c6C6C6; }
  blockquote p {
    position: relative; }
    blockquote p:first-child:before {
      content: "\201C";
      position: absolute;
      top: 8px;
      left: -20px;
      font-family: Arial, "Times New Roman";
      color: #EC1625;
      font-size: 35px; }
    blockquote p:first-child:after {
      content: "\201D";
      position: absolute;
      bottom: -8px;
      right: -20px;
      font-family: Arial, "Times New Roman", Mont;
      color: #EC1625;
      font-size: 35px; }

.boutons {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 300px; }

.border-rounded {
  border: 1px solid #EC1625;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 4px 8px; }

.single-evenement .youtube-container {
  height: auto !important; }
  .single-evenement .youtube-container iframe {
    width: 100% !important;
    height: 250px !important; }

.single-evenement form select,
.single-evenement form input[type="text"],
.single-evenement form textarea {
  width: 100%; }

.single-evenement .formulaire-di {
  border-left: 1px solid #c6c6c6; }

.border-hover {
  display: none; }

.article-temoins {
  border: 1px solid #C6C6C6; }
  .article-temoins img {
    height: 119px;
    width: 88px; }
  .article-temoins:hover .text-color {
    text-decoration: underline; }

.border {
  border: 1px solid #C6C6C6; }

#glossaire a {
  word-break: break-all; }
  #glossaire a:hover {
    color: #EC1625;
    text-decoration: underline; }

#glossaire h3 a:before {
  content: ">";
  position: absolute;
  left: -16px;
  text-decoration: none;
  font-size: 12px;
  top: -2px; }

.dark-grey-title strong {
  color: #EC1625;
  font-weight: normal; }

.contact .encart-top-contact h1 {
  background: url(../images/bandeau-contact.png) no-repeat center center transparent;
  padding: 98px 0;
  margin-top: 0; }
  .contact .encart-top-contact h1 > span {
    background: #fff;
    padding: 13px 32px; }

.contact h2 i {
  width: 45px; }

#abo-header {
  position: absolute;
  top: 5px;
  right: 19%;
  width: 500px;
  text-align: right; }
  #abo-header span {
    text-transform: capitalize;
    padding-right: 20px !important; }

.red {
  color: #ed1b2e !important; }

.green {
  color: #74b504 !important; }

/* IFRAME */
.iframeContainer {
  position: relative;
  height: 600px;
  margin-bottom: 30px; }

.iframeContainer a.zoom {
  width: 30px;
  height: 30px;
  background-color: #DB0C18;
  position: absolute;
  z-index: 11;
  right: 15px;
  cursor: pointer;
  display: none;
  text-decoration: none;
  background: url("../images/zoom.png") no-repeat center center #DB0C18;
  background-size: 20px;
  font-size: 0; }

.iframeContainer a.zoom.visible.close {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  padding-top: 0px;
  line-height: 25px;
  background-image: none;
  color: white; }

.iframeContainer a.zoom.visible {
  display: block;
  opacity: 1; }

.iframeContainer a.zoom:hover {
  text-decoration: none; }

.carto.fullscreen .iframeContainer {
  position: fixed;
  z-index: 111;
  left: 0px;
  right: 0px;
  top: 146px;
  height: 850px; }

#thes-iframe {
  width: 100%;
  height: 100%; }

#top-page-carto {
  background: url("../images/fond-cartographie-interactive.jpg") no-repeat top center;
  background-size: 100% 100%; }

#top-page-lexique {
  background: url("../images/fond-lexique.jpg") no-repeat top center;
  background-size: auto; }

#top-page-lexique-words {
  background: url("../images/fond-lexique.jpg") no-repeat center center;
  background-size: auto; }

#dictionary_search_box {
  border: none; }
  #dictionary_search_box .drapeaux {
    width: 110%; }
  #dictionary_search_box .input-group-btn {
    vertical-align: bottom; }

#dictionary_definition a {
  color: #EC1625; }
  #dictionary_definition a:hover {
    text-decoration: underline; }

#header-rubrique > div.row {
  min-height: 120px; }

.figure-legend,
.figure-title {
  display: none; }

.figure-legend-selected,
.figure-title-selected {
  display: block; }

.btn-txt {
  display: inline-block;
  position: relative; }
  .btn-txt a.mention {
    position: absolute;
    top: 45px;
    right: 4px;
    text-align: right;
    width: 190px;
    font-size: 13px; }
    .btn-txt a.mention:hover {
      color: #EC1625;
      text-decoration: underline; }

#presentation .note .date {
  font-family: myriad-pro-semi-bold; }

.listing {
  width: 100%; }
  .listing > tbody > tr > td {
    padding: 5px; }
  .listing .thDolist {
    font-weight: bold;
    padding: 5px; }
  .listing tbody tr[class^="line"] {
    letter-spacing: normal;
    font-size: 14px; }
    .listing tbody tr[class^="line"].trgreen {
      color: green; }
  .listing td {
    word-break: break-word;
    /* For Chrome */
    -ms-word-break: break-all;
    /* For IE */
    word-break: break-all;
    /* For Firefox */ }
  .listing p, .listing a {
    text-align: center;
    /* centrage horizontal d'un élément en-ligne */ }
  .listing img {
    vertical-align: middle; }

.line0 {
  background: #E6E6E6; }

.line1 {
  background: #F1F1F1; }

.button-export {
  position: absolute;
  top: 0;
  right: 20px; }
  .button-export .myti-buton-export {
    background: none;
    border: none;
    text-decoration: underline;
    width: auto !important; }

#tweet-list h3 {
  font-size: 14px;
  letter-spacing: normal;
  text-align: left; }
  #tweet-list h3.top {
    background: #a6a9af;
    padding: 2px 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    letter-spacing: 1px; }
    #tweet-list h3.top .border-right-dark {
      border-right: 1px solid #94979e; }
    #tweet-list h3.top .border-left-light {
      border-left: 1px solid #dddee1; }

#tweet-list .question-date-crea {
  width: 75px;
  display: block;
  float: left;
  padding: 5px 8px; }

#tweet-list .question-date-fin {
  width: 75px;
  display: block;
  float: left;
  padding: 5px 8px; }

#tweet-list .question-theme {
  width: 220px;
  display: block;
  float: left;
  padding: 5px 8px; }

#tweet-list .question-titre {
  width: 200px;
  display: block;
  float: left;
  padding: 5px 8px; }

#tweet-list .ui-accordion .ui-accordion-header, #tweet-list .ui-accordion .ui-state-hover {
  border: none !important;
  border-bottom: 1px #dddddd solid !important;
  font-weight: normal;
  color: #333;
  margin: 0;
  border-radius: 0px;
  min-height: 40px; }

#tweet-list .ui-accordion.ui-widget {
  font-family: Arial, Lucida Grande, Lucida Sans, sans-serif; }

#tweet-list .ui-accordion .ui-accordion-content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 0;
  border-radius: 0px; }

.box-pagination .pagination-actif {
  padding: 5px 15px;
  border: 1px solid #1B8BBB;
  display: block;
  color: #ffffff;
  background: #1B8BBB;
  text-align: center;
  margin-left: -1px;
  line-height: 1.42857143; }

.box-pagination .pagination-inactif {
  padding: 5px 15px;
  border: 1px solid #dddddd;
  display: block;
  color: #777777;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  margin-left: -1px;
  line-height: 1.42857143;
  width: auto; }
  .box-pagination .pagination-inactif:hover {
    color: #ffffff;
    background: #7f8c8d;
    border-color: #7f8c8d; }

.box-pagination .pagination-actif-pointilles {
  padding: 5px 10px;
  border: 1px solid #dddddd;
  display: block;
  color: #777777;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  margin-left: -1px;
  line-height: 1.42857143;
  width: auto; }
  .box-pagination .pagination-actif-pointilles:hover {
    color: #ffffff;
    background: #7f8c8d;
    border-color: #7f8c8d; }

.box-pagination i.fa {
  padding: 7px; }

.glossaire-description a {
  color: #EC1625; }

.addeventatc.btn-u-red {
  font-family: "myriad-pro", sans-serif;
  padding: 13px 12px;
  font-size: 13px;
  background: #EC1625;
  border: 1px solid #EC1625;
  color: #ffffff !important;
  display: inline-block;
  box-shadow: none !important;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-font-smoothing: auto !important; }
  .addeventatc.btn-u-red:hover {
    color: #EC1625 !important;
    text-decoration: none;
    background: #ffffff;
    font-size: 13px; }

.addeventatc .addeventatc_icon {
  display: none; }
