<div id="header" class="header">
    <div class="tag-box tb-cstm tb-cstm-abonnees">
        <p class="ref">OFFRES / REF: TIP112WEB</p>
        <h1 class="ref-title margin-botom-title color-red-eti"><b>sécurité</b> et <b>gestion</b> des <b>risques</b></h1>
        <p class="ref-sub-title color-697277">L'accès à <span class="hilighted-word">une base complète</span>, d'articles et un bouquet de <span class="hilighted-word">services</span>.</p>
    </div>

    <div class="tb-cstm xs-margin-top-60">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img src="assets/img/main/img-offers.png" class="img-responsive img-offre margin-top-1stblock" width="170">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="tag-box tag-box--details tag-box--middle padding-top-15 xs-margin-left-46">
                    <p class="licence pull-left">Licence <br/> monoposte:</p>
                    <div class="prices pull-right">
                        <p class="old-price strike-center">1200 <span>HT</span></p>
                        <p class="new-price-2">1161€ <span class="font-size-9">HT</span></p>
                    </div>
                    <a class="btn-u btn-block btn-offers--details margin-top-85 bg-color-74b504">
                        <i class="fa fa-shopping-cart center-btn-icon margin-right-10"></i>  <span>AJOUTER AU PANIER</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="tag-box tag-box--details tag-box--right devis xs-padding-top-0 padding-top-15 xs-margin-left-40 padding-left-0 ">

                    <p class="text-center devis-box-text padding-lft-5 font-size-11 margin-bottom-22">Autres offres <br>(Multiposte, pluriannuel):</p>
                    <a class="btn-u btn-block btn-devis--details bg-color-697277 xs-margin-left-devis width-btn margin-left-10">
                        <i class="fa fa-arrow-right center-btn-icon margin-right-10"></i>  DEMANDER UN DEVIS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>