<div id="header" class="site-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="no-gutters col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <div id="logo" class="visible-lg"><a href="http://www.techniques-ingenieur.fr"><img src="{{ media("logo.png") }}" width="115" height="85" alt="Logo ETI"></a> </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="hidden-lg" href="http://www.techniques-ingenieur.fr"><img src="{{ media("logo-mobile.png") }}" width="27" height="31" alt="Logo ETI" style="margin:7px 0;"></a>
                    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                        <img src="//www.techniques-ingenieur.fr/actualite/wp-content/themes/ti/images/picto-menu.png" alt="Menu" height="28" width="28">
                    </button>
                </div>
            </div>

            <div class="no-gutters col-xs-4 col-sm-6 col-md-8 col-lg-5">
                <div id="search-box" class="clearfix">
                    <h1 id="site-name" class="visible-lg"><span>Techniques de l'ingénieur</span><span>L'<strong>expertise technique</strong> et <strong>scientifique de référence</strong></span></h1>
                    <form id="searchCommand" method="GET" action="/search.html" class="clearfix">
                        <input type="hidden" name="scope" value="accueil">
                        <fieldset>
									<span class="textField rounded left" id="searchquery_span">
										<input type="text" class="textFieldImp ui-autocomplete-input" id="query" name="query" tabindex="1" value="" title="Votre recherche" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
									</span>
									<span class="submit_btns left myti-icon myti-icon-9 pngfix" id="search_form_submit_span">
										<input class="submit-image" type="submit" value=" " name="search_form_submit" id="search_form_submit" tabindex="2" title="Trouver">
									</span>
                        </fieldset>
                    </form>
                </div>
            </div>

            <ul id="links" class="col-lg-2 hidden-xs hidden-sm hidden-md">
                <li>
                    <a class="pop-link" href="/search.html?advancedSearch=true" title="Recherche avancée">Recherche avancée</a>
                </li>
                <li>
                    <a href="/edito/recherche.html">Aide</a>
                </li>
            </ul>

            <div class="no-gutters col-xs-4 col-sm-3 col-md-2 col-lg-3">
                <div id="espace-abo">
                    <a class="contact-link" href="/edito/contact.html"><span class="text hidden-xs hidden-sm hidden-md">Contact</span> <span class="text-center symbole">?</span></a>
                    <a id="register_link-connected" class="buton-blue clearfix buton-grey">
                        <span class="text sub-content hidden-xs hidden-sm hidden-md">connectez-vous</span>
                        <span class="icon-silhouette"></span>
                    </a>
                    <div id="myti-short-list" data-dropdown="" data-auto-focus="true">
                        <iframe src="http://www.techniques-ingenieur.fr/cas/login?service=http://www.techniques-ingenieur.fr/j_spring_cas_security_check&amp;theme=header" onload="firstLoginIframeLoaded=true;" class="casiframe"></iframe>
                        <div class="text-center register_link">
                            <p class="titre">Inscrivez-vous</p>
                            <p>Vous n'avez pas encore de compte ?</p>
                            <a class="float-center buton-blue clearfix" href="/registration.html" title="S'inscrire">
                                <span class="text">Créer un compte</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>