<div id="header-rubrique" class="row margin-top-50 margin-bottom-50 article">
    <div class="text-center col-xs-2 col-sm-3 col-md-3 col-lg-3 zoning nav-rubrique no-gutters-left">
        <p class="hidden-xs"> Article précédent</p>
        <i class="fa fa-long-arrow-left display-block font-size-40"></i>
        <a class="text-uppercase" href="/base-documentaire/automatique-robotique-th16/regulation-et-commande-des-systemes-asservis-42394210/"><span class="hidden-xs">Régulation et commande des systèmes asservis</span></a>
    </div>

    <div class="text-center col-xs-8 col-sm-6 col-md-6 col-lg-6 no-gutters">
        <p class="text-uppercase">
            <span class="ico-search vertical-align-center"></span> <span>Article / Réf : TIP112WEB</span></p>
        <h1 class="font-family-myriadpro-semibold text-uppercase color-red-eti font-size-20 letter-spacing-7520">Chimie et développement durable -  Vers une chimie organique écocompatible</h1>
        <div class="letter-spacing-75">
            <p class="line-height-16"><span class="font-family-myriadpro-semibold">Auteurs</span> : Max MALACRIA, Jean-Philippe GODDARD, Cyril OLLIVIER, Jean-Philippe GODDARD, Max MALACRIA</p>
            <p class="line-height-16">
                <span class="font-family-myriadpro-semibold padding-left-25">Date de publication</span> : 10 juil. 2009
                <span class="font-family-myriadpro-semibold padding-left-25">Relu et validé</span> le 21 nov. 2014
            </p>
        </div>
        <div class="margin-top-25">
            <a href="" class="btn-u btn-u-red btn-center" type="button"><i class="fa fa-download margin-right-5"></i>EXTRAIT GRATUIT</a>
            <a href="#" class="padding-left-20 letter-spacing-75"><i class="fa fa-angle-right margin-right-5"></i><u>Ajouter à mon compte</u></a>
        </div>
    </div>

    <div class="text-center col-xs-2 col-sm-3 col-md-3 col-lg-3 zoning nav-rubrique no-gutters-right">
        <p class="hidden-xs"> Article suivant</p>
        <i class="fa fa-long-arrow-right display-block font-size-40"></i>
        <a class="text-uppercase" href="/base-documentaire/automatique-robotique-th16/regulation-et-commande-des-systemes-asservis-42394210/"><span class="hidden-xs">Régulation et commande des systèmes asservis</span></a>
    </div>
</div>