<!--=== Header v1 ===-->
<div class="header-v1">

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu navbar-background-color navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row margin-bottom-0 xs-margin-bottom-0">

                <div class="col-xs-6 col-sm-8 col-md-9" style="padding-right: 0px; padding-top: 5px;">
                    <div class="col-xs-11 col-sm-4 col-md-3 xxs-margin-top-10">
                        <a href="">
                            <center>
                                <img id="logo-header" class="img-responsive xs-margin-top-0 sm-margin-top-20  lg-margin-top" src="{{ bootstrap("img/logo-eti.png") }}" alt="Logo">
                            </center>
                        </a>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-6" style="padding-right: 0px;">
                        <h5 class="margin-top-55 color-red-eti hidden-xs hidden-sm title-font-size"><strong>L'EXPERT TECHNIQUE ET SCIENTIFIQUE DE RÉFÉRENCE</strong></h5>
                    </div>
                    <div class="hidden-xs hidden-sm col-sm-7 col-md-3 hdr-srch-col" style="padding-left: 0px;padding-right: 0px;">

                        <div class="input-group input-grp">
                            <input class="form-control input-srch-col margin-top-50 search-bar" style="padding-left: 8px;width: 187px;" placeholder="Tapez votre recherche ici" type="text">
									<span class="input-group-btn">
										<button class="btn-u bg-color-red-eti margin-top-50" type="button"><i class="glyphicon glyphicon-search"></i></button>
									</span>
                        </div>
                        <p class="text-right margin-top-10 margin-bottom-0 advanced-search"><a href="#"><span class="color-red-eti"> &gt; Recherche avancée</span></a></p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3 sm-margin-left--30" style="padding-top: 16px;">
                    <div class="col-xs-3 col-sm-4 col-md-4 hdr-btn-col padding-menu-cart">
                        <center>
                            <button type="button" class="btn-u btn-color margin-bottom-10 xs-margin-top-2 xs-font-size-20 sm-margin-top-20 md-margin-top-35"><i class="fa fa-shopping-cart header-btn-size"></i></button>
                        </center>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-4 hdr-btn-col padding-menu-account">
                        <center>
                            <button type="button" class="btn-u btn-color margin-bottom-10 xs-margin-top-2 xs-font-size-20 sm-margin-top-20 md-margin-top-35"><i class="fa fa-user header-btn-size"></i></button>
                        </center>
                    </div>
                    <div id="div-menu-header" class="col-xs-3 col-sm-4 col-md-4 hdr-btn-col" style="display: none !important;">
                        <center>
                            <button id="button-menu-header" type="button" class="btn-u btn-color margin-bottom-10 xs-margin-top-2 xs-font-size-20 sm-margin-top-20 md-margin-top-35" data-toggle="collapse" data-target=".navbar-responsive-collapse" style="display: none !important;"><i class="fa fa-bars header-btn-size"></i></button>
                        </center>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar-x" class="collapse navbar-responsive-collapse menu-background-color border-navbar in">
            <div class="container border-bottom-dark-gray">
                <ul class="nav navbar-nav" style="width: 100%;">

                    <!-- RESSOURCES DOCUMENTAIRES -->
                    <li id="tab-1" class="dropdown mega-menu-fullwidth brd-active dropdown-style navbar-mods">
                        <a href="javascript:void(0);" class="dropdown-toggle padding-menu-buttons" data-toggle="dropdown">
                            RESSOURCES DOCUMENTAIRES
                        </a>
                        <ul class="dropdown-menu dropdown-menu-padding-20 background-color-F1F1F1 no-border-top" style="top: 50px;">
                            <h4 class="text-center color-red-eti font-weight-300"><strong>RECHERCHEZ </strong>parmi plus de <strong>8000</strong> articles de références ou pratiques et <strong>4000</strong> articles d'actualité</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="color-red-eti margin-bottom-10 margin-top-20 margin-left-32 font-weight-300 ">PAR DOMAINE<strong> SCIENTIFIQUE</strong></h5>
                                    <div class="eti-accueil-devider margin-top-10 margin-bottom-20 margin-left-32"></div>
                                    <ul class="list-unstyled ">
                                        <!-- PAR DOMAINE SCIENTIFIQUE -->
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <li><a href="#">SCIENCES&nbsp;FONDAMENTALES</a></li>
                                                <li><a href="#">GÉNIE&nbsp;INDUSTRIEL</a></li>
                                                <li><a href="#">INNOVATIONS</a></li>
                                                <li><a href="#">ENVIRONNEMENT&nbsp;-&nbsp;SÉCURITE</a></li>
                                                <li><a href="#">ÉNERGIES</a></li>
                                                <li><a href="#">MATÉRIAUX</a></li>
                                                <li><a href="#">MESURES ANALYSES</a></li>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <li><a href="#">PROCEDES&nbsp;CHIMIE&nbsp;-&nbsp;BIO&nbsp;-&nbsp;ARGO</a></li>
                                                <li><a href="#">MÉCANIQUE</a></li>
                                                <li><a href="#">ÉLECTRONIQUE&nbsp;-&nbsp;AUTOMATIQUE</a></li>
                                                <li><a href="#">TECHNIQUES&nbsp;DE&nbsp;L'INFORMATION</a></li>
                                                <li><a href="#">INGÉNIEURIE&nbsp;DES&nbsp;TRANSPORT</a></li>
                                                <li><a href="#">BIO MEDICAL&nbsp;-&nbsp;PHARMA</a></li>
                                                <li><a href="#">CONSTRUCTION</a></li>
                                            </div>
                                        </div>
                                        <!-- End PAR DOMAINE SCIENTIFIQUE -->
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="color-red-eti margin-bottom-10 margin-top-20 margin-left-32 font-weight-300">PAR SECTEUR<strong> INDUSTRIEL</strong></h5>
                                    <div class="eti-accueil-devider margin-top-10 margin-bottom-20 margin-left-32"></div>
                                    <ul class="list-unstyled">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12">
                                                <li><a href="#">TECHNOLOGIES</a></li>
                                                <li><a href="#">CONSTRUCTION</a></li>
                                                <li><a href="#">ÉLECTRONIQUE</a></li>
                                                <li><a href="#">SCIENCES</a></li>
                                                <li><a href="#">BIOMÉDICAL</a></li>
                                                <li><a href="#">ENVIRONNEMENT</a></li>
                                                <li><a href="#">GÉNIE INDUSTRIEL</a></li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="color-red-eti margin-bottom-10 margin-top-20 font-weight-300">PAR MOTS-CLES</h5>
                                    <div class="eti-accueil-devider margin-top-10 "></div>
                                    <div class="input-group input-grp">
                                        <input class="form-control input-srch-col margin-top-20 menu-ressources-search-bar" placeholder="Tapez votre recherche ici" type="text">
												<span class="input-group-btn">
													<button class="btn-u bg-color-red-eti margin-top-20" type="button"><i class="glyphicon glyphicon-search"></i></button>
												</span>
                                    </div>
                                    <p class="pull-right text-left font-size-13"><a href="#"><span class="color-red-eti"> &gt; Recherche avancée</span></a></p>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <!-- End RESSOURCES DOCUMENTAIRES -->

                    <!-- LE MAGAZINE D'ACTUALITE -->
                    <li id="tab-2" class="dropdown mega-menu-fullwidth dropdown-style navbar-mods">
                        <a href="javascript:void(0);" class="dropdown-toggle padding-menu-buttons" data-toggle="dropdown">
                            LE MAGAZINE D'ACTUALITE
                        </a>
                        <ul class="dropdown-menu dropdown-menu-padding-20 background-color-F1F1F1 no-border-top border-0" style="top: 50px;">
                            <h4>Découvrez toute l'actualité, la veille technologique gratuite, les études de cas et les évenements de chaque secteur de l'industrie.</h4>
                            <hr class="devider-bg-color-dark">
                            <div class="col-md-4">
                                <ul class="list-unstyled equal-height-list">
                                    <li><a href="#"> Environnement</a></li>
                                    <li><a href="#"> Technologie de l'énergie</a></li>
                                    <li><a href="#"> Géopolitique de l'énergie</a></li>
                                    <li><a href="#"> High-tech</a></li>
                                    <li><a href="#"> Web</a></li>
                                    <li><a href="#"> Recherche, innovation &amp; Espace</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-unstyled equal-height-list">
                                    <li><a href="#"> Matériaux innovants &amp; nano</a></li>
                                    <li><a href="#"> Biotech &amp; Chimie</a></li>
                                    <li><a href="#"> Entreprise</a></li>
                                    <li><a href="#"> Etre Ingénieur</a></li>
                                    <li><a href="#"> Insolite</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/main/img26.jpg" alt="">
                                        <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="blog_single.html">Tchernobyl contamine toujours les Alpes</a></h3>
                                    </div>
                                </div>
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/main/img26.jpg" alt="">
                                        <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="blog_single.html">Tchernobyl contamine toujours les Alpes</a></h3>
                                    </div>
                                </div>
                                <div class="blog-thumb margin-bottom-20">
                                    <div class="blog-thumb-hover">
                                        <img src="assets/img/main/img26.jpg" alt="">
                                        <a class="hover-grad" href="blog_single.html"><i class="fa fa-volume-up"></i></a>
                                    </div>
                                    <div class="blog-thumb-desc">
                                        <h3><a href="blog_single.html">Tchernobyl contamine toujours les Alpes</a></h3>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <!-- End LE MAGAZINE D'ACTUALITE -->

                    <!-- TELECHARGEMENTS GRATUITS -->
                    <li class="dropdown dropdown-style navbar-mods">
                        <a href="javascript:void(0);" class="dropdown-toggle padding-menu-buttons" data-toggle="dropdown">
                            CONTENUS GRATUITS
                        </a>
                    </li>
                    <!-- End TELECHARGEMENTS GRATUITS -->

                    <!-- A PROPOS -->
                    <li class="dropdown dropdown-style navbar-mods">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            A PROPOS
                        </a>
                        <!-- <ul class="dropdown-menu">
                            <li><a href="environnement.html">Environnement</a></li>
                            <li class="active"><a href="offres.html">Offres</a></li>
                            <li><a href="article_actualite.html">Actualités</a></li>
                            <li><a href="accueil.html">Accueil</a></li>
                            <li><a href="env_test_2.html">Domaine</a></li>
                        </ul> -->
                    </li>
                    <!-- End A PROPOS -->

                    <!-- CONTACTS -->
                    <li class="dropdown dropdown-style navbar-mods">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            CONTACT
                        </a>
                        <!-- <ul class="dropdown-menu">
                            <li><a href="assets/maquettes/ETI-UI_Destop-Environnement-V1a.png">Desktop Environnement Version 1a</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Tablette-Environnement-V1a.png">Tablette Environnement portrait Version 1a</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V1a.png">Smartphone Environnement Version 1a</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V1d.png">Smartphone Environnement Version 1d</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V1b.png">Smartphone Environnement Version 1b</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V1c.png">Smartphone Environnement Version 1c</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V1e.png">Smartphone Environnement Version 1e</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V2a.png">Smartphone Environnement Version 2a</a></li>
                            <li><a href="assets/maquettes/ETI-UI_Smartphone-Environnement-V2b.png">Smartphone Environnement Version 2b</a></li>

                        </ul> -->
                    </li>
                    <!-- End CONTACTS -->

                    <!-- CONTACTS -->
                    <li class="dropdown dropdown-style navbar-mods md-lg-hide">
                        <p>
                        </p><div class="input-group input-grp" style="width: 100%;">
                            <input class="form-control input-srch-col search-bar" style="padding-left: 8px; width: 187px;" placeholder="Tapez votre recherche ici" type="text">
										<span class="input-group-btn">
											<button class="btn-u bg-color-red-eti " type="button"><i class="glyphicon glyphicon-search"></i></button>
										</span>
                        </div>
                        <p></p>
                    </li>
                    <!-- End CONTACTS -->

                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!-- End Navbar -->
</div><!--=== End Header v1 ===-->