<a class="picto-article-temoin padding-top-15 padding-left-50 font-size-13 letter-spacing-75 margin-bottom-15" href=""><span class="padding-top-15">SCIENCES FONDAMENTALES</span></a>
<a class="picto-article-temoin padding-top-15 padding-left-50 font-size-13 letter-spacing-75 margin-bottom-15" href=""><span class="padding-top-15"></i>GÉNIE INDUSTRIEL</span></a>
<a class="picto-article-temoin padding-top-15 padding-left-50 font-size-13 letter-spacing-75 margin-bottom-15" href=""><span class="padding-top-15"></i>INNOVATIONS</span></a>
<a class="picto-article-temoin padding-top-15 padding-left-50 font-size-13 letter-spacing-75 margin-bottom-15" href=""><span class="padding-top-15"></i>ENVIRONNEMENT - SÉCURITE</span></a>
<a class="picto-article-temoin padding-top-15 padding-left-50 font-size-13 letter-spacing-75 margin-bottom-15" href=""><span class="padding-top-15"></i>ÉNERGIES</span></a>