<div class="panel-heading">
    <div class="row">
        <div class="hidden-xs col-sm-1 col-md-1">
            <a class="btn-xpnd-smint btn-u btn-x btn-expend xpnd-mods padding-top-1 text-center" type="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1">+</a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 no-gutters">
            <img class="img-x margin-bottom-0" src="{{ bootstrap ("img/main/icone-cellule.jpg") }}" alt="">
        </div>
        <div class="col-xs-9 col-sm-6 col-md-6 cellule-padding-top-30 padding-right-5">
            <h4 class="downloads-title font-size-16"><a class="font-family-myriadpro-semibold color-red-eti" href="">environnement</a></h4>
            <p class="font-size-11 padding-top-7 letter-spacing-50">Cette offre comprend 216 articles de référence couvrent 10 parties et un bouquet de services.</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 margin-top-15">
            <p class="pull-left badge badge-orange rounded-x badge-x badge-xxx margin-bottom-0 margin-top-10"><i class="fa fa-check"></i></p>
            <p class="pull-left price-2 margin-bottom-0 font-size-13 letter-spacing-50 abo">Vous êtes abonné !</p>

            <a href="#" class="btn-u btn-block btn-x height-21 letter-spacing-120" type="button">ACCÉDER À L'OFFRE</a>
        </div>
    </div>
</div>
<div id="collapse-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
    <div class="panel-body padding-top-0">
        <ul id="cellule-list" class="list-unstyled">
            <li>ICPE: Réglementation intégrée</li>
            <li>Réglementation environnementale par secteur</li>
            <li>Systèmes de management environnemental</li>
            <li>Développement durable</li>
            <li>Eaux industrielles</li>
            <li>Règlementation et analyse de l'air</li>
            <li>Traitements de l'air</li>
            <li>Gestion des odeurs et des nuisances olfactives</li>
            <li>Gestion des déchets</li>
            <li>Gestion des sites et sols pollués</li>
        </ul>
    </div>
</div>