<div itemscope itemtype="http://schema.org/Product" itemid="http://techniques-ingenieur.fr/Product/riskev" itemref="cat-th" class="panel panel-default cellule header-padding no-border-bottom">
    <div class="panel-heading">
        <div class="row">
            <div class="hidden-xs col-sm-1 col-md-1">
                <a class="btn-xpnd-smint btn-u btn-x btn-expend xpnd-mods padding-top-1 text-center" type="button" data-toggle="collapse" data-parent="#accordion-riskev" href="#collapse-riskev">+</a>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2 no-gutters">
                <img alt="RiskEV" class="img-x margin-bottom-0 padding-top-30" src="/var/ezwebin_site/storage/images/images/riskev-logo.png" style="width: 201px; height: 36px;" />
            </div>
            <div class="col-xs-9 col-sm-6 col-md-6 cellule-padding-top-30 padding-right-5">
                <h4 class="downloads-title font-size-15"><a class="font-family-myriadpro-semibold color-red-eti" href="">L'évaluation des risques professionnels</a></h4>
                <p class="font-size-11 padding-top-7 letter-spacing-50">RiskEV est un logiciel complet pour évaluer les facteurs de risques professionnels.</p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 margin-top-15" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" itemid="http://techniques-ingenieur.fr/Offer/TITRISKEV" itemref="desc-riskev">
                <p class="pull-left price-2 margin-bottom-0 font-size-16 font-family-myriadpro-semibold letter-spacing-50" itemprop="priceSpecification" itemscope="" itemtype="http://schema.org/UnitPriceSpecification">
                    <span itemprop="price">2 090</span>&nbsp;<data itemprop="priceCurrency" value="EUR">€</data> <span class="font-size-10 ">HT</span>
                    <meta itemprop="valueAddedTaxIncluded" content="false" /><meta itemprop="unitCode" content="ANN" /><meta itemprop="billingIncrement" content="1" /><meta itemprop="sku" content="TITRISKEV" />
                </p>
                <a itemprop="url" href="/boutique/riskev.html" class="btn-u btn-block btn-x height-21 letter-spacing-120" type="button">DÉCOUVRIR L'OFFRE</a>
            </div>
        </div>
    </div>
    <div id="collapse-riskev" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body padding-top-0" id="desc-riskev">
            <p itemprop="description" class="cellule-list font-size-11 letter-spacing-50 padding-bottom-15">RiskEV est un logiciel qui accompagne le responsable HSE dans ses obligations de traçabilité des expositions aux facteurs de risques au niveau collectif et individuel. Ses fonctionnalités de planification et de pilotage permettent de proposer des plans d'action.</p>
            <ul class="cellule-list list-unstyled cellule-list-2">
                <li itemprop="description">Évaluation des risques et gestion des facteurs de pénibilité</li>
                <li itemprop="description">Gestion des plans d'action</li>
                <li itemprop="description">Édition du document unique d'évaluation des risques et son Annexe pénibilité</li>
                <li itemprop="description">Traçabilité individuelle et collective des expositions avec édition des documents par salarié ou par poste</li>
            </ul>
        </div>
    </div>
</div>