<a href="" class="margin-bottom-10 large-img">
    <img class="zoom-img" src="{{ bootstrap("img/main/img_600_250.png") }}" alt="" width="610">
    <div class="left-badge">INNOVATIONS</div>
    <div class="acceuil-title"><strong>ECOPHYTO</strong> : les pesticides continuent leur expansion !</div>
    <div class="picto-plus-zoom"></div>
</a>