<a href="" class="pub-style margin-bottom-10">
    <img src="{{ bootstrap("img/main/PUB.png") }}" alt="">
    <div class="left-badge">ÉNERGIES</div>
    <div class="acceuil-title margin-bottom-0">
        <h3 class="color-red-eti font-size-15 line-height-18 letter-spacing-75 margin-bottom-5">ECOPHYTO : les pesticides continuent leur expansion !</h3>
        <p class="line-height-16 letter-spacing-75 margin-bottom-0">
            <i class="fa fa-angle-right pull-left"></i>
            <span>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla</span>
        </p>
    </div>
</a>