<a href="" class="pub-style margin-bottom-10">
    <img src="{{ bootstrap("img/main/PUB.png") }}" alt="">
    <div class="left-badge">ÉNERGIES</div>
    <div class="acceuil-title">
        <h3 class="color-red-eti">ECOPHYTO : les pesticides continuent leur expansion !</h3>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
    <div class="picto-plus-zoom"></div>
</a>