<a href="" class="margin-bottom-10 large-img">
    <img src="{{ bootstrap("img/main/img_600_250.png") }}" alt="" width="610" height="250">
    <div class="left-badge">INNOVATIONS</div>
    <div class="acceuil-title">
        <h3 class="color-red-eti">ECOPHYTO : les pesticides continuent leur expansion !</h3>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
    <div class="overlay"></div>
</a>