<a href="" class="pub-style haute-img">
    <img src="{{ bootstrap("img/main/img_300_500.png") }}" alt="" height="510">
    <div class="left-badge">ENVIRONNEMENT</div>
    <div class="acceuil-title">
        <h3 class="color-red-eti">ECOPHYTO : les pesticides continuent leur expansion !</h3>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    </div>
    <div class="overlay"></div>
</a>