<div class="col-xs-12 col-sm-12 col-md-12 no-gutters">
    <a href="" class="pub-style margin-bottom-10">
        <img class="zoom-img" src="{{ bootstrap("img/main/PUB.png") }}" alt="">
        <div class="left-badge">ÉNERGIES</div>
        <div class="acceuil-title"><strong>ECOPHYTO</strong> : les pesticides continuent leur expansion !</div>
    </a>
</div>