<a href="" class="pub-style margin-bottom-10">
    <img src="{{ bootstrap("img/main/PUB.png") }}" alt="">
    <div class="left-badge">Matériaux, Biotech &amp; chimie</div>
    <div class="acceuil-title margin-bottom-0">
        <span class="font-size-13 color-697277">Septembre 2016</span>
        <h3 class="color-red-eti font-size-15 line-height-18 letter-spacing-75 margin-bottom-5">Microtubules : ce qui ne les tue pas les rend plus forts</h3>
        <p class="line-height-16 letter-spacing-75 margin-bottom-0">
            Des chercheurs du CEA, du CNRS et de l'Université Grenoble-Alpes révèlent que lorsque la structure des microtubules est endommagée, suite à des contraintes mécaniques ou à des défauts ...
        </p>
    </div>
</a>