<div class="col-xs-12 col-sm-12 col-md-12 no-gutters">
    <a href="" class="pub-style">
        <img class="zoom-img" src="{{ bootstrap("img/main/img_300_500.png") }}" alt="" height="510">
        <div class="left-badge">ENVIRONNEMENT</div>
        <div class="acceuil-title"><strong>ECOPHYTO</strong> : les pesticides continuent leur expansion !</div>
    </a>
</div>