<a href="" class="pub-style haute-img">
    <img src="{{ bootstrap("img/main/img_300_500.png") }}" alt="" height="510">
    <div class="left-badge">ENVIRONNEMENT</div>
    <div class="acceuil-title"><strong>ECOPHYTO</strong> : les pesticides continuent leur expansion !</div>
    <div class="picto-plus-zoom"></div>
</a>