{# wk-template : accueil.html.twig #}
{# wk-description : Page d'accueil du site #}
{% extends 'base.html.twig' %}

{% block body %}
<!--=== Content Part  ===-->
<div class="container slider-margin-top">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 no-gutters">
                    {{ module('actualite/article-300x250') }}
                    {{ module('actualite/article-300x250') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}