{# wk-template : domaine.html.twig #}
{# wk-description : Page domaine du site #}
{% extends 'base.html.twig' %}

{% block body %}
    <!--=== Content Part  ===-->
    <div class="container slider-margin-top">

        <!--FAVORIS ET IMPRIMER-->
        <div class="container margin-bottom-50">
            <div class="row margin-left-right">
                <p class="text-right margin-right-6">
                    <a class="act margin-right-20" href="javascript:alert('Pour ajouter cette recherche à vos favoris, vous devez être identifié');" title="Pour ajouter cette recherche à vos favoris, vous devez être identifié">Favoris</a>
                    <a href="javascript:window.print()">Imprimer</a>
                </p>
            </div>
        </div>

        <!--BARRE DE RECHERCHE-->
        <!--
        <div class="search-block-v2">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                        <div id="module-recherche">
                            {{ module("recherche/recherche") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <!--END OF BARRE DE RECHERCHE-->

        <!--NOMBRE RESULTATS-->
        <div class="container">
            <div class="row results-number">
                <h2 class="text-red text-center margin-bottom-20 padding-bottom-20 font-size-18 font-family-myriadpro-semibold"><span class="font-size-22">2263</span> résultats pour 'Risques chimiques et environnement international sélectionné'</h2>
            </div>
        </div>

        <!-- PARTIE RECHERCHE -->
        <div class="container s-results margin-bottom-50">
            <div class="row">

                <!--COLUMN LEFT-->
                <div class="col-md-4 hidden-xs hidden-sm related-search">
                    <div class="row">
                        <div class="col-md-12">
                            {{ module("recherche/recherche-avancee") }}
                        </div>
                        <div class="col-md-12 margin-top-30">
                            {{ module("recherche/filtre") }}
                        </div>
                    </div>
                </div><!--/col-md-3-->
                <!--END OF COLUMN LEFT-->

                <!--COLUMN RIGHT-->
                <div class="col-md-8">

                    <!--METTRE LE BANDEAU GRIS ICI-->
                    <ul class="row list-unstyled color-f4f3f3 padding-10">
                        <li class="col-md-2">
                            <a href="#">> Voir mes favoris</a>
                        </li>
                        <li class="col-md-3">
                            <a href="#">> Voir mon historique</a>
                        </li>
                        <li class="col-md-5 center">
                            Trier par :
                            <select onchange="window.location.href=this.value;">
                                <option value="/search.html?advancedSearch=true&amp;limit=10&amp;sort=score+desc">Pertinence</option>
                                <option value="/search.html?advancedSearch=true&amp;limit=10&amp;sort=g_date+asc">Date de publication : les plus anciens</option>
                                <option value="/search.html?advancedSearch=true&amp;limit=10&amp;sort=g_date+desc">Date de publication : les plus récents</option>
                                <option value="/search.html?advancedSearch=true&amp;limit=10&amp;sort=g_title_sort+asc">Titre : croissant</option>
                                <option value="/search.html?advancedSearch=true&amp;sort=g_title_sort+desc&amp;limit=10">Titre : décroissant</option>
                            </select>
                        </li>

                        <li class="col-md-2">
                            Afficher :
                            <select onchange="window.location.href=this.value;">
                                <option value="/search.html?advancedSearch=true&amp;limit=10" selected="selected">10</option>
                                <option value="/search.html?advancedSearch=true&amp;limit=20">20</option>
                                <option value="/search.html?advancedSearch=true&amp;limit=50">50</option>
                            </select>
                        </li>
                    </ul>

                    <ul class="row list-unstyled margin-top-30">
                        <li class="col-md-4">
                            <div class="checkbox margin-0">
                                <label for="actions-select-all">
                                    <input id="actions-select-all" type="checkbox" onclick="selectAll();">
                                    Sélectionner tout
                                </label>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div>
                                <a onclick="exportSelection();" style="text-decoration:underline;">> Exporter la(les) référence(s) sélectionnée(s)</a>
                            </div>
                        </li>
                        <li class="col-md-4 pull-right no-gutters-right">
                            <div>
                                <form action="" method="" class="input-group">
                                    <input class="form-control search-bar-2" placeholder="Rechercher dans les résultats" type="text" />
                                        <span class="input-group-btn">
                                            <button class="btn-u bg-color-grey-eti search-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                </form>
                            </div>
                        </li>
                    </ul>

                    <!-- Begin Inner Results -->
                    <div class="inner-results row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label for="#">
                                    <input type="checkbox" value="#" id="#">
                                    image à rajouter
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <ul class="list-inline">
                                <li>Archive</li>|
                                <li><a href="#">10 sept 2012</a></li>|
                                <li><a href="#">Réf : J3256</a></li>
                            </ul>
                            <h3><a href="#" class="font-family-myriadpro-semibold text-red font-size-13">Réactions de synthèse organique en liquides ioniques</a></h3>
                            <p class="font-size-13 dark-grey-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                            <ul class="list-inline up-ul">
                                <li><a href="#">Environnement - Sécurité</a></li>
                                <li></li><a href="#">> Sécurité et gestion des risques</a></li>
                                <li></li><a href="#">> Maîtriser le risque chimique - management, santé et sécurité dans l'entreprise</a></li>
                            </ul>
                            <ul class="list-inline up-ul">
                                <li>> Dans : <span>Production de froid mécanique</span></li>|
                                <li>Réf : J2365</li>
                            </ul>
                            <p>Un panorama complet des machines frigorifiques industrielles</p>
                        </div>
                    </div>
                    <!-- Begin Inner Results -->

                    <hr>

                    <!-- Begin Inner Results -->
                    <div class="inner-results row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label for="#">
                                    <input type="checkbox" value="#" id="#">
                                    image à rajouter
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <ul class="list-inline">
                                <li>Archive</li>|
                                <li><a href="#">10 sept 2012</a></li>|
                                <li><a href="#">Réf : J3256</a></li>
                            </ul>
                            <h3><a href="#" class="font-family-myriadpro-semibold text-red font-size-13">Réactions de synthèse organique en liquides ioniques</a></h3>
                            <p class="font-size-13 dark-grey-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                            <ul class="list-inline up-ul">
                                <li><a href="#">Environnement - Sécurité</a></li>
                                <li></li><a href="#">> Sécurité et gestion des risques</a></li>
                                <li></li><a href="#">> Maîtriser le risque chimique - management, santé et sécurité dans l'entreprise</a></li>
                            </ul>
                            <ul class="list-inline up-ul">
                                <li>> Dans : <span>Production de froid mécanique</span></li>|
                                <li>Réf : J2365</li>
                            </ul>
                            <p>Un panorama complet des machines frigorifiques industrielles</p>
                        </div>
                    </div>
                    <!-- Begin Inner Results -->

                    <hr>

                    <!-- Begin Inner Results -->
                    <div class="inner-results row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label for="#">
                                    <input type="checkbox" value="#" id="#">
                                    image à rajouter
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <ul class="list-inline">
                                <li>Archive</li>|
                                <li><a href="#">10 sept 2012</a></li>|
                                <li><a href="#">Réf : J3256</a></li>
                            </ul>
                            <h3><a href="#" class="font-family-myriadpro-semibold text-red font-size-13">Réactions de synthèse organique en liquides ioniques</a></h3>
                            <p class="font-size-13 dark-grey-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                            <ul class="list-inline up-ul">
                                <li><a href="#">Environnement - Sécurité</a></li>
                                <li></li><a href="#">> Sécurité et gestion des risques</a></li>
                                <li></li><a href="#">> Maîtriser le risque chimique - management, santé et sécurité dans l'entreprise</a></li>
                            </ul>
                            <ul class="list-inline up-ul">
                                <li>> Dans : <span>Production de froid mécanique</span></li>|
                                <li>Réf : J2365</li>
                            </ul>
                            <p>Un panorama complet des machines frigorifiques industrielles</p>
                        </div>
                    </div>
                    <!-- Begin Inner Results -->

                    <hr>

                    <!-- Begin Inner Results -->
                    <div class="inner-results row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label for="#">
                                    <input type="checkbox" value="#" id="#">
                                    image à rajouter
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <ul class="list-inline">
                                <li>Archive</li>|
                                <li><a href="#">10 sept 2012</a></li>|
                                <li><a href="#">Réf : J3256</a></li>
                            </ul>
                            <h3><a href="#" class="font-family-myriadpro-semibold text-red font-size-13">Réactions de synthèse organique en liquides ioniques</a></h3>
                            <p class="font-size-13 dark-grey-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                            <ul class="list-inline up-ul">
                                <li><a href="#">Environnement - Sécurité</a></li>
                                <li></li><a href="#">> Sécurité et gestion des risques</a></li>
                                <li></li><a href="#">> Maîtriser le risque chimique - management, santé et sécurité dans l'entreprise</a></li>
                            </ul>
                            <ul class="list-inline up-ul">
                                <li>> Dans : <span>Production de froid mécanique</span></li>|
                                <li>Réf : J2365</li>
                            </ul>
                            <p>Un panorama complet des machines frigorifiques industrielles</p>
                        </div>
                    </div>
                    <!-- Begin Inner Results -->

                    <div class="margin-bottom-30"></div>

                    <div class="text-left">
                        <ul class="pagination">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">157</a></li>
                            <li><a href="#">158</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END OF COLUMN RIGHT -->

            </div>
        </div>


        <div id="menu-smint" class="tab-v1 tab-domaines">
            <div id="sub-menu" class="subMenu margin-bottom-20" style="position: fixed; margin-top: 0px; top: 0px; left: 0px;">
                <div class="inner">
                    <a href="#documents-smint" class="subNavBtn active pull-left" id="documents-smint">Offres ressources documentaires</a>
                    <a href="#downloads-smint" class="subNavBtn" id="downloads-smint">Téléchargements gratuits (PDF)</a>
                    <a href="#actualites-smint" class="subNavBtn" id="actualites-smint">Dernières actualités</a>
                    <a href="#conferences-smint" class="subNavBtn" id="conferences-smint">Conférences en ligne</a>
                    <a href="#rien-smint" class="subNavBtn" id="rien-smint">Formations</a>
                    <a href="javascript:void(0);" class="btn menu-button dropdown-toggle extLink" data-toggle="dropdown">
                        <i class="fa fa-angle-down menu-icon"></i>
                    </a>
                    <ul class="dropdown-menu pull-right pop-up-menu list-unstyled link-list-cstm padding-bottom-0 padding-top-0">
                        <li onclick="$('.documents-smint').ScrollTo();"><p id="d-documents" class="pop-up-style margin-top-5 margin-bottom-5">Offres ressources documentaires</p></li>
                        <li onclick="$('.downloads-smint').ScrollTo();"><p id="d-downloads" class="pop-up-style margin-top-5 margin-bottom-5">Téléchargements gratuits (PDF)</p></li>
                        <li onclick="$('.actualites-smint').ScrollTo();"><p id="d-actualites" class="pop-up-style margin-top-5 margin-bottom-5">Dernières actualités</p></li>
                        <li onclick="$('.conferences-smint').ScrollTo();"><p id="d-conferences" class="pop-up-style margin-top-5 margin-bottom-5">Conférences en ligne</p></li>
                    </ul>
                </div>
            </div>

            <div class="bottom-bloc">
                <hr id="hr-separator" class=" hidden-md hidden-lg ">
                <!--=== 3 blocs ===-->
                {{ module ("reassurance/reassurance2") }}
                <!--=== End 3 blocs ===-->
            </div>
        </div>
{% endblock %}