<li class="list-group-item list-toggle active filtre col-sm-6 col-md-6 col-lg-12">

    <div class="panel">
        <div class="panel-title">
            <a data-toggle="collapse" href="#menuFiltre" class="font-family-myriadpro-semibold title-element uppercase-text">Filtrer par<i id="flecheFiltre" class="fa fa-angle-up pull-right"></i></a>
        </div>
        <div id="menuFiltre" class="list-group collapse in">
            <ul>
                <li>
                    <div class="padding-10">
                        <fieldset class="form-group">
                            <div class="checkbox">
                                <ul class="list-unstyled bg-color-white">
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label class="section-title font-family-myriadpro-semibold"><a href="#">DOMAINES D'EXPERTISE</a></label>
                                        <ul class="list-unstyled margin-top-10">
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Sciences fondamentales (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Génie industriel (151)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Innovations (145)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Environnement - Sécurité (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Énergies (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Matériaux (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Mesures - Analyses (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Procédés Chimie - Bio - Agro (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Mécanique (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Electronique - Photonique (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Technologies de l'information (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Ingénierie des transports (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Construction et travaux publics (46)</a></label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>

                        <hr>

                        <fieldset class="form-group">
                            <div class="checkbox">
                                <ul class="list-unstyled bg-color-white">
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label class="section-title font-family-myriadpro-semibold"><a href="#">SECTEURS</a></label>
                                        <ul class="list-unstyled margin-top-10">
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Aérospatial (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Agroalimentaire (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Automobile (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Eco-industries (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Equipements industriels (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Plasturgie (46)</a></label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>

                        <hr>

                        <fieldset class="form-group">
                            <div class="checkbox">
                                <ul class="list-unstyled bg-color-white">
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label class="section-title font-family-myriadpro-semibold"><a href="#">TYPES DE CONTENUS</a></label>
                                        <ul class="list-unstyled margin-top-10">
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Ressources documentaires (46)</a></label>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Bases documentaires (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Articles de référence (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Fiches pratiques (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Articles recherche et innovation (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Articles archivés (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Dossiers d'actualité (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Livres blancs (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Outils et média (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Termes techniques (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Conférences en ligne (46)</a></label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-unstyled bg-color-white">
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Formation (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Conseil (46)</a></label>
                                            </li>
                                            <li>
                                                <input type="checkbox" value="" />
                                                <label><a href="#">Autre produits (46)</a></label>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Evalexper (46)</a></label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" value="" />
                                                        <label><a href="#">Boite à outils (46)</a></label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function (){
            jQuery('#menuFiltre').on('shown.bs.collapse', function () {
                jQuery('#flecheFiltre').removeClass('fa-angle-down').addClass('fa-angle-up');
            })
            jQuery('#menuFiltre').on('hidden.bs.collapse', function () {
                jQuery('#flecheFiltre').removeClass('fa-angle-up').addClass('fa-angle-down');
            })
        });
    </script>
</li>
