<div class="row">
    <div class="hidden-sx hidden-sm col-md-12 filtre">
        <div class="<!--resize-314--> border-grey">
            <p class="bloc-toogle">
                <a href="#">
                    <span class="title-element">FILTRE PAR</span>
                    <i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
                </a>
            </p>
            <div>
                <form id="#" method="GET" action="#" class="sky-form">
                    <div class="checkbox">
                        <ul class="list-unstyled">
                            <li>
                                <label class="section-title font-family-myriadpro-semibold">
                                    <input type="checkbox" value="" />
                                    DOMAINES D'EXPERTISE
                                </label>
                                <ul class="list-unstyled margin-top-10">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Sciences fondamentales (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Génie industriel (151)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Innovation (145)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Environnement - Sécurité (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Énergies (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Matériaux (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Mesures - Analyses (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Procédés Chimie - Bio - Agro (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Mécanique (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Électronique - Photonique (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Technologies de l'information (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Ingénierie des transports (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Construction et travaux publics (46)
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="checkbox">
                        <ul class="list-unstyled">
                            <li>
                                <label class="section-title font-family-myriadpro-semibold">
                                    <input type="checkbox" value="" />
                                    SECTEURS
                                </label>
                                <ul class="list-unstyled margin-top-10">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Aérospatial (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Agroalimentaire (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Automobile (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Eco-industries (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Equipements industriels (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Plasturgie (46)
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="checkbox">
                        <ul class="list-unstyled">
                            <li>
                                <label class="section-title font-family-myriadpro-semibold">
                                    <input type="checkbox" value="" />
                                    TYPES DE CONTENUS
                                </label>
                                <ul class="list-unstyled margin-top-10">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Ressources documentaires (46)
                                        </label>
                                        <ul class="list-unstyled">
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Bases documentaires (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Articles de référence (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Fiches pratiques (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Articles recherche et innovation (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Articles archivés (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Dossiers d'actualité (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Livres blancs (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Outils et média (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Termes techniques (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Conférences en ligne (46)
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="list-unstyled">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Formation (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Conseil (46)
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="" />
                                            Autre produits (46)
                                        </label>
                                        <ul class="list-unstyled">
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Evalexper (46)
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="" />
                                                    Boite à outils (46)
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

