    <!-- Buttons UI -->
    <li class="list-group-item list-toggle active filtre margin-top-30">
        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-buttons" class="title-element" aria-expanded="true">Filtrer par</a>
        <ul id="collapse-buttons" class="collapse in" aria-expanded="true">
            <li>
                <div class="padding-10">
                    <fieldset class="form-group">
                        <div class="checkbox">
                            <ul class="list-unstyled">
                                <li>
                                    <input type="checkbox" value="" />
                                    <label class="section-title font-family-myriadpro-semibold">DOMAINES D'EXPERTISE</label>
                                    <ul class="list-unstyled margin-top-10">
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Sciences fondamentales (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Génie industriel (151)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Innovation (145)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Environnement - Sécurité (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Énergies (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Matériaux (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Mesures - Analyses (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Procédés Chimie - Bio - Agro (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Mécanique (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Électronique - Photonique (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Technologies de l'information (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Ingénierie des transports (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Construction et travaux publics (46)</label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </fieldset>

                    <hr>

                    <fieldset class="form-group">
                        <div class="checkbox">
                            <ul class="list-unstyled">
                                <li>
                                    <input type="checkbox" value="" />
                                    <label class="section-title font-family-myriadpro-semibold">SECTEURS</label>
                                    <ul class="list-unstyled margin-top-10">
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Aérospatial (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Agroalimentaire (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Automobile (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Eco-industries (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Equipements industriels (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Plasturgie (46)</label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </fieldset>

                    <hr>

                    <fieldset class="form-group">
                        <div class="checkbox">
                            <ul class="list-unstyled">
                                <li>
                                    <input type="checkbox" value="" />
                                    <label class="section-title font-family-myriadpro-semibold">TYPES DE CONTENUS</label>
                                    <ul class="list-unstyled margin-top-10">
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Ressources documentaires (46)</label>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Bases documentaires (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Articles de référence (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Fiches pratiques (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Articles recherche et innovation (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Articles archivés (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Dossiers d'actualité (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Livres blancs (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Outils et média (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Termes techniques (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Conférences en ligne (46)</label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Formation (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Conseil (46)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="" />
                                            <label>Autre produits (46)</label>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Evalexper (46)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" value="" />
                                                    <label>Boite à outils (46)</label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </li>
        </ul>
    </li>


<!--
<div class="filtre border-grey">
    <div class="bloc-toogle">
        <a class="margin-0 accordion-toggle font-family-myriadpro-semibold" data-toggle="collapse" href="#collapse-0">
            <span class="title-element">FILTRE PAR</span>
            <i id="fleche-offre" class="fa fa-angle-down pull-right"></i>
        </a>
    </div>
    <div class="padding-10">
        <fieldset class="form-group">
            <div class="checkbox">
                <ul class="list-unstyled">
                    <li>
                        <input type="checkbox" value="" />
                        <label class="section-title font-family-myriadpro-semibold">DOMAINES D'EXPERTISE</label>
                        <ul class="list-unstyled margin-top-10">
                            <li>
                                <input type="checkbox" value="" />
                                <label>Sciences fondamentales (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Génie industriel (151)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Innovation (145)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Environnement - Sécurité (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Énergies (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Matériaux (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Mesures - Analyses (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Procédés Chimie - Bio - Agro (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Mécanique (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Électronique - Photonique (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Technologies de l'information (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Ingénierie des transports (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Construction et travaux publics (46)</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
            <div class="checkbox">
                <ul class="list-unstyled">
                    <li>
                        <input type="checkbox" value="" />
                        <label class="section-title font-family-myriadpro-semibold">SECTEURS</label>
                        <ul class="list-unstyled margin-top-10">
                            <li>
                                <input type="checkbox" value="" />
                                <label>Aérospatial (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Agroalimentaire (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Automobile (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Eco-industries (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Equipements industriels (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Plasturgie (46)</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </fieldset>

        <hr>

        <fieldset class="form-group">
            <div class="checkbox">
                <ul class="list-unstyled">
                    <li>
                        <input type="checkbox" value="" />
                        <label class="section-title font-family-myriadpro-semibold">TYPES DE CONTENUS</label>
                        <ul class="list-unstyled margin-top-10">
                            <li>
                                <input type="checkbox" value="" />
                                <label>Ressources documentaires (46)</label>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Bases documentaires (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Articles de référence (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Fiches pratiques (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Articles recherche et innovation (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Articles archivés (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Dossiers d'actualité (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Livres blancs (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Outils et média (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Termes techniques (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Conférences en ligne (46)</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox" value="" />
                                <label>Formation (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Conseil (46)</label>
                            </li>
                            <li>
                                <input type="checkbox" value="" />
                                <label>Autre produits (46)</label>
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Evalexper (46)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" value="" />
                                        <label>Boite à outils (46)</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>
</div>
-->
