<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
    <div class="input-group">
        <input class="form-control search-bar-2" placeholder="Tapez votre recherche ici" type="text">
            <span class="input-group-btn">
                <button class="btn-u bg-color-red-eti search-btn" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
    </div>
    <p class="text-right margin-top-10 margin-bottom-0"><a href="#"><span class="color-red-eti"> > Recherche avancée</span></a></p>
</div>