<form action="" method="" class="input-group">
    <input class="form-control search-bar-2 letter-spacing-110" placeholder="Tapez votre recherche ici" type="text">
    <span class="input-group-btn">
        <button class="btn-u bg-color-red-eti search-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </span>
</form>
<p class="text-right margin-top-10 margin-bottom-0"><a href="#"><span class="color-red-eti"> > Recherche avancée</span></a></p>