<div class="cadre-downloads">
    <h5>Instantanés techniques:</h5>
    <h3 class="title-downloads-panel color-red-eti">les essentiels de la course à l'innovation</h3>
    <img class="img-responsive download-panel-img" src="assets/img/main/img18.jpg">
    <p>La rédac' d'instantanées techniques vous propose un tour d'horizon.</p>
</div>