<div class="cadre-downloads">
    <a href="#" class="book">
        <div class="left-badge">Instantanés techniques</div>
        <p class="text-right padding-top-8 padding-right-15 letter-spacing-50">Février 2016</p>
        <div class="row padding-top-20">
            <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="border-red"></div>
                <img class="border-red shadow-red margin-left-20" src="{{ bootstrap("img/main/img18.jpg") }}" width="88" height="119">
            </div>
            <h3 class="col-xs-6 col-sm-6 col-md-6 title-downloads-panel color-red-eti">Les essentiels de la course à l'innovation</h3>
        </div>
        <p class="padding-top-20 padding-left-20 margin-bottom-10 letter-spacing-75">Les Éditions Techniques de l'Ingénieur vous offrent les dossiers spéciaux sur des sujets variés, à télécharger gratuitement...</p>
    </a>
</div>