<!-- mode abonné-->
<div class="row">
    <div class="col-xs-12 col-md-2">
        <p class="text-center margin-top-5 margin-bottom-0">
            <img src="{{ media("newsletter-abo.png") }}">
        </p>
    </div>
    <div class="col-xs-12 col-md-10">
        <h3 class="color-blue-eti text-center font-family-myriadpro-bold letter-spacing-110">VOS NEWSLETTERS GRATUITES !</h3>
        <div class="row">
            <form action="" method="">
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                    <p class="newsletter-text text-left margin-top-25 letter-spacing-110 line-height-16 margin-bottom-5 font-size-13">Choisissez vos inscriptions aux newsletters du magazine d'actualité et Info mises à jour des ressources documentaire.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 no-gutters-md no-gutters-lg text-center">
                    <a href="/myti/newsletter.html" class="btn-u btn-brd btn-u-blue btn-u-sm color-blue-eti btn-center letter-spacing-75 margin-top-25" type="button"><i class="fa fa-fa fa-arrow-right margin-right-5"></i> GÉRER MES NEWSLETTERS</a>
                </div>
            </form>
        </div>
    </div>
</div>