<div class="row">
    <div class="col-xs-12 col-md-2">
        <p class="text-center">
            <img src="assets/img/newsletter-2.png" class="md-margin-left-60">
        </p>
    </div>
    <div class="col-xs-12 col-md-8">
        <h3 class="color-red-eti text-center">INSCRIVEZ-VOUS AUX NEWSLETTERS GRATUITES !</h3>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="newsletter-text text-left margin-left-70  margin-top-25 ">Inscrivez-vous gratuitement aux newsletters du magazine d'actualité et Info mises à jour des ressources documentaire.</p>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-6">
                <input class="form-control input-srch-col margin-top-25 search-bar newsletter-input" placeholder="Saisissez votre email" type="text">
            </div>
            <div class="col-xs-12 hidden-xs col-sm-3 hidden-md hidden-lg">
                <button class="btn-u btn-brd btn-u-red btn-u-sm color-red-eti margin-top-25" type="button"><i class="fa fa-fa fa-chevron-right margin-right-5"></i> SOUSCRIRE</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 hidden-sm">
        <p class="text-center">
            <button class="btn-u btn-brd btn-block btn-u-red btn-u-sm color-red-eti margin-top-newsletter" type="button"><i class="fa fa-fa fa-chevron-right margin-right-5"></i> SOUSCRIRE</button>
        </p>
    </div>
</div>